demos/watson/flows.json
[{"id":"18e393cc.2511d4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6e99437.9df403c","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"b30e3901.2d4168","type":"http in","z":"18e393cc.2511d4","name":"","url":"test","method":"get","upload":false,"swaggerDoc":"","x":320,"y":880,"wires":[["72dbbe2b.baf658"]]},{"id":"7a83dbce.ad0894","type":"http response","z":"18e393cc.2511d4","name":"","statusCode":"","headers":{},"x":910,"y":880,"wires":[]},{"id":"89a6ec3e.dd5338","type":"function","z":"18e393cc.2511d4","name":"","func":"msg.url = flow.get(\"durl\") + \"/v1/environments?version=2019-04-30\";\nmsg.headers = flow.get(\"dauth\");\nmsg.payload = {\n  \"name\": flow.get(\"company\") + \"_environment\",\n  \"description\": flow.get(\"company\") +\" Discovery environment\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":340,"wires":[["f1585a66.378c98"]]},{"id":"f1585a66.378c98","type":"http request","z":"18e393cc.2511d4","name":"post","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":270,"y":340,"wires":[["7ffcdc3e.f143e4"]]},{"id":"20cef074.0d04f","type":"json","z":"18e393cc.2511d4","name":"","property":"payload","action":"","pretty":false,"x":650,"y":340,"wires":[["5df28b84.3cfc5c"]]},{"id":"f44f218b.7e9518","type":"http request","z":"18e393cc.2511d4","name":"get","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":530,"y":340,"wires":[["20cef074.0d04f"]]},{"id":"7ffcdc3e.f143e4","type":"function","z":"18e393cc.2511d4","name":"","func":"msg2 = {};\nmsg2.iterator = msg.iterator;\nmsg2.m = msg.m;\nmsg2.url= flow.get(\"durl\") + \"/v1/environments?version=2019-04-30\";\nmsg2.headers = flow.get(\"dauth\");\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":340,"wires":[["f44f218b.7e9518"]]},{"id":"5e64dcc1.b13af4","type":"function","z":"18e393cc.2511d4","name":"","func":"flow.set(\"denv\", msg.payload.environments[1].environment_id);\nmsg2 = {};\nmsg2.iterator = msg.iterator;\nmsg2.m = msg.m;\nmsg2.url= flow.get(\"durl\") + \"/v1/environments/\" + flow.get(\"denv\") + \"/configurations?version=2019-04-30\";\nmsg2.headers = flow.get(\"dauth\");\n\n\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":340,"wires":[["db8fc22a.93bd58"]]},{"id":"db8fc22a.93bd58","type":"http request","z":"18e393cc.2511d4","name":"get","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":1090,"y":340,"wires":[["5cd4bdc9.11b2c4"]]},{"id":"f91e39eb.5eb55","type":"function","z":"18e393cc.2511d4","name":"","func":"flow.set(\"dconf\", msg.payload.configurations[0].configurations);\nmsg2 = {};\nmsg2.iterator = msg.iterator;\nmsg2.m = msg.m;\nmsg2.url= flow.get(\"durl\") + \"/v1/environments/\" + flow.get(\"denv\") + \"/collections?version=2019-04-30\";\nmsg2.headers = flow.get(\"dauth\");\nmsg2.payload = {\n  \"name\": flow.get(\"company\") + \"_collection\",\n  \"description\": flow.get(\"company\") +\" collection for website data\",\n  \"configuration_id\": flow.get(\"dconf\")\n};\n\n\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":400,"wires":[["1e345a55.0e8f6e"]]},{"id":"1e345a55.0e8f6e","type":"http request","z":"18e393cc.2511d4","name":"post","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":390,"y":400,"wires":[["fbd29110.6022e8"]]},{"id":"b0b6af19.924ff","type":"json","z":"18e393cc.2511d4","name":"","property":"payload","action":"","pretty":false,"x":790,"y":400,"wires":[["32da5b2b.eafed4"]]},{"id":"5cd4bdc9.11b2c4","type":"json","z":"18e393cc.2511d4","name":"","property":"payload","action":"","pretty":false,"x":130,"y":400,"wires":[["f91e39eb.5eb55"]]},{"id":"13e812a.d83dced","type":"http request","z":"18e393cc.2511d4","name":"get","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":650,"y":400,"wires":[["b0b6af19.924ff"]]},{"id":"fbd29110.6022e8","type":"function","z":"18e393cc.2511d4","name":"","func":"msg2 = {};\nmsg2.iterator = msg.iterator;\nmsg2.m = msg.m;\nmsg2.url= flow.get(\"durl\") + \"/v1/environments/\" + flow.get(\"denv\") + \"/collections?version=2019-04-30\";\nmsg2.headers = flow.get(\"dauth\");\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":400,"wires":[["13e812a.d83dced"]]},{"id":"caebba87.9fb3a8","type":"function","z":"18e393cc.2511d4","name":"","func":"flow.set(\"dcoll\", msg.payload.collections[0].collection_id);\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":460,"wires":[["a80cca54.0641f"]]},{"id":"8a6ce1ff.132d68","type":"start-up-trigger","z":"18e393cc.2511d4","x":140,"y":280,"wires":[["54f88f66.def8a","eeec3ca2.0d1f5","a04c755c.ebd518","627a1363.c5f444","353561d3.ce6b36","10d3779e.376a1","f5e59c3a.0dfd9","e92bdb35.de956","89a6ec3e.dd5338"]]},{"id":"54f88f66.def8a","type":"function","z":"18e393cc.2511d4","name":"poll","func":"setInterval(function(){\n    var msg = {};\n    node.send(msg);\n},60000);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":280,"wires":[["1ae5ad5a.66dc83","a6d949d3.a34b2"]]},{"id":"1ae5ad5a.66dc83","type":"exec","z":"18e393cc.2511d4","command":"find /root/da/crawl -name \"*.json\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"files?","x":470,"y":280,"wires":[["901d697.bd09398"],[],[]]},{"id":"a80cca54.0641f","type":"function","z":"18e393cc.2511d4","name":"","func":"msg.iterator +=1;\n\nif (msg.iterator >= msg.m.length){\n    msg.payload = \"msg.m.length written\";\n    return [null,msg];\n}else{\n    msg.payload = msg.m[msg.iterator];\n    return [msg,null];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":940,"y":460,"wires":[["8885c6ae.cbde48"],["2a3fdebd.aa694a"]]},{"id":"8885c6ae.cbde48","type":"function","z":"18e393cc.2511d4","name":"","func":"msg.filename = msg.payload;\n\nmsg.payload = 'curl -X POST -u \"apikey\":\"' + flow.get(\"dkey\") + '\" -F file=@' + msg.filename + \" '\" + flow.get(\"durl\") + \"/v1/environments/\" + flow.get(\"denv\") + \"/collections/\" + flow.get(\"dcoll\") + \"/documents?version=2019-04-30\" + \"' && mv \" + msg.filename + \" \" + msg.filename + \".uploaded\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":520,"wires":[["64af9bf3.a36e04"]]},{"id":"64af9bf3.a36e04","type":"exec","z":"18e393cc.2511d4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":930,"y":520,"wires":[["a80cca54.0641f"],[],[]]},{"id":"2a3fdebd.aa694a","type":"file","z":"18e393cc.2511d4","name":"","filename":"/root/written","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1130,"y":460,"wires":[[]]},{"id":"eeec3ca2.0d1f5","type":"file in","z":"18e393cc.2511d4","name":"","filename":"watsondiscovery.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":360,"y":120,"wires":[["5de62f23.8366c8"]]},{"id":"5de62f23.8366c8","type":"json","z":"18e393cc.2511d4","name":"","property":"payload","action":"","pretty":false,"x":530,"y":120,"wires":[["986a61a0.41c0d"]]},{"id":"a04c755c.ebd518","type":"file in","z":"18e393cc.2511d4","name":"","filename":"watsonassistant.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":350,"y":80,"wires":[["b20c3a12.2172a8"]]},{"id":"b20c3a12.2172a8","type":"json","z":"18e393cc.2511d4","name":"","property":"payload","action":"","pretty":false,"x":530,"y":80,"wires":[["d917e7e.06dd718"]]},{"id":"986a61a0.41c0d","type":"function","z":"18e393cc.2511d4","name":"","func":"flow.set(\"durl\", msg.payload.url);\nflow.set(\"dkey\",msg.payload.apikey);\nmsg.headers = {\"authorization\": 'Basic ' + Buffer.from(\"apikey:\" + msg.payload.apikey).toString('base64') };\nflow.set(\"dauth\", msg.headers);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":120,"wires":[[]]},{"id":"627a1363.c5f444","type":"file in","z":"18e393cc.2511d4","name":"","filename":"company.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":330,"y":40,"wires":[["6be9991f.fe1d08"]]},{"id":"353561d3.ce6b36","type":"file in","z":"18e393cc.2511d4","name":"","filename":"companyurl.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":340,"y":20,"wires":[["705aecb1.c4f3d4"]]},{"id":"d917e7e.06dd718","type":"function","z":"18e393cc.2511d4","name":"","func":"flow.set(\"waurl\", msg.payload.url);\nflow.set(\"wakey\",msg.payload.apikey);\nmsg.headers = {\"authorization\": 'Basic ' + Buffer.from(\"apikey:\" + msg.payload.apikey).toString('base64') };\nflow.set(\"waauth\", msg.headers);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":80,"wires":[[]]},{"id":"6be9991f.fe1d08","type":"function","z":"18e393cc.2511d4","name":"","func":"flow.set(\"company\", msg.payload.replace(\"\\n\",\"\"));\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":40,"wires":[[]]},{"id":"705aecb1.c4f3d4","type":"function","z":"18e393cc.2511d4","name":"","func":"flow.set(\"companyurl\", msg.payload.replace(\"\\n\",\"\"));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":20,"wires":[[]]},{"id":"32da5b2b.eafed4","type":"function","z":"18e393cc.2511d4","name":"","func":"if(msg.payload.collections.length>0)\n    return [msg, null];\nelse\n    return [null,msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":940,"y":400,"wires":[["caebba87.9fb3a8"],["89a6ec3e.dd5338"]]},{"id":"5df28b84.3cfc5c","type":"function","z":"18e393cc.2511d4","name":"","func":"if(msg.payload.environments.length>1)\n    return [msg, null];\nelse\n    return [null,msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":780,"y":340,"wires":[["5e64dcc1.b13af4"],["89a6ec3e.dd5338"]]},{"id":"ba2d25ab.63f0f8","type":"template","z":"18e393cc.2511d4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n    <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1\" crossorigin=\"anonymous\">\n    <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css\">\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js\"></script>\n<link rel=\"stylesheet\" type=\"text/css\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css\">\n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js\"></script>\n<style>\nbody {\n    background-image: url(\"site.png\");\n    background-size:     cover;                      \n    background-repeat:   no-repeat;\n}\n#wbutton{\n    cursor:pointer;\n    text-align:center;\n    padding:2px 6px 3px;\n    border-radius:4px;\n    text-decoration:none;\n    font-family:IBM Plex Sans,Helvetica Neue,Arial,sans-serif;\n    font-size:small;\n    background:#1c5cfe;\n    color:white;\n    margin:0\n}\n#bwrap{\n    display:none;\n    width:50px;\n    height:50px;\n    min-width:30px;\n    min-height:30px;\n}\n#cch{\n    position:fixed;\n    left:10px;\n    bottom:0px;\n}\n    </style>\n</head><body>\n\n<div id=\"bwrap\">\n    <div aria-label=\"Open the chat window\" class=\"WACLauncher__Button WAC__button--base WAC__button--primary\" id=\"wbutton\" type=\"button\">\n        <svg focusable=\"false\" preserveAspectRatio=\"false\" xmlns=\"http://www.w3.org/2000/svg\" fill=\"currentColor\"  viewBox=\"-5 0 40 40\" aria-hidden=\"true\" class=\"WACLauncher__svg\"><path d=\"M17.74,30,16,29l4-7h6a2,2,0,0,0,2-2V8a2,2,0,0,0-2-2H6A2,2,0,0,0,4,8V20a2,2,0,0,0,2,2h9v2H6a4,4,0,0,1-4-4V8A4,4,0,0,1,6,4H26a4,4,0,0,1,4,4V20a4,4,0,0,1-4,4H21.16Z\"></path>\n        <path d=\"M8 10H24V12H8zM8 16H18V18H8z\"></path>\n        </svg>\n    </div>\n</div>\n<div id=\"cch\">\n    <form action=\"\">\n    <input type=\"color\" id=\"dcolor\" name=\"dcolor\" value=\"#1c5cfe\"><br>\n    </form>\n</div>\n\n<script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js\" integrity=\"sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW\" crossorigin=\"anonymous\"></script>\n<script>\n  inst = null;\n  window.watsonAssistantChatOptions = {\n    integrationID: \"{{integrationID}}\", \n    region: \"us-south\", \n    serviceInstanceID: \"{{serviceInstanceID}}\",\n    showLauncher: false,\n    onLoad: function(instance) { \n        inst = instance;\n        instance.render(); \n        $('#wbutton').draggable().resizable({});\n        $('#bwrap').show();\n        $('#wbutton').click(function() {\n            instance.openWindow();\n        });\n    }\n    };\n  setTimeout(function(){\n    const t=document.createElement('script');\n    t.src=\"https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js\";\n    document.head.appendChild(t);\n  });\n  $('#dcolor').change(function(){\n      $('#wbutton').css(\"background-color\",this.value);\n      inst.updateCSSVariables({\n        '$interactive-01': this.value,\n        '$focus': this.value,\n        '$link-01': this.value,\n        '$inverse-02': this.value\n      });\n  })\n</script>\n</body>","output":"str","x":700,"y":880,"wires":[["7a83dbce.ad0894"]]},{"id":"e21d5f35.294658","type":"http in","z":"18e393cc.2511d4","name":"","url":"site.png","method":"get","upload":false,"swaggerDoc":"","x":330,"y":920,"wires":[["5ba1960c.709eb"]]},{"id":"5ba1960c.709eb","type":"file in","z":"18e393cc.2511d4","name":"","filename":"/root/site.png","format":"","chunk":false,"sendError":false,"encoding":"none","x":540,"y":920,"wires":[["beb4fb51.fe459"]]},{"id":"beb4fb51.fe459","type":"change","z":"18e393cc.2511d4","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":940,"wires":[["7a83dbce.ad0894"]]},{"id":"c10b1f0.d4b3e6","type":"http request","z":"18e393cc.2511d4","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":290,"y":640,"wires":[["b3c46bac.2ac3e8"]]},{"id":"3b0eae1e.76d122","type":"function","z":"18e393cc.2511d4","name":"","func":"\nmsg.url = \"https://daidemos.com/\" + flow.get(\"company\").toLowerCase() + \"-wa.txt\";\nmsg.rejectUnauthorized = false;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":640,"wires":[["c10b1f0.d4b3e6"]]},{"id":"b3c46bac.2ac3e8","type":"switch","z":"18e393cc.2511d4","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":640,"wires":[["f4b96330.1760e8"],[]]},{"id":"f4b96330.1760e8","type":"file","z":"18e393cc.2511d4","name":"","filename":"waids.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":580,"y":640,"wires":[["10d3779e.376a1","d849df49.875af8","89a6ec3e.dd5338"]]},{"id":"72dbbe2b.baf658","type":"change","z":"18e393cc.2511d4","name":"","rules":[{"t":"set","p":"integrationID","pt":"msg","to":"wa-integrationID","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"wa-serviceInstanceID","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":880,"wires":[["ba2d25ab.63f0f8"]]},{"id":"6660dc8f.987874","type":"watson-conversation-v1-workspace-manager","z":"18e393cc.2511d4","name":"WA","cwm-custom-mode":"listWorkspaces","cwm-workspace-id":"","cwm-intent":"","cwm-example":"","cwm-entity":"","cwm-entity-value":"","cwm-dialog-node":"","cwm-export-content":false,"cwm-service-endpoint":"","x":450,"y":520,"wires":[["615ff3ba.e7ffb4"]]},{"id":"615ff3ba.e7ffb4","type":"change","z":"18e393cc.2511d4","name":"","rules":[{"t":"set","p":"wksp","pt":"msg","to":"workspaces[0].workspace_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":580,"wires":[["6d81d721.caf12"]]},{"id":"9aeda6f1.c9cab8","type":"exec","z":"18e393cc.2511d4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"update skill","x":470,"y":580,"wires":[["3b0eae1e.76d122"],[],[]]},{"id":"6d81d721.caf12","type":"function","z":"18e393cc.2511d4","name":"","func":"msg.payload = 'curl -H \"Content-Type: application/json\" -X POST -u \"apikey:' + flow.get(\"wakey\") + '\" -d @/root/assistant.json \"' + flow.get(\"waurl\") + '/v1/workspaces/' + msg.wksp + '?append=false&version=2020-04-01\" && echo done > /root/wadialog';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":580,"wires":[["9aeda6f1.c9cab8"]]},{"id":"a6d949d3.a34b2","type":"exec","z":"18e393cc.2511d4","command":"cat wadialog","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":130,"y":520,"wires":[["26c0014e.8da4de"],[],[]]},{"id":"26c0014e.8da4de","type":"function","z":"18e393cc.2511d4","name":"","func":"if (msg.payload === \"\" && flow.get(\"wakey\")){\n    msg.params = {};\n    msg.params.apikey = flow.get(\"wakey\");\n    return msg;\n}\n    ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":520,"wires":[["6660dc8f.987874"]]},{"id":"10d3779e.376a1","type":"file in","z":"18e393cc.2511d4","name":"waids","filename":"waids.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":310,"y":240,"wires":[["3a0a631e.55d4dc"]]},{"id":"3a0a631e.55d4dc","type":"json","z":"18e393cc.2511d4","name":"","property":"payload","action":"","pretty":false,"x":530,"y":240,"wires":[["58ebe6d0.27cca8"]]},{"id":"58ebe6d0.27cca8","type":"function","z":"18e393cc.2511d4","name":"","func":"flow.set(\"wa-integrationID\", msg.payload.integrationID.replace('\"',\"\"));\nflow.set(\"wa-serviceInstanceID\",msg.payload.serviceInstanceID.replace('\"',\"\"));\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":240,"wires":[[]]},{"id":"86b14695.fcc8f","type":"http request","z":"18e393cc.2511d4","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":450,"y":680,"wires":[[]]},{"id":"d849df49.875af8","type":"function","z":"18e393cc.2511d4","name":"","func":"\nmsg.url = \"https://daidemos.com/log\";\nmsg.rejectUnauthorized = false;\nmsg.payload = {};\nmsg.payload.Log = \"Provision complete! Content loading and model training will occur in the background over the next few hours.\"\nmsg.payload.Instance=flow.get(\"instnum\");\nmsg.payload.complete = true;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":680,"wires":[["86b14695.fcc8f"]]},{"id":"f5e59c3a.0dfd9","type":"file in","z":"18e393cc.2511d4","name":"","filename":"/root/instnum.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":350,"y":160,"wires":[["6b91a45f.2dcbf4"]]},{"id":"6b91a45f.2dcbf4","type":"function","z":"18e393cc.2511d4","name":"","func":"flow.set(\"instnum\", msg.payload.replace(\"\\n\",\"\"));\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":160,"wires":[[]]},{"id":"c4ae0623.7c0718","type":"http in","z":"18e393cc.2511d4","name":"","url":"logo.png","method":"get","upload":false,"swaggerDoc":"","x":340,"y":960,"wires":[["a87605f2.7f3a3"]]},{"id":"a87605f2.7f3a3","type":"file in","z":"18e393cc.2511d4","name":"","filename":"/root/logosmall.png","format":"","chunk":false,"sendError":false,"encoding":"none","x":550,"y":960,"wires":[["beb4fb51.fe459"]]},{"id":"e92bdb35.de956","type":"file in","z":"18e393cc.2511d4","name":"","filename":"wlt.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":310,"y":200,"wires":[["49a20348.4e1e6c"]]},{"id":"49a20348.4e1e6c","type":"json","z":"18e393cc.2511d4","name":"","property":"payload","action":"","pretty":false,"x":530,"y":200,"wires":[["1a07d9c0.2c5866"]]},{"id":"1a07d9c0.2c5866","type":"function","z":"18e393cc.2511d4","name":"","func":"flow.set(\"wlturl\", msg.payload.url);\nflow.set(\"wltkey\",msg.payload.apikey);\nmsg.headers = {\"authorization\": 'Basic ' + Buffer.from(\"apikey:\" + msg.payload.apikey).toString('base64') };\nflow.set(\"wltauth\", msg.headers);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":200,"wires":[[]]},{"id":"9ad0937a.fde5a","type":"http in","z":"18e393cc.2511d4","name":"","url":"translate","method":"post","upload":false,"swaggerDoc":"","x":240,"y":1000,"wires":[["70da327e.ed253c"]]},{"id":"fc76c6fe.dbae9","type":"http request","z":"18e393cc.2511d4","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":590,"y":1000,"wires":[["cefba9be.26e1b8"]]},{"id":"70da327e.ed253c","type":"function","z":"18e393cc.2511d4","name":"","func":"var lang = {\n'es': 'spanish',\n'de': 'german',\n'fr': 'french',\n'ru': 'russian',\n'ko': 'korean'\n}\n\nvar tol = Object.keys(lang).find(key => lang[key] === msg.payload.language);\nvar txt = msg.payload.data.text;\n\nmsg.url= flow.get(\"wlturl\") + \"/v3/translate?version=2018-05-01\";\nmsg.headers = flow.get(\"wltauth\");\nmsg.payload = {\n  \"text\": txt,\n  \"target\": tol,\n  \"source\": \"en\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1000,"wires":[["fc76c6fe.dbae9"]]},{"id":"cefba9be.26e1b8","type":"json","z":"18e393cc.2511d4","name":"","property":"payload","action":"","pretty":false,"x":750,"y":1000,"wires":[["4d8b6d0.84dfb94"]]},{"id":"4d8b6d0.84dfb94","type":"function","z":"18e393cc.2511d4","name":"","func":"try{\n    out = {};\n    out.translation = \"\";\n    var arrayLength = msg.payload.translations.length;\n    for (var i = 0; i < arrayLength; i++) {\n        out.translation = out.translation + msg.payload.translations[i].translation + \". \";\n    }\n    msg.payload = out;\n}catch(fail){}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":1000,"wires":[["7a83dbce.ad0894"]]},{"id":"901d697.bd09398","type":"function","z":"18e393cc.2511d4","name":"","func":"if (msg.payload === \"\")\n    return;\nmsg.m = msg.payload.split(\"\\n\");\nmsg.iterator = -1;\nif (msg.m.length > 0)\n    return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":280,"wires":[["89a6ec3e.dd5338"]]}]
