demos/watson/flows.json
[{"id":"18e393cc.2511d4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6e99437.9df403c","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"b30e3901.2d4168","type":"http in","z":"18e393cc.2511d4","name":"","url":"test","method":"get","upload":false,"swaggerDoc":"","x":200,"y":820,"wires":[["72dbbe2b.baf658"]]},{"id":"7a83dbce.ad0894","type":"http response","z":"18e393cc.2511d4","name":"","statusCode":"","headers":{},"x":1110,"y":1000,"wires":[]},{"id":"89a6ec3e.dd5338","type":"function","z":"18e393cc.2511d4","name":"","func":"msg.url = flow.get(\"durl\") + \"/v1/environments?version=2019-04-30\";\nmsg.headers = flow.get(\"dauth\");\nmsg.payload = {\n  \"name\": flow.get(\"company\") + \"_environment\",\n  \"description\": flow.get(\"company\") +\" Discovery environment\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":340,"wires":[["f1585a66.378c98"]]},{"id":"f1585a66.378c98","type":"http request","z":"18e393cc.2511d4","name":"post","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":270,"y":340,"wires":[["7ffcdc3e.f143e4"]]},{"id":"20cef074.0d04f","type":"json","z":"18e393cc.2511d4","name":"","property":"payload","action":"","pretty":false,"x":650,"y":340,"wires":[["5df28b84.3cfc5c"]]},{"id":"f44f218b.7e9518","type":"http request","z":"18e393cc.2511d4","name":"get","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":530,"y":340,"wires":[["20cef074.0d04f"]]},{"id":"7ffcdc3e.f143e4","type":"function","z":"18e393cc.2511d4","name":"","func":"msg2 = {};\nmsg2.iterator = msg.iterator;\nmsg2.m = msg.m;\nmsg2.url= flow.get(\"durl\") + \"/v1/environments?version=2019-04-30\";\nmsg2.headers = flow.get(\"dauth\");\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":340,"wires":[["f44f218b.7e9518"]]},{"id":"5e64dcc1.b13af4","type":"function","z":"18e393cc.2511d4","name":"","func":"flow.set(\"denv\", msg.payload.environments[1].environment_id);\nmsg2 = {};\nmsg2.iterator = msg.iterator;\nmsg2.m = msg.m;\nmsg2.url= flow.get(\"durl\") + \"/v1/environments/\" + flow.get(\"denv\") + \"/configurations?version=2019-04-30\";\nmsg2.headers = flow.get(\"dauth\");\n\n\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":340,"wires":[["db8fc22a.93bd58"]]},{"id":"db8fc22a.93bd58","type":"http request","z":"18e393cc.2511d4","name":"get","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":1090,"y":340,"wires":[["5cd4bdc9.11b2c4"]]},{"id":"f91e39eb.5eb55","type":"function","z":"18e393cc.2511d4","name":"","func":"flow.set(\"dconf\", msg.payload.configurations[0].configurations);\nmsg2 = {};\nmsg2.iterator = msg.iterator;\nmsg2.m = msg.m;\nmsg2.url= flow.get(\"durl\") + \"/v1/environments/\" + flow.get(\"denv\") + \"/collections?version=2019-04-30\";\nmsg2.headers = flow.get(\"dauth\");\nmsg2.payload = {\n  \"name\": flow.get(\"company\") + \"_collection\",\n  \"description\": flow.get(\"company\") +\" collection for website data\",\n  \"configuration_id\": flow.get(\"dconf\")\n};\n\n\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":400,"wires":[["1e345a55.0e8f6e"]]},{"id":"1e345a55.0e8f6e","type":"http request","z":"18e393cc.2511d4","name":"post","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":390,"y":400,"wires":[["fbd29110.6022e8"]]},{"id":"b0b6af19.924ff","type":"json","z":"18e393cc.2511d4","name":"","property":"payload","action":"","pretty":false,"x":790,"y":400,"wires":[["32da5b2b.eafed4"]]},{"id":"5cd4bdc9.11b2c4","type":"json","z":"18e393cc.2511d4","name":"","property":"payload","action":"","pretty":false,"x":130,"y":400,"wires":[["f91e39eb.5eb55"]]},{"id":"13e812a.d83dced","type":"http request","z":"18e393cc.2511d4","name":"get","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":650,"y":400,"wires":[["b0b6af19.924ff"]]},{"id":"fbd29110.6022e8","type":"function","z":"18e393cc.2511d4","name":"","func":"msg2 = {};\nmsg2.iterator = msg.iterator;\nmsg2.m = msg.m;\nmsg2.url= flow.get(\"durl\") + \"/v1/environments/\" + flow.get(\"denv\") + \"/collections?version=2019-04-30\";\nmsg2.headers = flow.get(\"dauth\");\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":400,"wires":[["13e812a.d83dced"]]},{"id":"caebba87.9fb3a8","type":"function","z":"18e393cc.2511d4","name":"","func":"flow.set(\"dcoll\", msg.payload.collections[0].collection_id);\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":460,"wires":[["a80cca54.0641f"]]},{"id":"8a6ce1ff.132d68","type":"start-up-trigger","z":"18e393cc.2511d4","x":140,"y":280,"wires":[["54f88f66.def8a","eeec3ca2.0d1f5","a04c755c.ebd518","627a1363.c5f444","353561d3.ce6b36","10d3779e.376a1","f5e59c3a.0dfd9","e92bdb35.de956","89a6ec3e.dd5338"]]},{"id":"54f88f66.def8a","type":"function","z":"18e393cc.2511d4","name":"poll","func":"setInterval(function(){\n    var msg = {};\n    node.send(msg);\n},60000);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":280,"wires":[["1ae5ad5a.66dc83","a6d949d3.a34b2"]]},{"id":"1ae5ad5a.66dc83","type":"exec","z":"18e393cc.2511d4","command":"find /root/da/crawl -name \"*.json\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"files?","x":470,"y":280,"wires":[["901d697.bd09398"],[],[]]},{"id":"a80cca54.0641f","type":"function","z":"18e393cc.2511d4","name":"","func":"msg.iterator +=1;\n\nif (msg.iterator >= msg.m.length){\n    msg.payload = \"msg.m.length written\";\n    return [null,msg];\n}else{\n    msg.payload = msg.m[msg.iterator];\n    return [msg,null];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":940,"y":460,"wires":[["8885c6ae.cbde48"],["2a3fdebd.aa694a"]]},{"id":"8885c6ae.cbde48","type":"function","z":"18e393cc.2511d4","name":"","func":"msg.filename = msg.payload;\n\nmsg.payload = 'curl -X POST -u \"apikey\":\"' + flow.get(\"dkey\") + '\" -F file=@' + msg.filename + \" '\" + flow.get(\"durl\") + \"/v1/environments/\" + flow.get(\"denv\") + \"/collections/\" + flow.get(\"dcoll\") + \"/documents?version=2019-04-30\" + \"' && mv \" + msg.filename + \" \" + msg.filename + \".uploaded\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":520,"wires":[["64af9bf3.a36e04"]]},{"id":"64af9bf3.a36e04","type":"exec","z":"18e393cc.2511d4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":930,"y":520,"wires":[["a80cca54.0641f"],[],[]]},{"id":"2a3fdebd.aa694a","type":"file","z":"18e393cc.2511d4","name":"","filename":"/root/written","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1130,"y":460,"wires":[[]]},{"id":"eeec3ca2.0d1f5","type":"file in","z":"18e393cc.2511d4","name":"","filename":"watsondiscovery.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":680,"y":120,"wires":[["5de62f23.8366c8"]]},{"id":"5de62f23.8366c8","type":"json","z":"18e393cc.2511d4","name":"","property":"payload","action":"","pretty":false,"x":850,"y":120,"wires":[["986a61a0.41c0d"]]},{"id":"a04c755c.ebd518","type":"file in","z":"18e393cc.2511d4","name":"","filename":"watsonassistant.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":670,"y":80,"wires":[["b20c3a12.2172a8"]]},{"id":"b20c3a12.2172a8","type":"json","z":"18e393cc.2511d4","name":"","property":"payload","action":"","pretty":false,"x":850,"y":80,"wires":[["d917e7e.06dd718"]]},{"id":"986a61a0.41c0d","type":"function","z":"18e393cc.2511d4","name":"","func":"flow.set(\"durl\", msg.payload.url);\nflow.set(\"dkey\",msg.payload.apikey);\nmsg.headers = {\"authorization\": 'Basic ' + Buffer.from(\"apikey:\" + msg.payload.apikey).toString('base64') };\nflow.set(\"dauth\", msg.headers);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":120,"wires":[[]]},{"id":"627a1363.c5f444","type":"file in","z":"18e393cc.2511d4","name":"","filename":"company.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":650,"y":40,"wires":[["6be9991f.fe1d08"]]},{"id":"353561d3.ce6b36","type":"file in","z":"18e393cc.2511d4","name":"","filename":"companyurl.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":140,"y":20,"wires":[["705aecb1.c4f3d4"]]},{"id":"d917e7e.06dd718","type":"function","z":"18e393cc.2511d4","name":"","func":"flow.set(\"waurl\", msg.payload.url);\nflow.set(\"wakey\",msg.payload.apikey);\nmsg.headers = {\"authorization\": 'Basic ' + Buffer.from(\"apikey:\" + msg.payload.apikey).toString('base64') };\nflow.set(\"waauth\", msg.headers);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":80,"wires":[[]]},{"id":"6be9991f.fe1d08","type":"function","z":"18e393cc.2511d4","name":"","func":"flow.set(\"company\", msg.payload.replace(\"\\n\",\"\"));\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":40,"wires":[[]]},{"id":"705aecb1.c4f3d4","type":"function","z":"18e393cc.2511d4","name":"","func":"flow.set(\"companyurl\", msg.payload.replace(\"\\n\",\"\"));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":20,"wires":[[]]},{"id":"32da5b2b.eafed4","type":"function","z":"18e393cc.2511d4","name":"","func":"if(msg.payload.collections.length>0)\n    return [msg, null];\nelse\n    return [null,msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":940,"y":400,"wires":[["caebba87.9fb3a8"],["89a6ec3e.dd5338"]]},{"id":"5df28b84.3cfc5c","type":"function","z":"18e393cc.2511d4","name":"","func":"if(msg.payload.environments.length>1)\n    return [msg, null];\nelse\n    return [null,msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":780,"y":340,"wires":[["5e64dcc1.b13af4"],["89a6ec3e.dd5338"]]},{"id":"ba2d25ab.63f0f8","type":"template","z":"18e393cc.2511d4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n    <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1\" crossorigin=\"anonymous\">\n    <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css\">\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js\"></script>\n    <script src=\"https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js\"></script>\n    <script src=\"https://github.com/watson-developer-cloud/speech-javascript-sdk/releases/download/v0.39.0/watson-speech.min.js\"></script>\n<link rel=\"stylesheet\" type=\"text/css\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css\">\n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js\"></script>\n<style>\nbody {\n    background-image: url(\"site.png\");\n    background-size:     cover;                      \n    background-repeat:   no-repeat;\n}\n#wbutton{\n    cursor:pointer;\n    text-align:center;\n    padding:2px 6px 3px;\n    border-radius:4px;\n    text-decoration:none;\n    font-family:IBM Plex Sans,Helvetica Neue,Arial,sans-serif;\n    font-size:small;\n    background:#1c5cfe;\n    color:white;\n    margin:0\n}\n#bwrap{\n    display:none;\n    width:50px;\n    height:50px;\n    min-width:30px;\n    min-height:30px;\n}\n#cch{\n    position:fixed;\n    left:10px;\n    bottom:0px;\n}\n    </style>\n</head><body>\n\n<div id=\"bwrap\">\n    <div aria-label=\"Open the chat window\" class=\"WACLauncher__Button WAC__button--base WAC__button--primary\" id=\"wbutton\" type=\"button\">\n        <svg focusable=\"false\" xmlns=\"http://www.w3.org/2000/svg\" fill=\"currentColor\"  viewBox=\"-5 0 40 40\" aria-hidden=\"true\" class=\"WACLauncher__svg\"><path d=\"M17.74,30,16,29l4-7h6a2,2,0,0,0,2-2V8a2,2,0,0,0-2-2H6A2,2,0,0,0,4,8V20a2,2,0,0,0,2,2h9v2H6a4,4,0,0,1-4-4V8A4,4,0,0,1,6,4H26a4,4,0,0,1,4,4V20a4,4,0,0,1-4,4H21.16Z\"></path>\n        <path d=\"M8 10H24V12H8zM8 16H18V18H8z\"></path>\n        </svg>\n    </div>\n</div>\n<div id=\"cch\">\n    <form action=\"\">\n    <input type=\"color\" id=\"dcolor\" name=\"dcolor\" value=\"#1c5cfe\"><br>\n    </form>\n</div>\n\n\n<script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js\" integrity=\"sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW\" crossorigin=\"anonymous\"></script>\n<script>\nvar inst = null;\nvar stttoken = null;\nvar ttstoken = null;\nvar micon = false;\nvar speakeron = false;\nvar stream = null;\nvar audio = null;\nvar lang = {\n'es-ES_EnriqueV3Voice':'spanish',\n'de-DE_BirgitVoice':'german',\n'it-IT_FrancescaV3Voice':'italian',\n'fr-FR_ReneeV3Voice':'french',\n'ja-JP_EmiVoice':'japanese',\n'ko-KR_SiWooVoice':'korean'\n}\nfetch('/api/text-to-speech/token').then(res => res.json()).then(data => ttstoken = data);\nfetch('/api/speech-to-text/token').then(res => res.json()).then(data => stttoken = data);\n\nvar speakerhandler = function () {\n    \n    if(speakeron){\n        $('#WAC__speaker-button').html('<svg focusable=\"false\" preserveAspectRatio=\"xMidYMid meet\" xmlns=\"http://www.w3.org/2000/svg\" fill=\"currentColor\" width=\"24\" height=\"24\" stroke=\"white\" viewBox=\"0 0 75 75\" aria-hidden=\"true\"><path xmlns=\"http://www.w3.org/2000/svg\" d=\"M39.389,13.769 L22.235,28.606 L6,28.606 L6,47.699 L21.989,47.699 L39.389,62.75 L39.389,13.769z\" fill=\"white\" stroke-linejoin=\"round\"/><path xmlns=\"http://www.w3.org/2000/svg\" d=\"m49,26 20,24m0-24-20,24\" fill=\"none\" stroke-width=\"5\" stroke-linecap=\"round\"/></svg>');\n    }else{\n        $('#WAC__speaker-button').html('<svg focusable=\"false\" preserveAspectRatio=\"xMidYMid meet\" xmlns=\"http://www.w3.org/2000/svg\" fill=\"currentColor\" width=\"24\" height=\"24\" stroke=\"white\" viewBox=\"0 0 75 75\" aria-hidden=\"true\"><path xmlns=\"http://www.w3.org/2000/svg\" d=\"M39.389,13.769 L22.235,28.606 L6,28.606 L6,47.699 L21.989,47.699 L39.389,62.75 L39.389,13.769z\" fill=\"white\" stroke-linejoin=\"round\"/><path xmlns=\"http://www.w3.org/2000/svg\" d=\"M48,27.6a19.5,19.5 0 0 1 0,21.4M55.1,20.5a30,30 0 0 1 0,35.6M61.6,14a38.8,38.8 0 0 1 0,48.6\" fill=\"none\" stroke-width=\"5\" stroke-linecap=\"round\"/></svg>');\n    }\n    speakeron = !speakeron;\n}\n\nvar michandler = function () {\n    if(micon){\n        stream.stop();\n        $('#WAC__mic-button').html('<svg focusable=\"false\" preserveAspectRatio=\"xMidYMid meet\" xmlns=\"http://www.w3.org/2000/svg\" fill=\"currentColor\" width=\"24\" height=\"24\" stroke=\"white\" viewBox=\"3 5 14 14\"><defs><clipPath><path d=\"m69.63 12.145h-.052c-22.727-.292-46.47 4.077-46.709 4.122-2.424.451-4.946 2.974-5.397 5.397-.044.237-4.414 23.983-4.122 46.71-.292 22.777 4.078 46.523 4.122 46.761.451 2.423 2.974 4.945 5.398 5.398.237.044 23.982 4.413 46.709 4.121 22.779.292 46.524-4.077 46.761-4.121 2.423-.452 4.946-2.976 5.398-5.399.044-.236 4.413-23.981 4.121-46.709.292-22.777-4.077-46.523-4.121-46.761-.453-2.423-2.976-4.946-5.398-5.397-.238-.045-23.984-4.414-46.71-4.122\"/></clipPath></defs><g transform=\"matrix(.07993 0 0 .07993 6.64 8.198)\" fill=\"white\"><path d=\"m20.722 77.21c-.815-3.259-1.222-6.327-1.222-9.206v-10.43c0-1.412-.516-2.634-1.548-3.666-1.032-1.032-2.254-1.548-3.666-1.548-1.413 0-2.635.516-3.667 1.548-1.032 1.032-1.548 2.254-1.548 3.666v10.429c0 6.03 1.141 11.841 3.422 17.437l8.229-8.23\"/><path d=\"m56 94.07c7.17 0 13.309-2.553 18.412-7.657 5.105-5.104 7.658-11.243 7.658-18.413v-10.429l29.412-29.412c.543-.543.815-1.168.815-1.874 0-.706-.271-1.331-.815-1.874l-6.68-6.681c-.544-.544-1.168-.815-1.875-.815-.705 0-1.33.271-1.873.815l-100.54 100.54c-.543.543-.814 1.168-.814 1.873 0 .707.271 1.332.814 1.875l6.681 6.681c.543.543 1.168.814 1.874.814.706 0 1.331-.271 1.874-.814l20.694-20.694c5.974 3.695 12.356 5.895 19.15 6.6v10.756h-20.857c-1.412 0-2.635.516-3.666 1.548-1.032 1.032-1.549 2.254-1.549 3.666 0 1.411.517 2.635 1.549 3.666 1.031 1.032 2.254 1.549 3.666 1.549h52.14c1.412 0 2.635-.517 3.666-1.549 1.033-1.031 1.549-2.255 1.549-3.666 0-1.412-.516-2.634-1.549-3.666-1.031-1.032-2.254-1.548-3.666-1.548h-20.856v-10.756c11.786-1.303 21.685-6.395 29.697-15.275 8.01-8.88 12.02-19.322 12.02-31.33v-10.431c0-1.412-.516-2.634-1.547-3.666-1.033-1.032-2.255-1.548-3.667-1.548-1.412 0-2.634.516-3.666 1.548-1.032 1.032-1.548 2.254-1.548 3.666v10.429c0 10.05-3.572 18.643-10.714 25.785-7.142 7.142-15.738 10.714-25.786 10.714-5.866 0-11.433-1.384-16.702-4.155l7.821-7.82c2.934 1.031 5.894 1.546 8.881 1.546\"/><path d=\"m71.03 5.02c-4.481-3.205-9.492-4.808-15.03-4.808-7.17 0-13.308 2.554-18.413 7.659-5.105 5.105-7.658 11.243-7.658 18.413v41.714l50.594-50.595c-1.847-5.05-5.01-9.179-9.491-12.383\"/></g></svg>');\n    }else{\n        $('#WAC__mic-button').html('<svg focusable=\"false\" preserveAspectRatio=\"xMidYMid meet\" xmlns=\"http://www.w3.org/2000/svg\" fill=\"currentColor\" width=\"24\" height=\"24\" stroke=\"white\" viewBox=\"0 0 20 20\"><g transform=\"matrix(1.37627 0 0 1.37627-22.282-1422.87)\" fill=\"white\"><g transform=\"matrix(.08575 0 0 .08575 20.15 1037.66)\"><path d=\"m47 94.07c7.17 0 13.307-2.553 18.412-7.657 5.105-5.104 7.658-11.243 7.658-18.413v-41.714c0-7.17-2.551-13.307-7.658-18.413-5.105-5.105-11.242-7.659-18.412-7.659-7.17 0-13.307 2.554-18.413 7.659-5.106 5.105-7.659 11.243-7.659 18.413v41.714c0 7.17 2.554 13.309 7.659 18.413 5.105 5.104 11.243 7.657 18.413 7.657\"/><path d=\"m92.38 53.905c-1.03-1.032-2.254-1.548-3.666-1.548-1.412 0-2.634.516-3.666 1.548-1.032 1.032-1.548 2.254-1.548 3.666v10.429c0 10.05-3.572 18.643-10.714 25.786-7.141 7.143-15.737 10.714-25.786 10.714-10.05 0-18.644-3.571-25.787-10.714-7.142-7.141-10.713-15.737-10.713-25.786v-10.429c0-1.412-.516-2.634-1.548-3.666-1.032-1.032-2.253-1.548-3.666-1.548-1.413 0-2.635.516-3.667 1.548-1.032 1.032-1.548 2.254-1.548 3.666v10.429c0 12 4.01 22.446 12.02 31.33 8.01 8.88 17.91 13.972 29.697 15.275v10.756h-20.857c-1.412 0-2.634.516-3.666 1.548-1.032 1.032-1.548 2.254-1.548 3.666 0 1.411.516 2.635 1.548 3.666 1.032 1.032 2.254 1.549 3.666 1.549h52.14c1.412 0 2.636-.517 3.666-1.549 1.033-1.031 1.55-2.255 1.55-3.666 0-1.412-.517-2.634-1.55-3.666-1.03-1.032-2.254-1.548-3.666-1.548h-20.855v-10.756c11.785-1.303 21.684-6.395 29.696-15.275 8.01-8.88 12.02-19.322 12.02-31.33v-10.429c0-1.412-.517-2.633-1.55-3.666\"/></g><g transform=\"matrix(.07376 0 0 .07376-2.47 1035.14)\"><path d=\"m384.63 18.343c-6.943-4.751-14.57-7.206-22.879-7.365-8.309-.159-16.02 2-23.15 6.485-7.12 4.482-12.355 10.495-15.705 18.04-.284.7-.434 1.404-.447 2.109-.027 1.412.466 2.644 1.478 3.697 1.012 1.051 2.224 1.59 3.636 1.617 2.119.041 3.741-.988 4.868-3.086 1.633-3.01 2.867-5.05 3.702-6.121 3.01-3.963 6.749-7.03 11.218-9.197 4.469-2.169 9.202-3.206 14.198-3.11 4.996.096 9.686 1.312 14.07 3.651 4.384 2.338 8 5.545 10.857 9.619.794 1.101 1.949 3.188 3.466 6.258 1.046 2.139 2.628 3.229 4.746 3.269 1.412.027 2.644-.466 3.695-1.477 1.053-1.013 1.592-2.251 1.62-3.718.012-.652-.112-1.334-.368-2.044-3.06-7.663-8.06-13.872-15.01-18.622\"/><path d=\"m327.53-.187c-10.585 6.697-18.459 15.728-23.62 27.09-.284.7-.434 1.404-.447 2.109-.027 1.412.467 2.644 1.478 3.695 1.012 1.053 2.225 1.592 3.637 1.619 1.955.037 3.578-.991 4.867-3.086.223-.377.52-.98.89-1.815.368-.835.665-1.441.889-1.817 1.404-2.472 2.833-4.672 4.282-6.601 5.069-6.584 11.332-11.681 18.79-15.287 7.457-3.606 15.34-5.329 23.649-5.17 8.31.159 16.12 2.182 23.434 6.07 7.314 3.888 13.379 9.22 18.19 15.994 1.374 1.984 2.716 4.237 4.03 6.76.209.385.482 1 .819 1.85.336.849.609 1.463.82 1.848 1.208 2.142 2.791 3.232 4.745 3.269 1.412.027 2.644-.466 3.695-1.479 1.052-1.011 1.592-2.224 1.619-3.636.014-.705-.109-1.414-.367-2.124-4.722-11.553-12.245-20.879-22.567-27.976-10.321-7.097-21.728-10.763-34.22-11-12.49-.239-24.03 2.988-34.61 9.686\"/></g></g></svg>');\n    \n        stream = WatsonSpeech.SpeechToText.recognizeMicrophone(Object.assign(stttoken, {\n          objectMode: false\n        }));\n        stream.setEncoding('utf8');\n    \n        stream.on('data', function(data) {\n          var msg = {};\n          msg.input = {};\n          msg.input.text = data;\n          inst.send(msg);\n        });\n    }\n    micon = !micon;\n}\n\n  function changeColor(color){\n      $('#wbutton').css(\"background-color\",color);\n      inst.updateCSSVariables({\n        '$interactive-01': color,\n        '$focus': color,\n        '$link-01': color,\n        '$inverse-02': color\n      });\n      \n  }\n  window.watsonAssistantChatOptions = {\n    integrationID: \"{{integrationID}}\", \n    region: \"us-south\", \n    serviceInstanceID: \"{{serviceInstanceID}}\",\n    showLauncher: false,\n    onLoad: function(instance) { \n        inst = instance;\n        inst.render(); \n        instance.on({ type: \"pre:receive\", handler: function(event){\n            var lvoice = false;\n            event.data.output.entities.forEach(element => ((element.entity == \"language\") ? lvoice = element.value : 1));\n            if(lvoice)\n                lvoice = Object.keys(lang).find(key => lang[key] === lvoice);\n            else\n                lvoice = 'en-US_EmilyV3Voice';\n            if (speakeron)\n                event.data.output.generic.forEach(element => WatsonSpeech.TextToSpeech.synthesize(Object.assign(ttstoken, {text: element.text, voice: lvoice})));\n        } });\n        inst.on({ type: \"window:open\", handler: function(){\n            setTimeout(function(){ \n                if(!$(\"#WAC__mic-button\").length){\n                    $('#WAC__inputContainer-TextAreaContainer').append('<button class=\"WAC__button--base WAC__button--primary\" id=\"WAC__mic-button\" type=\"button\" aria-label=\"Click to speak\"><svg focusable=\"false\" preserveAspectRatio=\"xMidYMid meet\" xmlns=\"http://www.w3.org/2000/svg\" fill=\"currentColor\" width=\"24\" height=\"24\" stroke=\"white\" viewBox=\"3 5 14 14\"><defs><clipPath><path d=\"m69.63 12.145h-.052c-22.727-.292-46.47 4.077-46.709 4.122-2.424.451-4.946 2.974-5.397 5.397-.044.237-4.414 23.983-4.122 46.71-.292 22.777 4.078 46.523 4.122 46.761.451 2.423 2.974 4.945 5.398 5.398.237.044 23.982 4.413 46.709 4.121 22.779.292 46.524-4.077 46.761-4.121 2.423-.452 4.946-2.976 5.398-5.399.044-.236 4.413-23.981 4.121-46.709.292-22.777-4.077-46.523-4.121-46.761-.453-2.423-2.976-4.946-5.398-5.397-.238-.045-23.984-4.414-46.71-4.122\"/></clipPath></defs><g transform=\"matrix(.07993 0 0 .07993 6.64 8.198)\" fill=\"white\"><path d=\"m20.722 77.21c-.815-3.259-1.222-6.327-1.222-9.206v-10.43c0-1.412-.516-2.634-1.548-3.666-1.032-1.032-2.254-1.548-3.666-1.548-1.413 0-2.635.516-3.667 1.548-1.032 1.032-1.548 2.254-1.548 3.666v10.429c0 6.03 1.141 11.841 3.422 17.437l8.229-8.23\"/><path d=\"m56 94.07c7.17 0 13.309-2.553 18.412-7.657 5.105-5.104 7.658-11.243 7.658-18.413v-10.429l29.412-29.412c.543-.543.815-1.168.815-1.874 0-.706-.271-1.331-.815-1.874l-6.68-6.681c-.544-.544-1.168-.815-1.875-.815-.705 0-1.33.271-1.873.815l-100.54 100.54c-.543.543-.814 1.168-.814 1.873 0 .707.271 1.332.814 1.875l6.681 6.681c.543.543 1.168.814 1.874.814.706 0 1.331-.271 1.874-.814l20.694-20.694c5.974 3.695 12.356 5.895 19.15 6.6v10.756h-20.857c-1.412 0-2.635.516-3.666 1.548-1.032 1.032-1.549 2.254-1.549 3.666 0 1.411.517 2.635 1.549 3.666 1.031 1.032 2.254 1.549 3.666 1.549h52.14c1.412 0 2.635-.517 3.666-1.549 1.033-1.031 1.549-2.255 1.549-3.666 0-1.412-.516-2.634-1.549-3.666-1.031-1.032-2.254-1.548-3.666-1.548h-20.856v-10.756c11.786-1.303 21.685-6.395 29.697-15.275 8.01-8.88 12.02-19.322 12.02-31.33v-10.431c0-1.412-.516-2.634-1.547-3.666-1.033-1.032-2.255-1.548-3.667-1.548-1.412 0-2.634.516-3.666 1.548-1.032 1.032-1.548 2.254-1.548 3.666v10.429c0 10.05-3.572 18.643-10.714 25.785-7.142 7.142-15.738 10.714-25.786 10.714-5.866 0-11.433-1.384-16.702-4.155l7.821-7.82c2.934 1.031 5.894 1.546 8.881 1.546\"/><path d=\"m71.03 5.02c-4.481-3.205-9.492-4.808-15.03-4.808-7.17 0-13.308 2.554-18.413 7.659-5.105 5.105-7.658 11.243-7.658 18.413v41.714l50.594-50.595c-1.847-5.05-5.01-9.179-9.491-12.383\"/></g></svg></button>');\n                    $('#WAC__inputContainer-TextAreaContainer').append('<button class=\"WAC__button--base WAC__button--primary\" id=\"WAC__speaker-button\" type=\"button\" aria-label=\"Click to hear\"><svg focusable=\"false\" preserveAspectRatio=\"xMidYMid meet\" xmlns=\"http://www.w3.org/2000/svg\" fill=\"currentColor\" width=\"24\" height=\"24\" stroke=\"white\" viewBox=\"0 0 75 75\" aria-hidden=\"true\"><path xmlns=\"http://www.w3.org/2000/svg\" d=\"M39.389,13.769 L22.235,28.606 L6,28.606 L6,47.699 L21.989,47.699 L39.389,62.75 L39.389,13.769z\" fill=\"white\" stroke-linejoin=\"round\"/><path xmlns=\"http://www.w3.org/2000/svg\" d=\"m49,26 20,24m0-24-20,24\" fill=\"none\" stroke-width=\"5\" stroke-linecap=\"round\"/></svg></button>');\n                    $('#WAC__mic-button').click(michandler);\n                    $('#WAC__speaker-button').click(speakerhandler);\n                }\n            }, 1000);\n        } });\n        $('#wbutton').draggable({\n            stop: function( event, ui ) {\n                Cookies.set('position', JSON.stringify($(\"#wbutton\").position()), { expires: 17 });\n            }\n        }).resizable({\n            stop: function( event, ui ) {\n                Cookies.set('height', $(\"#wbutton\").height(), { expires: 17 });\n                Cookies.set('width', $(\"#wbutton\").width(), { expires: 17 });\n            }\n        });\n        $('#bwrap').show();\n        $('#wbutton').click(function() {\n            instance.openWindow();\n        });\n        var bcolor = Cookies.get('color');\n        var bwidth = Cookies.get('width');\n        var bheight = Cookies.get('height');\n        var bposition = Cookies.get('position');\n        \n        if(bcolor)\n            changeColor(bcolor);\n        if(bwidth)\n            $(\"#wbutton\").width(bwidth);\n        if(bheight)\n            $(\"#wbutton\").height(bheight);\n        if(bposition)\n            $(\"#wbutton\").css(JSON.parse(bposition));\n    }\n    };\n  setTimeout(function(){\n    const t=document.createElement('script');\n    t.src=\"https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js\";\n    document.head.appendChild(t);\n  });\n  $('#dcolor').change(function(){\n      changeColor(this.value);\n      Cookies.set('color', this.value, { expires: 17 })\n  })\n</script>\n</body>","output":"str","x":580,"y":820,"wires":[["7a83dbce.ad0894"]]},{"id":"e21d5f35.294658","type":"http in","z":"18e393cc.2511d4","name":"","url":"site.png","method":"get","upload":false,"swaggerDoc":"","x":210,"y":860,"wires":[["5ba1960c.709eb"]]},{"id":"5ba1960c.709eb","type":"file in","z":"18e393cc.2511d4","name":"","filename":"/root/site.png","format":"","chunk":false,"sendError":false,"encoding":"none","x":420,"y":860,"wires":[["beb4fb51.fe459"]]},{"id":"beb4fb51.fe459","type":"change","z":"18e393cc.2511d4","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":880,"wires":[["7a83dbce.ad0894"]]},{"id":"c10b1f0.d4b3e6","type":"http request","z":"18e393cc.2511d4","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":290,"y":640,"wires":[["b3c46bac.2ac3e8"]]},{"id":"3b0eae1e.76d122","type":"function","z":"18e393cc.2511d4","name":"","func":"\nmsg.url = \"https://daidemos.com/\" + flow.get(\"instnum\") + \"-wa.txt\";\nmsg.rejectUnauthorized = false;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":640,"wires":[["c10b1f0.d4b3e6"]]},{"id":"b3c46bac.2ac3e8","type":"switch","z":"18e393cc.2511d4","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":640,"wires":[["f4b96330.1760e8"],[]]},{"id":"f4b96330.1760e8","type":"file","z":"18e393cc.2511d4","name":"","filename":"waids.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":580,"y":640,"wires":[["10d3779e.376a1","d849df49.875af8","89a6ec3e.dd5338"]]},{"id":"72dbbe2b.baf658","type":"change","z":"18e393cc.2511d4","name":"","rules":[{"t":"set","p":"integrationID","pt":"msg","to":"wa-integrationID","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"wa-serviceInstanceID","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":820,"wires":[["ba2d25ab.63f0f8"]]},{"id":"6660dc8f.987874","type":"watson-conversation-v1-workspace-manager","z":"18e393cc.2511d4","name":"WA","cwm-custom-mode":"listWorkspaces","cwm-workspace-id":"","cwm-intent":"","cwm-example":"","cwm-entity":"","cwm-entity-value":"","cwm-dialog-node":"","cwm-export-content":false,"cwm-service-endpoint":"","x":450,"y":520,"wires":[["615ff3ba.e7ffb4"]]},{"id":"615ff3ba.e7ffb4","type":"change","z":"18e393cc.2511d4","name":"","rules":[{"t":"set","p":"wksp","pt":"msg","to":"workspaces[0].workspace_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":580,"wires":[["6d81d721.caf12"]]},{"id":"9aeda6f1.c9cab8","type":"exec","z":"18e393cc.2511d4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"update skill","x":470,"y":580,"wires":[["3b0eae1e.76d122"],[],[]]},{"id":"6d81d721.caf12","type":"function","z":"18e393cc.2511d4","name":"","func":"msg.payload = 'curl -H \"Content-Type: application/json\" -X POST -u \"apikey:' + flow.get(\"wakey\") + '\" -d @/root/assistant.json \"' + flow.get(\"waurl\") + '/v1/workspaces/' + msg.wksp + '?append=false&version=2020-04-01\"';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":580,"wires":[["9aeda6f1.c9cab8"]]},{"id":"a6d949d3.a34b2","type":"exec","z":"18e393cc.2511d4","command":"cat wadialog","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":130,"y":520,"wires":[["26c0014e.8da4de"],[],[]]},{"id":"26c0014e.8da4de","type":"function","z":"18e393cc.2511d4","name":"","func":"if (msg.payload === \"\" && flow.get(\"wakey\")){\n    msg.params = {};\n    msg.params.apikey = flow.get(\"wakey\");\n    return msg;\n}\n    ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":520,"wires":[["6660dc8f.987874"]]},{"id":"10d3779e.376a1","type":"file in","z":"18e393cc.2511d4","name":"waids","filename":"waids.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":630,"y":240,"wires":[["3a0a631e.55d4dc"]]},{"id":"3a0a631e.55d4dc","type":"json","z":"18e393cc.2511d4","name":"","property":"payload","action":"","pretty":false,"x":850,"y":240,"wires":[["58ebe6d0.27cca8"]]},{"id":"58ebe6d0.27cca8","type":"function","z":"18e393cc.2511d4","name":"","func":"flow.set(\"wa-integrationID\", msg.payload.integrationID.replace('\"',\"\"));\nflow.set(\"wa-serviceInstanceID\",msg.payload.serviceInstanceID.replace('\"',\"\"));\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":240,"wires":[[]]},{"id":"86b14695.fcc8f","type":"http request","z":"18e393cc.2511d4","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":450,"y":680,"wires":[["84d0c5bf.13206"]]},{"id":"d849df49.875af8","type":"function","z":"18e393cc.2511d4","name":"","func":"\nmsg.url = \"https://daidemos.com/log\";\nmsg.rejectUnauthorized = false;\nmsg.payload = {};\nmsg.payload.Log = \"Provision complete! Content loading and model training will occur in the background over the next few hours.\"\nmsg.payload.Instance=flow.get(\"instnum\");\nmsg.payload.complete = true;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":680,"wires":[["86b14695.fcc8f"]]},{"id":"f5e59c3a.0dfd9","type":"file in","z":"18e393cc.2511d4","name":"","filename":"/root/instnum.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":670,"y":160,"wires":[["6b91a45f.2dcbf4"]]},{"id":"6b91a45f.2dcbf4","type":"function","z":"18e393cc.2511d4","name":"","func":"flow.set(\"instnum\", msg.payload.replace(\"\\n\",\"\"));\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":160,"wires":[[]]},{"id":"c4ae0623.7c0718","type":"http in","z":"18e393cc.2511d4","name":"","url":"logo.png","method":"get","upload":false,"swaggerDoc":"","x":220,"y":900,"wires":[["a87605f2.7f3a3"]]},{"id":"a87605f2.7f3a3","type":"file in","z":"18e393cc.2511d4","name":"","filename":"/root/logosmall.png","format":"","chunk":false,"sendError":false,"encoding":"none","x":430,"y":900,"wires":[["beb4fb51.fe459"]]},{"id":"e92bdb35.de956","type":"file in","z":"18e393cc.2511d4","name":"","filename":"wlt.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":630,"y":200,"wires":[["49a20348.4e1e6c"]]},{"id":"49a20348.4e1e6c","type":"json","z":"18e393cc.2511d4","name":"","property":"payload","action":"","pretty":false,"x":850,"y":200,"wires":[["1a07d9c0.2c5866"]]},{"id":"1a07d9c0.2c5866","type":"function","z":"18e393cc.2511d4","name":"","func":"flow.set(\"wlturl\", msg.payload.url);\nflow.set(\"wltkey\",msg.payload.apikey);\nmsg.headers = {\"authorization\": 'Basic ' + Buffer.from(\"apikey:\" + msg.payload.apikey).toString('base64') };\nflow.set(\"wltauth\", msg.headers);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":200,"wires":[[]]},{"id":"9ad0937a.fde5a","type":"http in","z":"18e393cc.2511d4","name":"","url":"translate","method":"post","upload":false,"swaggerDoc":"","x":100,"y":1020,"wires":[["2eb22f30.baacd8"]]},{"id":"fc76c6fe.dbae9","type":"http request","z":"18e393cc.2511d4","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":590,"y":1000,"wires":[["cefba9be.26e1b8"]]},{"id":"70da327e.ed253c","type":"function","z":"18e393cc.2511d4","name":"","func":"var lang = {\n'es': 'spanish',\n'de': 'german',\n'fr': 'french',\n'it': 'italian',\n'ja': 'japanese',\n'ko': 'korean'\n}\n\nvar tol = Object.keys(lang).find(key => lang[key] === msg.payload.language);\nvar txt = msg.payload.data.text;\n\nmsg.url= flow.get(\"wlturl\") + \"/v3/translate?version=2018-05-01\";\nmsg.headers = flow.get(\"wltauth\");\nmsg.payload = {\n  \"text\": txt,\n  \"target\": tol,\n  \"source\": \"en\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1000,"wires":[["fc76c6fe.dbae9"]]},{"id":"cefba9be.26e1b8","type":"json","z":"18e393cc.2511d4","name":"","property":"payload","action":"","pretty":false,"x":750,"y":1000,"wires":[["4d8b6d0.84dfb94"]]},{"id":"4d8b6d0.84dfb94","type":"function","z":"18e393cc.2511d4","name":"","func":"try{\n    out = {};\n    out.translation = \"\";\n    var arrayLength = msg.payload.translations.length;\n    for (var i = 0; i < arrayLength; i++) {\n        out.translation = out.translation + msg.payload.translations[i].translation + \"<break time='500ms'></break>\";\n    }\n    out.translation = out.translation.replace(/ *\\./,\"\").replace(/\\. *\\./g,\"\");\n    msg.payload = out;\n}catch(fail){}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":1000,"wires":[["7a83dbce.ad0894"]]},{"id":"901d697.bd09398","type":"function","z":"18e393cc.2511d4","name":"","func":"if (msg.payload === \"\")\n    return;\nmsg.m = msg.payload.split(\"\\n\");\nmsg.iterator = -1;\nif (msg.m.length > 0)\n    return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":280,"wires":[["89a6ec3e.dd5338"]]},{"id":"8b376044.8a1a3","type":"http in","z":"18e393cc.2511d4","name":"","url":"/api/text-to-speech/token","method":"get","upload":false,"swaggerDoc":"","x":150,"y":1240,"wires":[["322d7d42.43456a"]]},{"id":"113b185d.893b4","type":"http in","z":"18e393cc.2511d4","name":"","url":"/api/speech-to-text/token","method":"get","upload":false,"swaggerDoc":"","x":150,"y":1280,"wires":[["d84ced8c.71d77"]]},{"id":"d84ced8c.71d77","type":"file in","z":"18e393cc.2511d4","name":"","filename":"wstt.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":360,"y":1280,"wires":[["dbdac58f.eaeb58"]]},{"id":"dbdac58f.eaeb58","type":"json","z":"18e393cc.2511d4","name":"","property":"payload","action":"","pretty":false,"x":510,"y":1260,"wires":[["8e645517.680ff8"]]},{"id":"322d7d42.43456a","type":"file in","z":"18e393cc.2511d4","name":"","filename":"wtts.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":360,"y":1240,"wires":[["dbdac58f.eaeb58"]]},{"id":"d4208c1d.4693","type":"function","z":"18e393cc.2511d4","name":"","func":"var key = msg.payload.access_token;\nmsg.payload = {}\nmsg.payload.accessToken = key;\nmsg.payload.url = msg.surl;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":1260,"wires":[["7a83dbce.ad0894"]]},{"id":"b9c1811d.cdb948","type":"http request","z":"18e393cc.2511d4","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":1260,"wires":[["d4208c1d.4693"]]},{"id":"8e645517.680ff8","type":"function","z":"18e393cc.2511d4","name":"","func":"msg.key = msg.payload.apikey;\nmsg.surl = msg.payload.url;\nmsg.payload = {};\nmsg.payload[\"grant_type\"]=\"urn:ibm:params:oauth:grant-type:apikey\";\nmsg.payload.apikey=msg.key;\nmsg.headers = {};\nmsg.headers[\"Content-Type\"] = \"application/x-www-form-urlencoded\";\nmsg.headers[\"Accept\"] =  \"application/json\"; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":1260,"wires":[["b9c1811d.cdb948"]]},{"id":"1b4eda2f.d16206","type":"exec","z":"18e393cc.2511d4","command":"echo done > /root/wadialog","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":820,"y":680,"wires":[[],[],[]]},{"id":"84d0c5bf.13206","type":"switch","z":"18e393cc.2511d4","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":680,"wires":[["1b4eda2f.d16206"]]},{"id":"cb12d04e.c7add8","type":"http in","z":"18e393cc.2511d4","name":"","url":"/a/d/z/v/r","method":"get","upload":false,"swaggerDoc":"","x":230,"y":1380,"wires":[["3e128c75.ac5c4c"]]},{"id":"3d591485.ffdbec","type":"http response","z":"18e393cc.2511d4","name":"","statusCode":"","headers":{},"x":920,"y":1380,"wires":[]},{"id":"a750edc1.830368","type":"http request","z":"18e393cc.2511d4","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":580,"y":1380,"wires":[["5c663a6b.79790c"]]},{"id":"3e128c75.ac5c4c","type":"function","z":"18e393cc.2511d4","name":"","func":"msg2 = {};\nmsg2.headers = {\"Content-Type\":\"application/x-www-form-urlencoded; charset=UTF-8\"};\nmsg2.url = \"https://\" + msg.req.headers.host + \"/nadmin/auth/token\";\nmsg2.payload = Buffer.from(\"Y2xpZW50X2lkPW5vZGUtcmVkLWVkaXRvciZncmFudF90eXBlPXBhc3N3b3JkJnNjb3BlPSZwYXNzd29yZD1JQk1EZW0wJnVzZXJuYW1lPQ==\", 'base64').toString() + msg.payload.zz;\nmsg2.s = msg.res;\nreturn msg2;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":1380,"wires":[["a750edc1.830368"]]},{"id":"5c663a6b.79790c","type":"function","z":"18e393cc.2511d4","name":"","func":"msg2 = {};\nmsg2.res = msg.s;\nmsg2.statusCode = 303;\nmsg2.headers = {\n    Location: \"/nadmin?access_token=\" + msg.payload.access_token\n}\n\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":1380,"wires":[["3d591485.ffdbec"]]},{"id":"e7b31abe.8acfc8","type":"http in","z":"18e393cc.2511d4","name":"","url":"agentCallback","method":"get","upload":false,"swaggerDoc":"","x":130,"y":1440,"wires":[["91ede0c3.7c207"]]},{"id":"e4dbcfd1.efb708","type":"http in","z":"18e393cc.2511d4","name":"","url":"agentCallback","method":"post","upload":false,"swaggerDoc":"","x":140,"y":1480,"wires":[["91ede0c3.7c207"]]},{"id":"91ede0c3.7c207","type":"http response","z":"18e393cc.2511d4","name":"","statusCode":"","headers":{},"x":550,"y":1460,"wires":[]},{"id":"2eb22f30.baacd8","type":"function","z":"18e393cc.2511d4","name":"Router","func":"if (typeof(msg.payload.sms) !== \"undefined\")\n    return [null,msg];\nelse if (typeof(msg.payload.schedule) !== \"undefined\")\n    return [null,null,msg];\nelse\n    return [msg];","outputs":4,"noerr":0,"initialize":"","finalize":"","x":250,"y":1020,"wires":[["70da327e.ed253c"],["f398c354.867ae8"],["4de577f2.64ac5"],[]]},{"id":"a0eef570.a12a1","type":"exec","z":"18e393cc.2511d4","command":"/root/tsend","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":590,"y":1040,"wires":[["8c0cb814.7e0b2"],[],[]]},{"id":"f398c354.867ae8","type":"function","z":"18e393cc.2511d4","name":"","func":"msg.payload.phone = msg.payload.phone.replace(/[ -\\.()]/gi,\"\");\nmsg.payload = '\"' + msg.payload.sms + '\" ' + msg.payload.phone;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1040,"wires":[["a0eef570.a12a1"]]},{"id":"8c0cb814.7e0b2","type":"function","z":"18e393cc.2511d4","name":"","func":"msg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":1040,"wires":[["7a83dbce.ad0894"]]},{"id":"4de577f2.64ac5","type":"function","z":"18e393cc.2511d4","name":"","func":"return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1080,"wires":[["4a3d76c0.3cf43"]]},{"id":"4a3d76c0.3cf43","type":"function","z":"18e393cc.2511d4","name":"","func":"msg.payload = {};\nmsg.payload.availability = {};\n\nvar d = new Date();\nd.setDate(d.getDate() + (1 + 7 - d.getDay()) % 7);\n\nmsg.payload.date = d.toLocaleDateString('en-US');\nmsg.payload.time = \"12:00\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":1080,"wires":[["7a83dbce.ad0894"]]}]
