flows_testinstance.json
[{"id":"18e393cc.2511d4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"49c46123.475fb8","type":"file in","z":"18e393cc.2511d4","name":"","filename":"watsonassistant.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":350,"y":160,"wires":[["5fbcad37.2cf6ac"]]},{"id":"b30e3901.2d4168","type":"http in","z":"18e393cc.2511d4","name":"","url":"test","method":"get","upload":false,"swaggerDoc":"","x":160,"y":160,"wires":[["49c46123.475fb8"]]},{"id":"7a83dbce.ad0894","type":"http response","z":"18e393cc.2511d4","name":"","statusCode":"","headers":{},"x":690,"y":160,"wires":[]},{"id":"5fbcad37.2cf6ac","type":"json","z":"18e393cc.2511d4","name":"","property":"payload","action":"","pretty":false,"x":530,"y":160,"wires":[["7a83dbce.ad0894"]]},{"id":"222d5f50.8cf95","type":"file in","z":"18e393cc.2511d4","name":"","filename":"watsondiscovery.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":200,"y":320,"wires":[["323e3a35.b5ce9e"]]},{"id":"323e3a35.b5ce9e","type":"json","z":"18e393cc.2511d4","name":"","property":"payload","action":"","pretty":false,"x":370,"y":320,"wires":[["89a6ec3e.dd5338"]]},{"id":"89a6ec3e.dd5338","type":"function","z":"18e393cc.2511d4","name":"","func":"msg.url = msg.payload.url + \"/v1/environments?version=2019-04-30\";\nflow.set(\"durl\", msg.payload.url);\nflow.set(\"dkey\",msg.payload.apikey);\nmsg.headers = {\"authorization\": 'Basic ' + Buffer.from(\"apikey:\" + msg.payload.apikey).toString('base64') };\nmsg.payload = {\n  \"name\": \"my_environment\",\n  \"description\": \"My environment\"\n};\nflow.set(\"dauth\", msg.headers);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":320,"wires":[["f1585a66.378c98"]]},{"id":"f1585a66.378c98","type":"http request","z":"18e393cc.2511d4","name":"post","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":630,"y":320,"wires":[["7ffcdc3e.f143e4"]]},{"id":"20cef074.0d04f","type":"json","z":"18e393cc.2511d4","name":"","property":"payload","action":"","pretty":false,"x":1010,"y":320,"wires":[["5e64dcc1.b13af4"]]},{"id":"f44f218b.7e9518","type":"http request","z":"18e393cc.2511d4","name":"get","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":890,"y":320,"wires":[["20cef074.0d04f"]]},{"id":"7ffcdc3e.f143e4","type":"function","z":"18e393cc.2511d4","name":"","func":"msg2 = {};\nmsg2.url= flow.get(\"durl\") + \"/v1/environments?version=2019-04-30\";\nmsg2.headers = flow.get(\"dauth\");\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":320,"wires":[["f44f218b.7e9518"]]},{"id":"5e64dcc1.b13af4","type":"function","z":"18e393cc.2511d4","name":"","func":"flow.set(\"denv\", msg.payload.environments[1].environment_id);\nmsg2 = {};\nmsg2.url= flow.get(\"durl\") + \"/v1/environments/\" + flow.get(\"denv\") + \"/configurations?version=2019-04-30\";\nmsg2.headers = flow.get(\"dauth\");\n\n\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":380,"wires":[["db8fc22a.93bd58"]]},{"id":"db8fc22a.93bd58","type":"http request","z":"18e393cc.2511d4","name":"get","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":370,"y":380,"wires":[["5cd4bdc9.11b2c4"]]},{"id":"f91e39eb.5eb55","type":"function","z":"18e393cc.2511d4","name":"","func":"flow.set(\"dconf\", msg.payload.configurations[0].configurations);\nmsg2 = {};\nmsg2.url= flow.get(\"durl\") + \"/v1/environments/\" + flow.get(\"denv\") + \"/collections?version=2019-04-30\";\nmsg2.headers = flow.get(\"dauth\");\nmsg2.payload = {\n  \"name\": \"my_environment\",\n  \"description\": \"My environment\",\n  \"configuration_id\": flow.get(\"dconf\")\n};\n\n\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":380,"wires":[["1e345a55.0e8f6e"]]},{"id":"1e345a55.0e8f6e","type":"http request","z":"18e393cc.2511d4","name":"post","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":750,"y":380,"wires":[["fbd29110.6022e8"]]},{"id":"b0b6af19.924ff","type":"json","z":"18e393cc.2511d4","name":"","property":"payload","action":"","pretty":false,"x":210,"y":440,"wires":[["caebba87.9fb3a8"]]},{"id":"5cd4bdc9.11b2c4","type":"json","z":"18e393cc.2511d4","name":"","property":"payload","action":"","pretty":false,"x":490,"y":380,"wires":[["f91e39eb.5eb55"]]},{"id":"13e812a.d83dced","type":"http request","z":"18e393cc.2511d4","name":"get","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":1010,"y":380,"wires":[["b0b6af19.924ff"]]},{"id":"fbd29110.6022e8","type":"function","z":"18e393cc.2511d4","name":"","func":"msg2 = {};\nmsg2.url= flow.get(\"durl\") + \"/v1/environments/\" + flow.get(\"denv\") + \"/collections?version=2019-04-30\";\nmsg2.headers = flow.get(\"dauth\");\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":380,"wires":[["13e812a.d83dced"]]},{"id":"caebba87.9fb3a8","type":"function","z":"18e393cc.2511d4","name":"","func":"flow.set(\"dcoll\", msg.payload.collections[0].collection_id);\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":440,"wires":[["a2b48acd.a3329"]]},{"id":"a2b48acd.a3329","type":"exec","z":"18e393cc.2511d4","command":"ls /root/da/crawl","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":540,"y":440,"wires":[["6e3b2396.d88db4"],[],[]]},{"id":"6e3b2396.d88db4","type":"function","z":"18e393cc.2511d4","name":"","func":"msg.m = msg.payload.split(\"\\n\");\nmsg.iterator = -1;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":440,"wires":[["a80cca54.0641f"]]},{"id":"8a6ce1ff.132d68","type":"start-up-trigger","z":"18e393cc.2511d4","x":120,"y":240,"wires":[["54f88f66.def8a"]]},{"id":"54f88f66.def8a","type":"function","z":"18e393cc.2511d4","name":"poll","func":"setInterval(function(){\n    var msg = {};\n    node.send(msg);\n},5000);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":240,"wires":[["1ae5ad5a.66dc83"]]},{"id":"1ae5ad5a.66dc83","type":"exec","z":"18e393cc.2511d4","command":"cat ready","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":460,"y":240,"wires":[["7c50278f.90f7f"],[],[]]},{"id":"8a515c4b.515588","type":"exec","z":"18e393cc.2511d4","command":"rm ready","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":780,"y":220,"wires":[[],[],[]]},{"id":"5f6b4055.3952c8","type":"exec","z":"18e393cc.2511d4","command":"echo go > ready","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":450,"y":80,"wires":[[],[],[]]},{"id":"6acdf982.e7a828","type":"inject","z":"18e393cc.2511d4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":80,"wires":[["5f6b4055.3952c8"]]},{"id":"7c50278f.90f7f","type":"function","z":"18e393cc.2511d4","name":"","func":"if (msg.payload == \"go\\n\")\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":240,"wires":[["8a515c4b.515588","222d5f50.8cf95"]]},{"id":"a80cca54.0641f","type":"function","z":"18e393cc.2511d4","name":"","func":"msg.iterator +=1;\n\nif (msg.iterator >= msg.m.length){\n    msg.payload = \"done\";\n    return [null,msg];\n}else{\n    msg.payload = msg.m[msg.iterator];\n    return [msg,null];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":860,"y":440,"wires":[["8885c6ae.cbde48"],[]]},{"id":"8885c6ae.cbde48","type":"function","z":"18e393cc.2511d4","name":"","func":"msg.filename = \"/root/da/crawl/qad--12000.html\"\npname = msg.filename.split(\"/\");\npname = pname[pname.length-1];\nmsg.mtag = pname.match(/[a-zA-Z0-9_ ]+/)[0];\nmsg.meta = {};\nmsg.meta.Subject = msg.mtag; \nmsg.meta = JSON.stringify(msg.meta);\n\nmsg.payload = 'curl -X POST -u \"apikey\":\"' + flow.get(\"dkey\") + '\" -F file=@' + msg.filename + \" -F metadata='\" + msg.meta + \"' '\" + flow.get(\"durl\") + \"/v1/environments/\" + flow.get(\"denv\") + \"/collections/\" + flow.get(\"dcoll\") + \"/documents?version=2019-04-30\" + \"'\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":500,"wires":[["64af9bf3.a36e04"]]},{"id":"64af9bf3.a36e04","type":"exec","z":"18e393cc.2511d4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":910,"y":500,"wires":[["a80cca54.0641f"],[],[]]}]
