flows.json
[{"id":"18e393cc.2511d4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"49c46123.475fb8","type":"file in","z":"18e393cc.2511d4","name":"","filename":"watsonassistant.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":510,"y":660,"wires":[["5fbcad37.2cf6ac"]]},{"id":"b30e3901.2d4168","type":"http in","z":"18e393cc.2511d4","name":"","url":"test","method":"get","upload":false,"swaggerDoc":"","x":320,"y":660,"wires":[["49c46123.475fb8"]]},{"id":"7a83dbce.ad0894","type":"http response","z":"18e393cc.2511d4","name":"","statusCode":"","headers":{},"x":850,"y":660,"wires":[]},{"id":"5fbcad37.2cf6ac","type":"json","z":"18e393cc.2511d4","name":"","property":"payload","action":"","pretty":false,"x":690,"y":660,"wires":[["7a83dbce.ad0894"]]},{"id":"89a6ec3e.dd5338","type":"function","z":"18e393cc.2511d4","name":"","func":"msg.url = flow.get(\"durl\") + \"/v1/environments?version=2019-04-30\";\nmsg.headers = flow.get(\"dauth\");\nmsg.payload = {\n  \"name\": \"my_environment\",\n  \"description\": \"My environment\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":300,"wires":[["f1585a66.378c98"]]},{"id":"f1585a66.378c98","type":"http request","z":"18e393cc.2511d4","name":"post","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":250,"y":300,"wires":[["7ffcdc3e.f143e4"]]},{"id":"20cef074.0d04f","type":"json","z":"18e393cc.2511d4","name":"","property":"payload","action":"","pretty":false,"x":630,"y":300,"wires":[["5df28b84.3cfc5c"]]},{"id":"f44f218b.7e9518","type":"http request","z":"18e393cc.2511d4","name":"get","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":510,"y":300,"wires":[["20cef074.0d04f"]]},{"id":"7ffcdc3e.f143e4","type":"function","z":"18e393cc.2511d4","name":"","func":"msg2 = {};\nmsg2.url= flow.get(\"durl\") + \"/v1/environments?version=2019-04-30\";\nmsg2.headers = flow.get(\"dauth\");\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":300,"wires":[["f44f218b.7e9518"]]},{"id":"5e64dcc1.b13af4","type":"function","z":"18e393cc.2511d4","name":"","func":"flow.set(\"denv\", msg.payload.environments[1].environment_id);\nmsg2 = {};\nmsg2.url= flow.get(\"durl\") + \"/v1/environments/\" + flow.get(\"denv\") + \"/configurations?version=2019-04-30\";\nmsg2.headers = flow.get(\"dauth\");\n\n\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":300,"wires":[["db8fc22a.93bd58"]]},{"id":"db8fc22a.93bd58","type":"http request","z":"18e393cc.2511d4","name":"get","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":1070,"y":300,"wires":[["5cd4bdc9.11b2c4"]]},{"id":"f91e39eb.5eb55","type":"function","z":"18e393cc.2511d4","name":"","func":"flow.set(\"dconf\", msg.payload.configurations[0].configurations);\nmsg2 = {};\nmsg2.url= flow.get(\"durl\") + \"/v1/environments/\" + flow.get(\"denv\") + \"/collections?version=2019-04-30\";\nmsg2.headers = flow.get(\"dauth\");\nmsg2.payload = {\n  \"name\": \"my_environment\",\n  \"description\": \"My environment\",\n  \"configuration_id\": flow.get(\"dconf\")\n};\n\n\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":360,"wires":[["1e345a55.0e8f6e"]]},{"id":"1e345a55.0e8f6e","type":"http request","z":"18e393cc.2511d4","name":"post","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":370,"y":360,"wires":[["fbd29110.6022e8"]]},{"id":"b0b6af19.924ff","type":"json","z":"18e393cc.2511d4","name":"","property":"payload","action":"","pretty":false,"x":770,"y":360,"wires":[["32da5b2b.eafed4"]]},{"id":"5cd4bdc9.11b2c4","type":"json","z":"18e393cc.2511d4","name":"","property":"payload","action":"","pretty":false,"x":110,"y":360,"wires":[["f91e39eb.5eb55"]]},{"id":"13e812a.d83dced","type":"http request","z":"18e393cc.2511d4","name":"get","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":630,"y":360,"wires":[["b0b6af19.924ff"]]},{"id":"fbd29110.6022e8","type":"function","z":"18e393cc.2511d4","name":"","func":"msg2 = {};\nmsg2.url= flow.get(\"durl\") + \"/v1/environments/\" + flow.get(\"denv\") + \"/collections?version=2019-04-30\";\nmsg2.headers = flow.get(\"dauth\");\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":360,"wires":[["13e812a.d83dced"]]},{"id":"caebba87.9fb3a8","type":"function","z":"18e393cc.2511d4","name":"","func":"flow.set(\"dcoll\", msg.payload.collections[0].collection_id);\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":440,"wires":[["a2b48acd.a3329"]]},{"id":"a2b48acd.a3329","type":"exec","z":"18e393cc.2511d4","command":"ls /root/da/crawl","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":480,"y":440,"wires":[["6e3b2396.d88db4"],[],[]]},{"id":"6e3b2396.d88db4","type":"function","z":"18e393cc.2511d4","name":"","func":"msg.m = msg.payload.split(\"\\n\");\nmsg.iterator = -1;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":440,"wires":[["a80cca54.0641f"]]},{"id":"8a6ce1ff.132d68","type":"start-up-trigger","z":"18e393cc.2511d4","x":120,"y":240,"wires":[["54f88f66.def8a","eeec3ca2.0d1f5","a04c755c.ebd518","80a21d14.c287b","627a1363.c5f444","353561d3.ce6b36"]]},{"id":"54f88f66.def8a","type":"function","z":"18e393cc.2511d4","name":"poll","func":"setInterval(function(){\n    var msg = {};\n    node.send(msg);\n},5000);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":240,"wires":[["1ae5ad5a.66dc83"]]},{"id":"1ae5ad5a.66dc83","type":"exec","z":"18e393cc.2511d4","command":"cat ready","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":460,"y":240,"wires":[["7c50278f.90f7f"],[],[]]},{"id":"8a515c4b.515588","type":"exec","z":"18e393cc.2511d4","command":"rm ready","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":780,"y":220,"wires":[[],[],[]]},{"id":"7c50278f.90f7f","type":"function","z":"18e393cc.2511d4","name":"","func":"if (msg.payload == \"go\")\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":240,"wires":[["8a515c4b.515588","89a6ec3e.dd5338"]]},{"id":"a80cca54.0641f","type":"function","z":"18e393cc.2511d4","name":"","func":"msg.iterator +=1;\n\nif (msg.iterator >= msg.m.length){\n    msg.payload = \"msg.m.length written\";\n    return [null,msg];\n}else{\n    msg.payload = msg.m[msg.iterator];\n    return [msg,null];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":800,"y":440,"wires":[["8885c6ae.cbde48"],["2a3fdebd.aa694a"]]},{"id":"8885c6ae.cbde48","type":"function","z":"18e393cc.2511d4","name":"","func":"msg.filename = \"/root/da/crawl/\" + msg.payload;\nmsg.mtag = msg.payload.match(/[a-zA-Z0-9_ ]+/)[0];\nmsg.meta = {};\nmsg.meta.Subject = msg.mtag; \nmsg.meta = JSON.stringify(msg.meta);\n\nmsg.payload = 'curl -X POST -u \"apikey\":\"' + flow.get(\"dkey\") + '\" -F file=@' + msg.filename + \" -F metadata='\" + msg.meta + \"' '\" + flow.get(\"durl\") + \"/v1/environments/\" + flow.get(\"denv\") + \"/collections/\" + flow.get(\"dcoll\") + \"/documents?version=2019-04-30\" + \"'\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":500,"wires":[["64af9bf3.a36e04"]]},{"id":"64af9bf3.a36e04","type":"exec","z":"18e393cc.2511d4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":850,"y":500,"wires":[["a80cca54.0641f"],[],[]]},{"id":"2a3fdebd.aa694a","type":"file","z":"18e393cc.2511d4","name":"","filename":"written","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":970,"y":440,"wires":[[]]},{"id":"eeec3ca2.0d1f5","type":"file in","z":"18e393cc.2511d4","name":"","filename":"watsondiscovery.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":320,"y":180,"wires":[["5de62f23.8366c8"]]},{"id":"5de62f23.8366c8","type":"json","z":"18e393cc.2511d4","name":"","property":"payload","action":"","pretty":false,"x":490,"y":180,"wires":[["986a61a0.41c0d"]]},{"id":"a04c755c.ebd518","type":"file in","z":"18e393cc.2511d4","name":"","filename":"watsonassistant.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":310,"y":140,"wires":[["b20c3a12.2172a8"]]},{"id":"b20c3a12.2172a8","type":"json","z":"18e393cc.2511d4","name":"","property":"payload","action":"","pretty":false,"x":490,"y":140,"wires":[["d917e7e.06dd718"]]},{"id":"986a61a0.41c0d","type":"function","z":"18e393cc.2511d4","name":"","func":"flow.set(\"durl\", msg.payload.url);\nflow.set(\"dkey\",msg.payload.apikey);\nmsg.headers = {\"authorization\": 'Basic ' + Buffer.from(\"apikey:\" + msg.payload.apikey).toString('base64') };\nflow.set(\"dauth\", msg.headers);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":180,"wires":[[]]},{"id":"80a21d14.c287b","type":"file in","z":"18e393cc.2511d4","name":"","filename":"companylogo.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":310,"y":100,"wires":[["e0a99f5c.fb632"]]},{"id":"627a1363.c5f444","type":"file in","z":"18e393cc.2511d4","name":"","filename":"company.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":290,"y":60,"wires":[["6be9991f.fe1d08"]]},{"id":"353561d3.ce6b36","type":"file in","z":"18e393cc.2511d4","name":"","filename":"companyurl.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":300,"y":20,"wires":[["705aecb1.c4f3d4"]]},{"id":"d917e7e.06dd718","type":"function","z":"18e393cc.2511d4","name":"","func":"flow.set(\"waurl\", msg.payload.url);\nflow.set(\"wakey\",msg.payload.apikey);\nmsg.headers = {\"authorization\": 'Basic ' + Buffer.from(\"apikey:\" + msg.payload.apikey).toString('base64') };\nflow.set(\"waauth\", msg.headers);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":140,"wires":[[]]},{"id":"24aa24a5.4e0df4","type":"inject","z":"18e393cc.2511d4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":940,"wires":[["2a0f2342.286854"]]},{"id":"e0ca6ee2.1a5e4","type":"debug","z":"18e393cc.2511d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":960,"wires":[]},{"id":"2a0f2342.286854","type":"change","z":"18e393cc.2511d4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"company","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":940,"wires":[["e0ca6ee2.1a5e4"]]},{"id":"6be9991f.fe1d08","type":"function","z":"18e393cc.2511d4","name":"","func":"flow.set(\"company\", msg.payload.replace(\"\\n\",\"\"));\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":60,"wires":[[]]},{"id":"705aecb1.c4f3d4","type":"function","z":"18e393cc.2511d4","name":"","func":"flow.set(\"companyurl\", msg.payload.replace(\"\\n\",\"\"));\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":20,"wires":[[]]},{"id":"e0a99f5c.fb632","type":"function","z":"18e393cc.2511d4","name":"","func":"flow.set(\"companylogo\", msg.payload.replace(\"\\n\",\"\"));\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":100,"wires":[[]]},{"id":"32da5b2b.eafed4","type":"function","z":"18e393cc.2511d4","name":"","func":"if(msg.payload.collections.length>0)\n    return [msg, null];\nelse\n    return [null,msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":920,"y":360,"wires":[["caebba87.9fb3a8"],["fbd29110.6022e8"]]},{"id":"5df28b84.3cfc5c","type":"function","z":"18e393cc.2511d4","name":"","func":"if(msg.payload.environments.length>1)\n    return [msg, null];\nelse\n    return [null,msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":760,"y":300,"wires":[["5e64dcc1.b13af4"],["7ffcdc3e.f143e4"]]}]
