flows_testinstance.json
[{"id":"18e393cc.2511d4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"49c46123.475fb8","type":"file in","z":"18e393cc.2511d4","name":"","filename":"watsonassistant.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":350,"y":160,"wires":[["5fbcad37.2cf6ac"]]},{"id":"b30e3901.2d4168","type":"http in","z":"18e393cc.2511d4","name":"","url":"test","method":"get","upload":false,"swaggerDoc":"","x":160,"y":160,"wires":[["49c46123.475fb8"]]},{"id":"7a83dbce.ad0894","type":"http response","z":"18e393cc.2511d4","name":"","statusCode":"","headers":{},"x":690,"y":160,"wires":[]},{"id":"5fbcad37.2cf6ac","type":"json","z":"18e393cc.2511d4","name":"","property":"payload","action":"","pretty":false,"x":530,"y":160,"wires":[["7a83dbce.ad0894"]]}]
