automationServer/nautomation
[{"id":"1c2d6e78.ff8e7a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3ccc980d.314d4","type":"socketio-config","port":"80","sendClient":"true","path":"/socket.io","bindToNode":true},{"id":"2b836cd.3aa9214","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"ea78eae2.f9578","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"bb2f6fb4.d4be2","type":"sqlitedb","db":"/root/demobuilder.db","mode":"RW"},{"id":"18c5ccd5.ef404b","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3bc84f4e.84ed1","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"/m/:company/:cid","method":"get","upload":false,"swaggerDoc":"","x":100,"y":80,"wires":[["552c2e95.869f2"]]},{"id":"5bfcecd3.14b81c","type":"http response","z":"1c2d6e78.ff8e7a","name":"","statusCode":"","headers":{},"x":1090,"y":80,"wires":[]},{"id":"a0849a.76e05368","type":"template","z":"1c2d6e78.ff8e7a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html><head><link rel=\"stylesheet\" type=\"text/css\" href=\"/static/css/bundle.s41.css\">\n<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css\">\n    \n<title>{{company}} Demo</title>\n<link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1\" crossorigin=\"anonymous\">\n<link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css\">\n </head>\n<div class=\"container\" style=\"width: 70rem\">\n  <div class=\"row\">\n    <div class=\"col-9\">\n        <div class=\"jumbotron jumbotron-fluid\">\n            <h1 class=\"display-6\"><center>{{htitle}}</center></h1>\n            {{{prov}}}\n    </div>\n    <div class=\"col-sm\" style=\"padding-bottom:20px;\">\n      <img src=\"../../{{company}}.png\" style=\"padding-top: 50px; width:150px\">\n    </div>\n  </div>\n\n    <div class=\"card\" style=\"width: 60rem;\">\n        <div class=\"card-header\">\n            <div class=\"row\">\n                <div class=\"col-3\">Deployment</div>\n                <div class=\"col-8 progress\">\n                    <div class=\"progress-bar progress-bar-striped progress-bar-animated\" role=\"progressbar\"  style=\"width: 0%\"></div>\n                </div>\n            </div>\n        </div>\n        <div class=\"card-body\">\n            <p class=\"card-text\" id=\"log\"></p>\n        </div>\n    </div>\n    <div class=\"card\" style=\"width: 60rem;\">\n        <div class=\"card-header\">Demo Links</div>\n        <div class=\"card-body\">\n            <p class=\"card-text\" id=\"completel\"></p>\n        </div>\n    </div>\n</div>\n\n<script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js\" integrity=\"sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW\" crossorigin=\"anonymous\"></script>\n<script src=\"https://code.jquery.com/jquery-3.5.1.min.js\" integrity=\"sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=\" crossorigin=\"anonymous\"></script>\n<script src=\"../../socket.io/socket.io.js\"></script>\n<script src=\"https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js\"></script>\n<script>\nvar socket = io();\nvar progress = 0;\n$(function(){\n    var comp = \"{{{comp}}}\";\n    if (comp != \"\"){\n        $(\"#completel\").html(comp);\n        $('.progress-bar').css('width', '100%');\n        $('.progress-bar').removeClass('progress-bar-striped').removeClass('progress-bar-animated').addClass('bg-success');\n    }\n});\n    \nsocket.on('connect', function() {\n    console.log(\"socket connected\");\n});\nsocket.on('disconnect', function() {\n\tconsole.log(\"socket disconnected\");\n});\n\nsocket.on('log', function(data) {\n    if(data.Instance == \"{{company}}-{{cid}}\"){\n\t    $(\"#log\").append(\"<i class='bi-gear' style='padding-right:10px'></i>\" + data.Log + \"<br>\");\n\t    prog();\n    }\n});\nsocket.on('complete', function(data) {\n    if(data.Instance == \"{{company}}-{{cid}}\"){\n        var comp = \"<a style='padding-right:20px' href='https://{{company}}-{{cid}}.daidemos.com/test' target='_blank'><img width='40px' height='40px' src='/static/img/conversation.svg'>Customer Page</a> <a style='padding-right:20px' href='https://{{company}}-{{cid}}.daidemos.com/agent' target='_blank'><img width='40px' height='40px' src='/static/img/agent.svg'>Agent Page</a> <a style='padding-right:20px' href='https://ibm.box.com/s/ci13fyhjaxokihc163paywne90y2104o' target='_blank'><img width='40px' height='40px' src='/static/img/video.svg'>Scripts, Videos, Decks</a> <br><br><a style='padding-right:20px' href='https://{{company}}-{{cid}}.daidemos.com/a/d/z/v/r?zz={{company}}' target='_blank'><img width='40px' height='40px' src='/static/img/nodered.png'>Node-Red (modify the UI's and webhooks)</a><a style='padding-right:20px' href='https://cloud.ibm.com/iam/users/invite_users' target='_blank'><svg focusable='false' preserveAspectRatio='xMidYMid meet' description='IAM UI Left nav' xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 32 32' aria-hidden='true' class='left-nav-header__icon'><path d='M24,14H22V8A6,6,0,0,0,10,8v6H8a2,2,0,0,0-2,2V28a2,2,0,0,0,2,2H24a2,2,0,0,0,2-2V16A2,2,0,0,0,24,14ZM12,8a4,4,0,0,1,8,0v6H12ZM24,28H8V16H24Z'></path></svg>Access Group</a>\";\n        $(\"#log\").append(\"<br><br><center>Invite IBM and customer POC members by granting access to the <a href='https://cloud.ibm.com/iam/users/invite_users' target='_blank'>{{company}} Access Group</a>.  They'll only be able to see this POC's resources.<br><br>Bookmark this page.  It is your key to the demo links below</center><br>\");\n\t    $(\"#completel\").html(comp);\n        $('.progress-bar').css('width', '100%');\n        $('.progress-bar').removeClass('progress-bar-striped').removeClass('progress-bar-animated').addClass('bg-success');\n    }\n});\n    \nfunction prog(){\n    progress +=1;\n    $('.progress-bar').css('width', ((progress/27)*100)+'%');\n}\n\n$(\"#startTerraform\").click(function(e) {\n    $(\"#log\").append(\"<center>Creating Workspace.  If progress stalls, check to see if the plan failed.  If it did, just click the 'Apply Plan' button again.<br><br>If you run into problems reach out to Garrett - @garrett on slack or email garrett.rowe@us.ibm.com</center><br>\");\n    prog();\n});\n    \n</script>","output":"str","x":920,"y":80,"wires":[["5bfcecd3.14b81c"]]},{"id":"8697e700.887bf8","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"if (typeof msg.payload.Log != \"undefined\") {\n    if (msg.payload.Log.length > 0){\n        msg.socketIOEvent = \"log\";\n        node.send([msg, null]);\n    }\n}\nif (typeof msg.payload.Log != \"undefined\") {\n    if (msg.payload.Log == \"Starting Terraform\")\n        node.send([null,msg]);\n}\nif (typeof msg.payload.complete != \"undefined\") {\n    msg.socketIOEvent = \"complete\";\n    msg.payload.data = flow.get(msg.payload.Instance);\n    node.send([msg, null]);\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":300,"y":320,"wires":[["9c8ff97c.1818"],["27c75b5e.aac98c","6938bb72.6f8df4"]]},{"id":"552c2e95.869f2","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.cid = msg.req.params.cid;\nmsg.company = msg.req.params.company;\nmsg.filename = \"/root/scrape/\" + msg.company + \".txt\";\n\nmsg.topic = \"select provisioned from provisioned p  where p.instance like '\" + msg.company + \"-\" + msg.cid + \"'\";\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":80,"wires":[["7e7e834b.898e24"]]},{"id":"9c8ff97c.1818","type":"socketio-out","z":"1c2d6e78.ff8e7a","name":"","server":"3ccc980d.314d4","x":500,"y":300,"wires":[]},{"id":"4d5f901.54df87","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"/log","method":"post","upload":false,"swaggerDoc":"","x":140,"y":320,"wires":[["c301b9fa.2ee74","8697e700.887bf8"]]},{"id":"c301b9fa.2ee74","type":"http response","z":"1c2d6e78.ff8e7a","name":"","statusCode":"","headers":{},"x":330,"y":380,"wires":[]},{"id":"f6f1feaa.5a054","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"log","method":"get","upload":false,"swaggerDoc":"","x":140,"y":360,"wires":[["c301b9fa.2ee74","8697e700.887bf8"]]},{"id":"53793006.c32668","type":"exec","z":"1c2d6e78.ff8e7a","command":"node scrape.js","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":660,"y":160,"wires":[["be08f0bb.afd88"],[],[]]},{"id":"94b53b23.1d7c98","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"try{\n    msg.url = msg.instJSON.url;\n} catch(fail){\n    msg.url = \"Couldn't find website.  User the override on the previous page\";\n}\nmsg.provisionurl = \"https://cloud.ibm.com/schematics/workspaces/create?workspace_name=\" + msg.company + \"-DataAIDemoBuilder&repository=https://git.daidemos.com/git/\" + msg.script + \"&terraform_version=terraform_v0.13\";\nmsg.prov = \"<p class='lead'>We'll be building an environment in your account, and pre-loading it with data from the website: <a href='\" + msg.url + \"' target='_blank'>\" + msg.url + \"</a> <span style='color:red; padding-left:10px;'><i class='fa fa-arrow-left' aria-hidden='true'></i> Ensure this is correct!</span><br><br> You can override this url on the previous page under \\\"advanced options\\\". </p> </div> Click the link below, then click 'Create Workspace', and then click 'Apply Plan'<br><center> <br> <a id='startTerraform' data-toggle='modal' data-target='#loginm' href='https://cloud.ibm.com/schematics/workspaces/create?workspace_name=\" + msg.company + \"-DataAIDemoBuilder&repository=https://git.daidemos.com/git/\" + msg.script + \"&terraform_version=terraform_v0.13' target='_blank'>Deploy to IBM Cloud<img src='/static/img/terraform-2d14a7d6b7.svg' style='padding-left:10px'></a> </center> <br> Once your plan begins deploying, return here and follow along.  <br>\"\nif (msg.provisioned)\n    msg.prov = \"</div><p class='lead'>This instance is already deployed. To create another return to <a href='https://daidemos.com'>daidemos.com</a></p>\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":80,"wires":[["a0849a.76e05368"]]},{"id":"300c158e.d1d6d2","type":"socketio-in","z":"1c2d6e78.ff8e7a","name":"","server":"3ccc980d.314d4","rules":[{"v":"embed"}],"x":670,"y":300,"wires":[["e0bd0d00.0d357"]]},{"id":"e0bd0d00.0d357","type":"switch","z":"1c2d6e78.ff8e7a","name":"","property":"socketIOEvent","propertyType":"msg","rules":[{"t":"eq","v":"embed","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":300,"wires":[["3aaef159.e33ae6"]]},{"id":"8f3a2105.e728a8","type":"exec","z":"1c2d6e78.ff8e7a","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"configAssistant","x":1000,"y":560,"wires":[[],[],[]]},{"id":"2463f156.6c41ae","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg2 = {};\nvar waid = msg.payload.p.replace(/:res.*/, \"\").replace(\"/\", \"~2F\") + \"/home\";\nmsg2.payload = \"(node /root/configAssistant.js \\\"\" + msg.payload.i + \"\\\" \\\"\" + waid + \"\\\" > /root/scrape/\" + msg.payload.i + \"-WAinst.log 2>&1 ) &\";\n\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":560,"wires":[["8f3a2105.e728a8"]]},{"id":"3aaef159.e33ae6","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"\nmsg.filename = \"/root/scrape/\" + msg.payload.r + \"-wa.txt\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":300,"wires":[["e3a4cfb6.177428"]]},{"id":"e3a4cfb6.177428","type":"file","z":"1c2d6e78.ff8e7a","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1130,"y":300,"wires":[[]]},{"id":"5fb63300.ba699c","type":"template","z":"1c2d6e78.ff8e7a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n<link rel=\"stylesheet\" type=\"text/css\" href=\"/static/css/bundle.s41.css\">\n\n<link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css\" rel=\"stylesheet\" >\n<link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css\">\n\n\n<title>D&AI Demos</title>\n<style>\n    .form-group{\n        margin-bottom:10px;\n    }\n</style>\n</head>  \n<div class=\"container\" style=\"width: 70rem\">\n  <div class=\"row\">\n    <div class=\"col-12\">\n        <div class=\"jumbotron jumbotron-fluid\">\n            <h1 class=\"display-6\"><center>Data & AI DemoBuilder</center></h1>\n            <p class=\"lead\">\n            <br>\n            <span style=\"color:red\">Before starting</span> ensure you have a \"Pay-As-You-Go\" or \"Subscription\" type IBM Cloud account. <a href=\"https://cloud.ibm.com/account/settings\" target=\"_blank\">Check Here</a> If this page says \"trial\", \"paas-only\", or \"upgrade account\" <span style=\"color:red\">anywhere on the page</span> you do not have the right account type, and must upgrade first.<span style=\"color: red;\"> This tool will not work without a proper account.</span>\n            <br>\n            <br>\n            <form id=\"choosec\" class=\"\" action=\"/startProvision\" method=\"POST\">\n                <div class=\"mb-3\">\n                    <label for=\"fc1\">Company (Enter a real company name only, E.G. \"TD Bank\" or \"Walmart\")</label>\n                    <input type=\"text\" class=\"form-control was-validated is-invalid\" name=\"company\" id=\"fc1\" placeholder=\"Enter a company name\" required>\n                    <div class=\"invalid-feedback\" id=\"vfeedback\">\n                    </div>\n                </div\n                \n                <br>\n                <div class=\"accordion accordion-flush\" id=\"ac1\">\n                  <div class=\"accordion-item\">\n                    <h2 class=\"accordion-header\" id=\"headingOne\">\n                      <button class=\"accordion-button collapsed\" type=\"button\" data-bs-toggle=\"collapse\" data-bs-target=\"#collapseOne\" aria-expanded=\"true\" aria-controls=\"collapseOne\">\n                        Advanced Options\n                      </button>\n                    </h2>\n                    <div id=\"collapseOne\" class=\"accordion-collapse collapse\" aria-labelledby=\"headingOne\" data-bs-parent=\"#accordionExample\">\n                      <div class=\"accordion-body\">\n                        \n                        <div class=\"form-group\">\n                            <label for=\"fcurl\"><span class=\"tconame\">Website</span> URL Override (both screenshot and crawler)</label>\n                            <input type=\"url\" class=\"form-control was-validated\" name=\"url\" id=\"fcurl\" placeholder=\"https://mycompany.com/Page/For/Screenshot\" pattern=\"https*://.*\" required>\n                        </div>\n                        <div id=\"productlabel\" style=\"text-align: center;margin-top: 15px;\">Enter 3 products or services that <span class=\"tconame\">this company</span> sells or offers.</div>\n                        <div class=\"input-group mb-3\" id=\"productgroup\">\n                          <input type=\"search\" class=\"form-control\" name=\"product1\" id=\"product1\" placeholder=\"Inspyre Card\">\n                          <input type=\"search\" class=\"form-control\" name=\"product2\" id=\"product2\" placeholder=\"Argyle Sofa\">\n                          <input type=\"search\" class=\"form-control\" name=\"product3\" id=\"product3\" placeholder=\"Iphone 17 Super Max\">\n                        </div>\n                        <div class=\"mb-3\">\n                            <label for=\"faddr\"><span class=\"tconame\">Company</span> corporate address or closest location</label>\n                            <input type=\"input\" class=\"form-control was-validated\" name=\"address\" id=\"faddr\" placeholder=\"1212 River Glen Road, San Diego, CA 92010\" required>\n                        </div>\n\n                        <div class=\"form-group d-none\">\n                            <label for=\"fc2\">Demo</label>\n                            <select class=\"form-control\" name=\"demo\" id=\"fc2\" readonly>\n                              <option value=\"watson\">Watson Stack</option>\n                            </select>\n                        </div>\n                        <div class=\"form-group\">\n                            <label for=\"fc3\">Industry content to pre-load (All have general business dialogs)</label>\n                            <select class=\"form-control\" name=\"industry\" id=\"fc3\" readonly>\n                              {{{demos}}}\n                            </select>\n                        </div>\n                        <div class=\"form-group\">\n                            <label for=\"fc4\">Plan</label>\n                            <select class=\"form-control\" id=\"fc4\" name=\"plan\" readonly>\n                              <option value=\"plus\">Plus/Premium/Advanced (IBMers use this one only)</option>\n                              <option value=\"lite\">Lite (BP's/customers only.  Guaranteed to not work on internal IBMer accounts.)</option>\n                            </select>\n                        </div>\n                      </div>\n                    </div>\n                  </div>\n                </div>\n                \n                \n                <br>\n                <button id=\"smb1\" type=\"submit\" class=\"btn btn-primary\" disabled >Continue</button>\n            </form>\n            \n    </div>\n  </div>\n</div>\n\n\n<script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js\" ></script>\n<script src=\"https://code.jquery.com/jquery-3.5.1.min.js\" integrity=\"sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=\" crossorigin=\"anonymous\"></script>\n<script src=\"https://code.jquery.com/ui/1.12.1/jquery-ui.min.js\" ></script>\n<script>\n\n$( \"#fc1\" ).change(function() {\n  $('#smb1').prop('disabled', true);\n  $('.tconame').text($( \"#fc1\" ).val());\n  $.post( \"/getWeb\", { name: $( \"#fc1\" ).val() })\n  .done(function( data ) {\n      if(data.website != null){\n        $( \"#fcurl\" ).val(data.website);\n        $( \"#faddr\" ).val(data.address);\n        $('#smb1').prop('disabled', false);\n        $(\"#vfeedback\").text(\"\");\n        $(\"#fc1\").switchClass( \"is-invalid\", \"is-valid\");\n        $(\"#fc1\")[0].setCustomValidity(\"\");\n      }else{\n          $(\"#fc1\")[0].setCustomValidity(\"fail\");\n          $(\"#vfeedback\").text(\"Never heard of them before... Please enter a website and location below.\");\n          $(\"#fc1\").switchClass( \"is-valid\", \"is-invalid\");\n      }\n    \n  });\n});\n$('#choosec').submit(function(e){\n    $('#smb1').text(\"Searching for \" + $('#fc1').val().trim() + \"...\");\n    $('#smb1').addClass(\"disabled\");\n});\n</script>","output":"str","x":920,"y":40,"wires":[["5bfcecd3.14b81c"]]},{"id":"d40a489.6a67638","type":"delay","z":"1c2d6e78.ff8e7a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":560,"wires":[["2463f156.6c41ae"]]},{"id":"4b2356dc.f7dfc","type":"template","z":"1c2d6e78.ff8e7a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"server {\n  listen 443 ssl;\n  server_name {{payload.i}}.daidemos.com;\n  large_client_header_buffers 4 32k;\n\n  location / {\n    proxy_pass https://{{payload.p}};\n    proxy_set_header Host $host;\n    proxy_set_header X-Real-IP $remote_addr;\n    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;\n    proxy_set_header X-Forwarded-Proto $scheme;\n    proxy_read_timeout  36000s;\n    proxy_http_version 1.1;\n    proxy_set_header Upgrade $http_upgrade;\n    proxy_set_header Connection \"upgrade\";\n  }\n}\nserver {\n  listen 3000 ssl;\n  server_name {{payload.i}}.daidemos.com;\n  large_client_header_buffers 4 32k;\n\n  location / {\n    proxy_pass http://{{payload.p}}:3000;\n    proxy_set_header Host $host;\n    proxy_set_header X-Real-IP $remote_addr;\n    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;\n    proxy_set_header X-Forwarded-Proto $scheme;\n    proxy_read_timeout  36000s;\n    proxy_http_version 1.1;\n    proxy_set_header Upgrade $http_upgrade;\n    proxy_set_header Connection \"upgrade\";\n  }\n}","output":"str","x":660,"y":380,"wires":[["dc9f3443.61d3e"]]},{"id":"f74b2f9b.854bd8","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"\nmsg.filename = \"/etc/nginx/sites-enabled/\" + msg.payload.i;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":380,"wires":[["4b2356dc.f7dfc","16e8995b.d23d2f"]]},{"id":"dc9f3443.61d3e","type":"file","z":"1c2d6e78.ff8e7a","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":810,"y":380,"wires":[["e4114bfb.d78f1"]]},{"id":"e4114bfb.d78f1","type":"exec","z":"1c2d6e78.ff8e7a","command":"service nginx reload","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"nginx","x":950,"y":380,"wires":[[],[],[]]},{"id":"fe991da3.ea5178","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"/idestroy","method":"post","upload":false,"swaggerDoc":"","x":160,"y":440,"wires":[["c301b9fa.2ee74","ebe6c0b3.a29598","dd50272f.53152"]]},{"id":"21341df0.c8c992","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"/icreate","method":"post","upload":false,"swaggerDoc":"","x":150,"y":400,"wires":[["c301b9fa.2ee74","f74b2f9b.854bd8"]]},{"id":"296fd1ba.2607ce","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"/iassistant","method":"post","upload":false,"swaggerDoc":"","x":160,"y":560,"wires":[["c301b9fa.2ee74","d40a489.6a67638"]]},{"id":"2fe87e38.841772","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"try{\n    msg.payload = \"find /etc/nginx/sites-enabled/ -type f -iname '\" + msg.payload.i.match(/([^\\.][a-zA-Z0-9_]*-schematicbp\\w+)/i)[0] + \"' -delete\";\n}catch(fail){\n    msg.payload = \"find /etc/nginx/sites-enabled/ -type f -iname '\" + msg.payload.i + \"' -delete\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":420,"wires":[["3de079ee.154aae"]]},{"id":"3de079ee.154aae","type":"exec","z":"1c2d6e78.ff8e7a","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":810,"y":420,"wires":[["e4114bfb.d78f1"],[],[]]},{"id":"1ef0e6bb.de2759","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"/ic/:instnum","method":"post","upload":true,"swaggerDoc":"","x":230,"y":780,"wires":[["4a3e0743.74ff2","62716d8a.28c23c"]]},{"id":"4a3e0743.74ff2","type":"json","z":"1c2d6e78.ff8e7a","name":"","property":"payload","action":"obj","pretty":true,"x":390,"y":780,"wires":[["6884243f.319be4"]]},{"id":"b8e791e.0091a7","type":"sqlite","z":"1c2d6e78.ff8e7a","mydb":"bb2f6fb4.d4be2","sqlquery":"msg.topic","sql":"","name":"","x":1020,"y":780,"wires":[[]]},{"id":"6884243f.319be4","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.payload = Object.keys(msg.payload)[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":780,"wires":[["736915dc.8724b4"]]},{"id":"736915dc.8724b4","type":"json","z":"1c2d6e78.ff8e7a","name":"","property":"payload","action":"obj","pretty":true,"x":680,"y":780,"wires":[["4f6c6497.d15fa4"]]},{"id":"4f6c6497.d15fa4","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.topic = 'INSERT INTO \"main\".\"demobuilder\"(\"account\",\"owner\",\"account_id\",\"instance\") VALUES (\"'+ msg.payload.name + '\",\"'+ msg.payload.onwer+'\",\"'+ msg.payload.account_id+'\",\"'+ msg.req.params.instnum +'\")';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":780,"wires":[["b8e791e.0091a7"]]},{"id":"c74571ec.13af08","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"stats","method":"get","upload":false,"swaggerDoc":"","x":200,"y":1040,"wires":[["aec00c69.ed7f38"]]},{"id":"62716d8a.28c23c","type":"http response","z":"1c2d6e78.ff8e7a","name":"","statusCode":"","headers":{},"x":850,"y":920,"wires":[]},{"id":"76ce03cb.c6af74","type":"sqlite","z":"1c2d6e78.ff8e7a","mydb":"bb2f6fb4.d4be2","sqlquery":"msg.topic","sql":"select d.account, d.owner, d.instance, d.Timestamp, p.provisioned from demobuilder d left join provisioned p on d.instance = p.instance;","name":"","x":560,"y":1000,"wires":[["62716d8a.28c23c"]]},{"id":"1e7ee0cd.6fb99f","type":"template","z":"1c2d6e78.ff8e7a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n<link rel=\"stylesheet\" type=\"text/css\" href=\"/static/css/bundle.s41.css\">\n<link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1\" crossorigin=\"anonymous\">\n<link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css\">\n<link rel=\"stylesheet\" href=\"https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css\">\n<title>DemoBuilder Stats</title></head>  \n<body>\n<div class=\"container\" style=\"padding:10px\">\n  <div class=\"row\">\n    <div class=\"col-sm\">\n        <div class=\"card\">\n          <div class=\"card-body\">\n            <h5 class=\"card-title\">Users</h5>\n            <p id=\"usercount\" class=\"card-text\"></p>\n          </div>\n        </div>\n    </div>\n    <div class=\"col-sm\">\n        <div class=\"card\">\n          <div class=\"card-body\">\n            <h5 class=\"card-title\">Total Instances</h5>\n            <p id=\"instancecount\" class=\"card-text\"></p>\n          </div>\n        </div>\n    </div>\n    <div class=\"col-sm\">\n        <div class=\"card\">\n          <div class=\"card-body\">\n            <h5 class=\"card-title\">Active Instances</h5>\n            <p id=\"activecount\" class=\"card-text\"></p>\n          </div>\n        </div>\n    </div>\n    </div><div class=\"row\">\n    </div>\n</div>\n    <table id=\"table\"><thead>\n            <tr>\n                <th>Account</th>\n                <th>Owner</th>\n                <th>Company</th>\n                <th>Timestamp</th>\n                <th>Status</th>\n            </tr>\n        </thead></table>\n\n</body>\n\n\n<script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js\" integrity=\"sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW\" crossorigin=\"anonymous\"></script>\n<script src=\"https://code.jquery.com/jquery-3.5.1.min.js\" integrity=\"sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=\" crossorigin=\"anonymous\"></script>\n<script src=\"../../socket.io/socket.io.js\"></script>\n<script src=\"https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js\"></script>\n<script>\n$('#table').DataTable( {\n    ajax: {\n        url: '/statsdata{{{super}}}',\n        dataSrc: ''\n    },\n    columns: [\n        { data: 'account' },\n        { data: 'owner' },\n        { data: 'instance' },\n        { data: 'Timestamp' },\n        { data: 'provisioned' }\n    ],\n    order: [[ 3, \"desc\" ]]\n} );\n$.get( \"/usercount\", function( data ) {\n  $( \"#usercount\" ).html( data[0].USERS );\n});\n$.get( \"/instancecount\", function( data ) {\n  $( \"#instancecount\" ).html( data[0].INSTANCES );\n});\n$.get( \"/activecount\", function( data ) {\n  $( \"#activecount\" ).html( data[0].INSTANCES );\n});\n\n    \n</script>","output":"str","x":600,"y":1040,"wires":[["62716d8a.28c23c"]]},{"id":"6854f16b.75ddd8","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"statsdata","method":"get","upload":false,"swaggerDoc":"","x":220,"y":1000,"wires":[["28a7b141.a2d8c6"]]},{"id":"c33a3905.ead248","type":"sqlite","z":"1c2d6e78.ff8e7a","mydb":"bb2f6fb4.d4be2","sqlquery":"msg.topic","sql":"","name":"DB","x":1370,"y":360,"wires":[["ab2806b0.a0c888"]]},{"id":"16e8995b.d23d2f","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.topic = 'INSERT INTO \"main\".\"provisioned\"(\"instance\",\"provisioned\") VALUES (\"'+ msg.payload.i + '\",\"Active\")';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":360,"wires":[["c33a3905.ead248"]]},{"id":"b9686877.14b838","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"smsHook","method":"post","upload":false,"swaggerDoc":"","x":220,"y":1100,"wires":[["62716d8a.28c23c","60d7899.6278578"]]},{"id":"60d7899.6278578","type":"mqtt out","z":"1c2d6e78.ff8e7a","name":"","topic":"texts","qos":"2","retain":"","broker":"18c5ccd5.ef404b","x":410,"y":1100,"wires":[]},{"id":"7e7e834b.898e24","type":"sqlite","z":"1c2d6e78.ff8e7a","mydb":"bb2f6fb4.d4be2","sqlquery":"msg.topic","sql":"","name":"p","x":410,"y":80,"wires":[["581e7492.704834"]]},{"id":"581e7492.704834","type":"function","z":"1c2d6e78.ff8e7a","name":"r","func":"msg.comp = \"\";\nmsg.htitle = \"Data & AI DemoBuilder\";\nmsg.provisioned = false;\ntry{\n    if (msg.payload[0].provisioned === \"Active\"){\n        msg.provisioned = true;\n        msg.htitle = \"Time to Demo!\";\n        msg.comp = \"<a style='padding-right:20px' href='https://\"+ msg.company + \"-\"+ msg.cid + \".daidemos.com/test' target='_blank'><img width='40px' height='40px' src='/static/img/conversation.svg'>Customer Page</a> <a style='padding-right:20px' href='https://\"+ msg.company + \"-\"+ msg.cid + \".daidemos.com/agent' target='_blank'><img width='40px' height='40px' src='/static/img/agent.svg'>Agent Page</a> <a style='padding-right:20px' href='https://ibm.box.com/s/ci13fyhjaxokihc163paywne90y2104o' target='_blank'><img width='40px' height='40px' src='/static/img/video.svg'>Scripts, Videos, Decks</a> <br><br><a style='padding-right:20px' href='https://\"+ msg.company + \"-\"+ msg.cid + \".daidemos.com/a/d/z/v/r?zz=\"+ msg.company + \"' target='_blank'><img width='40px' height='40px' src='/static/img/nodered.png'>Node-Red (modify the UI's and webhooks)</a><a style='padding-right:20px' href='https://cloud.ibm.com/iam/users/invite_users' target='_blank'><svg focusable='false' preserveAspectRatio='xMidYMid meet' description='IAM UI Left nav' xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 32 32' aria-hidden='true' class='left-nav-header__icon'><path d='M24,14H22V8A6,6,0,0,0,10,8v6H8a2,2,0,0,0-2,2V28a2,2,0,0,0,2,2H24a2,2,0,0,0,2-2V16A2,2,0,0,0,24,14ZM12,8a4,4,0,0,1,8,0v6H12ZM24,28H8V16H24Z'></path></svg>Access Group</a>\";\n        \n    }\n}\ncatch(fail){}\n\nmsg.topic = \"select script, json from tfscript t where t.instance like '\" + msg.company + \"-\" + msg.cid + \"'\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":80,"wires":[["caa53678.6aaa08"]]},{"id":"fc3d98ad.e4c0a8","type":"sqlite","z":"1c2d6e78.ff8e7a","mydb":"bb2f6fb4.d4be2","sqlquery":"fixed","sql":"select COUNT(DISTINCT d.owner) as \"USERS\"  from demobuilder d left join provisioned p on d.instance = p.instance;","name":"","x":440,"y":920,"wires":[["62716d8a.28c23c"]]},{"id":"87bd455e.78d9e","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"usercount","method":"get","upload":false,"swaggerDoc":"","x":220,"y":920,"wires":[["fc3d98ad.e4c0a8"]]},{"id":"880b4f4d.7a5038","type":"sqlite","z":"1c2d6e78.ff8e7a","mydb":"bb2f6fb4.d4be2","sqlquery":"fixed","sql":"select COUNT(DISTINCT d.instance) as \"INSTANCES\"  from demobuilder d left join provisioned p on d.instance = p.instance;","name":"","x":440,"y":880,"wires":[["62716d8a.28c23c"]]},{"id":"3292fc4.4589a84","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"instancecount","method":"get","upload":false,"swaggerDoc":"","x":230,"y":880,"wires":[["880b4f4d.7a5038"]]},{"id":"aec00c69.ed7f38","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.super = \"\";\ntry{\n    if (msg.payload.u == \"garrett\"){\n        msg.super = \"?u=garrett\";\n    }\n}catch(fail){}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1040,"wires":[["1e7ee0cd.6fb99f"]]},{"id":"28a7b141.a2d8c6","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.topic = \"select SUBSTR(d.account, 1, 3) || '*********' as account, SUBSTR(d.owner, 1, 4) || '********' as owner, REPLACE(SUBSTR(d.instance, 1, INSTR( d.instance, '-') - 1),'_',' ') as instance, d.Timestamp, p.provisioned from demobuilder d left join provisioned p on d.instance = p.instance;\";\ntry{\n    if (msg.payload.u == \"garrett\"){\n        msg.topic = \"select d.account, d.owner, '<a href=\\\"\\\\m\\\\' || REPLACE(d.instance,\\\"-\\\",\\\"/\\\") || '\\\" target=\\\"_blank\\\">' || d.instance || '</a>' as instance, d.Timestamp, '<a href=\\\"\\' || d.instance || '-WAinst.log\\\" target=\\\"_blank\\\">' || p.provisioned || '</a>' as provisioned from demobuilder d left join provisioned p on d.instance = p.instance;\";\n    }\n}catch(fail){}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1000,"wires":[["76ce03cb.c6af74"]]},{"id":"117fdd94.3a24a2","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.topic = 'UPDATE \"main\".\"provisioned\" SET \"provisioned\" = \"Decommissioned\" where \"instance\" LIKE \"'+ msg.payload + '\";';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":460,"wires":[["c33a3905.ead248"]]},{"id":"9d78640f.59d8d8","type":"inject","z":"1c2d6e78.ff8e7a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1320,"y":500,"wires":[["8f7ca9cf.60e5b"]]},{"id":"8f7ca9cf.60e5b","type":"exec","z":"1c2d6e78.ff8e7a","command":"ls /etc/nginx/sites-enabled/","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1420,"y":560,"wires":[["f155898c.3bee8"],[],[]]},{"id":"f155898c.3bee8","type":"split","z":"1c2d6e78.ff8e7a","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1630,"y":560,"wires":[["9176e563.6b362"]]},{"id":"9176e563.6b362","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.topic = 'UPDATE \"main\".\"provisioned\" SET \"provisioned\" = \"Active\" where \"instance\" = \"'+ msg.payload + '\";';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1780,"y":560,"wires":[["c33a3905.ead248"]]},{"id":"ab48c1cd.6ca08","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.topic = 'UPDATE \"main\".\"provisioned\" SET \"provisioned\" = \"Decommissioned\" where \"provisioned\" = \"Active\";';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1780,"y":520,"wires":[["c33a3905.ead248"]]},{"id":"f249b367.afd5b8","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"activecount","method":"get","upload":false,"swaggerDoc":"","x":220,"y":840,"wires":[["a0a0eaae.9b3b38"]]},{"id":"a0a0eaae.9b3b38","type":"sqlite","z":"1c2d6e78.ff8e7a","mydb":"bb2f6fb4.d4be2","sqlquery":"fixed","sql":"select COUNT(DISTINCT d.instance) as \"INSTANCES\"  from demobuilder d left join provisioned p on d.instance = p.instance where p.provisioned = \"Active\";","name":"","x":440,"y":840,"wires":[["62716d8a.28c23c"]]},{"id":"704e9d12.2ef6a4","type":"inject","z":"1c2d6e78.ff8e7a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1620,"y":520,"wires":[["ab48c1cd.6ca08"]]},{"id":"b809cf8e.2d53c8","type":"http request","z":"1c2d6e78.ff8e7a","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.github.com/repos/garrettrowe/watsonAutomation/git/trees/main?recursive=true","tls":"","persist":false,"proxy":"","authType":"","x":1790,"y":160,"wires":[["4605fb77.bd0b04"]]},{"id":"9882b1d6.9cece8","type":"change","z":"1c2d6e78.ff8e7a","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Accept\":\"application/vnd.github.v3+json\",\"User-Agent\":\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:78.0) Gecko/20100101 Firefox/78.0\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1590,"y":160,"wires":[["b809cf8e.2d53c8"]]},{"id":"4605fb77.bd0b04","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"var demos = \"\";\nmsg.payload.tree.forEach(function(item) {\n  if (item.path.search(\"demos/watson/assistant_\") == 0){\n    var d = item.path.replace(/demos\\/watson\\/assistant_/,\"\").replace(\".json\",\"\");\n    demos = demos + '<option value=\"' + d + '\">' + d + '</option>';\n  }\n});\n\nflow.set(\"demos\", demos);\nmsg.demos = demos;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1960,"y":160,"wires":[[]]},{"id":"1cd0da82.3c0b55","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"/repoUpdate","method":"post","upload":false,"swaggerDoc":"","x":1370,"y":160,"wires":[["9882b1d6.9cece8","4a75d7e.938c7a8"]]},{"id":"4a75d7e.938c7a8","type":"http response","z":"1c2d6e78.ff8e7a","name":"","statusCode":"","headers":{},"x":1570,"y":120,"wires":[]},{"id":"412c1220.4e1514","type":"start-up-trigger","z":"1c2d6e78.ff8e7a","x":1360,"y":120,"wires":[["9882b1d6.9cece8","f628a536.151bf"]]},{"id":"9eb7ef5c.f9a988","type":"inject","z":"1c2d6e78.ff8e7a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1360,"y":80,"wires":[["9882b1d6.9cece8"]]},{"id":"c09e641d.9f134","type":"change","z":"1c2d6e78.ff8e7a","name":"","rules":[{"t":"set","p":"demos","pt":"msg","to":"demos","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":40,"wires":[["5fb63300.ba699c"]]},{"id":"aaf54b22.9752c","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"/softDestroy","method":"post","upload":false,"swaggerDoc":"","x":170,"y":480,"wires":[["c301b9fa.2ee74"]]},{"id":"ebe6c0b3.a29598","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"try{\n    msg.payload = JSON.parse(msg.payload.i)[0].replace(/schematics.*workspace\\./,\"\").replace(/\\..*/,\"\");\n}catch(fail){\n    msg.payload = msg.payload.i;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":460,"wires":[["117fdd94.3a24a2"]]},{"id":"27c75b5e.aac98c","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"\nmsg.topic = 'select \"instance\" from \"main\".\"provisioned\" where \"instance\" = \"'+ msg.payload.Instance + '\";';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":500,"wires":[["8776230f.2f633"]]},{"id":"8776230f.2f633","type":"sqlite","z":"1c2d6e78.ff8e7a","mydb":"bb2f6fb4.d4be2","sqlquery":"msg.topic","sql":"","name":"DB","x":670,"y":500,"wires":[["aaf3bc53.f4b608"]]},{"id":"aaf3bc53.f4b608","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.url = \"https://\" + msg.payload[0].instance + \".daidemos.com/destroy\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":500,"wires":[["42fe5ac1.904c14"]]},{"id":"42fe5ac1.904c14","type":"http request","z":"1c2d6e78.ff8e7a","name":"","method":"DELETE","ret":"txt","paytoqs":"ignore","url":"","tls":"2b836cd.3aa9214","persist":true,"proxy":"","authType":"","x":970,"y":500,"wires":[[]]},{"id":"dd50272f.53152","type":"delay","z":"1c2d6e78.ff8e7a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":420,"wires":[["2fe87e38.841772"]]},{"id":"6938bb72.6f8df4","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.payload.Ip = msg.payload.Ip.replace(/.*workspaceID=/,\"\").replace(/,.*/,\"\");\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":340,"wires":[["a20bb6d1.7fd53"]]},{"id":"a20bb6d1.7fd53","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.topic = 'INSERT INTO \"main\".\"wksp\"(\"inst\",\"wksp\") VALUES (\"'+ msg.payload.Instance + '\",\"'+ msg.payload.Ip + '\")';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":340,"wires":[["c33a3905.ead248"]]},{"id":"6600c913.83217","type":"template","z":"1c2d6e78.ff8e7a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"terraform {\n  required_providers {\n    ibm = {\n      source = \"IBM-Cloud/ibm\"\n      version = \"~> 1.19.0\"\n    }\n    logship = {\n      source = \"garrettrowe/logship\"\n      version = \"~> 0.0.4\"\n    }\n    sshkey = {\n      source = \"garrettrowe/sshkey\"\n      version = \"~> 0.3.0\"\n    }\n  }\n}\nprovider \"logship\" {\n}\nprovider \"ibm\" {\n  generation         = 2\n  region             = \"us-south\"\n}\nprovider \"sshkey\" {\n  generation         = 2\n  region             = \"us-south\"\n}\ndata \"local_file\" \"configs\" {\n  filename = join(\"\", [\"../\", sort(fileset(\"../\", \"job-log*\"))[0]])\n}\n\nlocals {\n    company = \"{{companyEscape}}\"\n    plan = \"{{plan}}\"\n    companysafe = \"{{companySafe}}\"\n}\n\ndata \"logship\" \"startlog\" {\n  log = \"Starting Terraform\"\n  instance = \"{{instance}}\"\n  ip = data.local_file.configs.content\n}\n\nresource \"ibm_iam_service_id\" \"serviceID\" {\n  name = \"${local.companysafe}-svc\"\n}\nresource \"ibm_iam_service_api_key\" \"automationkey\" {\n  name = \"${local.companysafe}-key\"\n  iam_service_id = ibm_iam_service_id.serviceID.iam_id\n}\nresource \"ibm_iam_access_group\" \"accgrp\" {\n  name        = \"${local.companysafe}-group\"\n  description = \"${local.company} access group\"\n}\nresource \"ibm_iam_access_group_members\" \"accgroupmem\" {\n  access_group_id = ibm_iam_access_group.accgrp.id\n  iam_service_ids = [ibm_iam_service_id.serviceID.id]\n}\nresource \"ibm_resource_group\" \"group\" {\n  name = local.company\n}\nresource \"ibm_iam_access_group_policy\" \"policy\" {\n  access_group_id = ibm_iam_access_group.accgrp.id\n  roles        = [\"Operator\", \"Writer\", \"Reader\", \"Viewer\", \"Editor\", \"Administrator\", \"Manager\"]\n  resources {\n    resource_group_id = ibm_resource_group.group.id\n  }\n}\nresource \"ibm_iam_access_group_policy\" \"policya\" {\n  access_group_id = ibm_iam_access_group.accgrp.id\n  roles        = [\"Viewer\"]\n  account_management = true\n  provisioner \"local-exec\" { \n    command = \"ibmcloud login -q --apikey ${ibm_iam_service_api_key.automationkey.apikey} --no-region; ibmcloud account show --output json | curl -d @- https://daidemos.com/ic/{{instance}}\"\n  }\n}\nresource \"ibm_iam_user_invite\" \"invite_user\" {\n    users = [\"automation@daidemos.com\"]\n    access_groups = [ibm_iam_access_group.accgrp.id]\n}\n\nresource \"ibm_resource_instance\" \"lt_instance\" {\n  name              = \"${local.companysafe}-translator\"\n  service           = \"language-translator\"\n  plan              = local.plan != \"plus\" ? \"lite\" : \"standard\"\n  location          = \"us-south\"\n  resource_group_id = ibm_resource_group.group.id\n\n  timeouts {\n    create = \"15m\"\n    update = \"15m\"\n    delete = \"15m\"\n  }\n}\nresource \"ibm_resource_key\" \"lt_key\" {\n  name                 = \"${ibm_resource_instance.lt_instance.name}-key\"\n  role                 = \"Manager\"\n  resource_instance_id = ibm_resource_instance.lt_instance.id\n  \n  timeouts {\n    create = \"15m\"\n    delete = \"15m\"\n  }\n}\ndata \"logship\" \"ltlog\" {\n  log = \"Created Watson Language Translator: ${ibm_resource_instance.lt_instance.name}\"\n  instance = \"{{instance}}\"\n}\n\nresource \"ibm_resource_instance\" \"discovery_instance\" {\n  name              = \"${local.companysafe}-discovery\"\n  service           = \"discovery\"\n  plan              = local.plan != \"plus\" ? \"lite\" : \"advanced\"\n  location          = \"us-south\"\n  resource_group_id = ibm_resource_group.group.id\n\n  timeouts {\n    create = \"15m\"\n    update = \"15m\"\n    delete = \"15m\"\n  }\n}\nresource \"ibm_resource_key\" \"discovery_key\" {\n  name                 = \"${ibm_resource_instance.discovery_instance.name}-key\"\n  role                 = \"Manager\"\n  resource_instance_id = ibm_resource_instance.discovery_instance.id\n  \n  timeouts {\n    create = \"15m\"\n    delete = \"15m\"\n  }\n}\ndata \"logship\" \"discoverylog\" {\n  log = \"Created Watson Discovery: ${ibm_resource_instance.discovery_instance.name}\"\n  instance = \"{{instance}}\"\n}\n\nresource \"ibm_resource_instance\" \"stt_instance\" {\n  name              = \"${local.companysafe}-speech-to-text\"\n  service           = \"speech-to-text\"\n  plan              = local.plan != \"plus\" ? \"lite\" : \"plus\"\n  location          = \"us-south\"\n  resource_group_id = ibm_resource_group.group.id\n\n  timeouts {\n    create = \"15m\"\n    update = \"15m\"\n    delete = \"15m\"\n  }\n}\nresource \"ibm_resource_key\" \"stt_key\" {\n  name                 = \"${ibm_resource_instance.stt_instance.name}-key\"\n  role                 = \"Manager\"\n  resource_instance_id = ibm_resource_instance.stt_instance.id\n  \n  timeouts {\n    create = \"15m\"\n    delete = \"15m\"\n  }\n}\ndata \"logship\" \"sttlog\" {\n  log = \"Created Speech-to-text: ${ibm_resource_instance.stt_instance.name}\"\n  instance = \"{{{instance}}}\"\n}\n\nresource \"ibm_resource_instance\" \"tts_instance\" {\n  name              = \"${local.companysafe}-text-to-speech\"\n  service           = \"text-to-speech\"\n  plan              = local.plan != \"plus\" ? \"lite\" : \"standard\"\n  location          = \"us-south\"\n  resource_group_id = ibm_resource_group.group.id\n\n  timeouts {\n    create = \"15m\"\n    update = \"15m\"\n    delete = \"15m\"\n  }\n}\nresource \"ibm_resource_key\" \"tts_key\" {\n  name                 = \"${ibm_resource_instance.tts_instance.name}-key\"\n  role                 = \"Manager\"\n  resource_instance_id = ibm_resource_instance.tts_instance.id\n  \n  timeouts {\n    create = \"15m\"\n    delete = \"15m\"\n  }\n}\ndata \"logship\" \"ttslog\" {\n  log = \"Created Text-to-speech: ${ibm_resource_instance.tts_instance.name}\"\n  instance = \"{{instance}}\"\n}\n\nresource \"ibm_resource_instance\" \"cognos_instance\" {\n  name              = \"${local.companysafe}-cognos\"\n  service           = \"dynamic-dashboard-embedded\"\n  plan              = local.plan != \"plus\" ? \"lite\" : \"paygo\"\n  location          = \"us-south\"\n  resource_group_id = ibm_resource_group.group.id\n\n  timeouts {\n    create = \"15m\"\n    update = \"15m\"\n    delete = \"15m\"\n  }\n}\nresource \"ibm_resource_key\" \"cognos_key\" {\n  name                 = \"${ibm_resource_instance.cognos_instance.name}-key\"\n  role                 = \"Manager\"\n  resource_instance_id = ibm_resource_instance.cognos_instance.id\n  \n  timeouts {\n    create = \"15m\"\n    delete = \"15m\"\n  }\n}\ndata \"logship\" \"cognoslog\" {\n  log = \"Created Cognos Dashboard: ${ibm_resource_instance.cognos_instance.name}\"\n  instance = \"{{instance}}\"\n}\n\nresource \"ibm_resource_instance\" \"wml_instance\" {\n  name              = \"${local.companysafe}-wml\"\n  service           = \"pm-20\"\n  plan              = local.plan != \"plus\" ? \"lite\" : \"v2-standard\"\n  location          = \"us-south\"\n  resource_group_id = ibm_resource_group.group.id\n\n  timeouts {\n    create = \"15m\"\n    update = \"15m\"\n    delete = \"15m\"\n  }\n}\nresource \"ibm_resource_instance\" \"dsx_instance\" {\n  name              = \"${local.companysafe}-dsx\"\n  service           = \"data-science-experience\"\n  plan              = local.plan != \"plus\" ? \"free-v1\" : \"standard-v1\"\n  location          = \"us-south\"\n  resource_group_id = ibm_resource_group.group.id\n\n  timeouts {\n    create = \"15m\"\n    update = \"15m\"\n    delete = \"15m\"\n  }\n}\nresource \"ibm_resource_instance\" \"cos_instance\" {\n  name              = \"${local.companysafe}-cos\"\n  service           = \"cloud-object-storage\"\n  plan              = local.plan != \"plus\" ? \"lite\" : \"standard\"\n  location          = \"global\"\n  resource_group_id = ibm_resource_group.group.id\n\n  timeouts {\n    create = \"15m\"\n    update = \"15m\"\n    delete = \"15m\"\n  }\n}\n\ndata \"logship\" \"wmllog\" {\n  log = \"Created Watson Machine Learning: ${ibm_resource_instance.wml_instance.name}\"\n  instance = \"{{instance}}\"\n}\n\nresource \"ibm_resource_instance\" \"nlu_instance\" {\n  name              = \"${local.companysafe}-nlu\"\n  service           = \"natural-language-understanding\"\n  plan              = local.plan != \"plus\" ? \"free\" : \"standard\"\n  location          = \"us-south\"\n  resource_group_id = ibm_resource_group.group.id\n\n  timeouts {\n    create = \"15m\"\n    update = \"15m\"\n    delete = \"15m\"\n  }\n}\nresource \"ibm_resource_key\" \"nlu_key\" {\n  name                 = \"${ibm_resource_instance.nlu_instance.name}-key\"\n  role                 = \"Manager\"\n  resource_instance_id = ibm_resource_instance.nlu_instance.id\n  \n  timeouts {\n    create = \"15m\"\n    delete = \"15m\"\n  }\n}\ndata \"logship\" \"nlulog\" {\n  log = \"Created Watson NLU: ${ibm_resource_instance.nlu_instance.name}\"\n  instance = \"{{instance}}\"\n}\n\nresource \"ibm_resource_instance\" \"wa_instance\" {\n  name              = \"${local.companysafe}-assistant\"\n  service           = \"conversation\"\n  plan              = local.plan != \"plus\" ? \"lite\" : \"plus\"\n  location          = \"us-south\"\n  resource_group_id = ibm_resource_group.group.id\n  \n  provisioner \"local-exec\" {\n    command    = \"curl -d 'i={{instance}}&p=${self.id}' -X POST https://daidemos.com/iassistant\"\n  }\n\n  timeouts {\n    create = \"15m\"\n    update = \"15m\"\n    delete = \"15m\"\n  }\n}\nresource \"ibm_resource_key\" \"wa_key\" {\n  name                 = \"${ibm_resource_instance.wa_instance.name}-key\"\n  role                 = \"Manager\"\n  resource_instance_id = ibm_resource_instance.wa_instance.id\n  timeouts {\n    create = \"15m\"\n    delete = \"15m\"\n  }\n}\n\ndata \"logship\" \"walog\" {\n  log = \"Created Watson Assistant: ${ibm_resource_instance.wa_instance.name}\"\n  ip = ibm_resource_instance.wa_instance.id\n  instance = \"{{instance}}\"\n}\n\nresource \"ibm_is_vpc\" \"testacc_vpc\" {\n  name = \"${local.companysafe}-vpc\"\n  resource_group = ibm_resource_group.group.id\n}\ndata \"logship\" \"vpclog\" {\n  log = \"Created VPC: ${ibm_is_vpc.testacc_vpc.name}\"\n  instance = \"{{instance}}\"\n}\n\nresource \"ibm_is_subnet\" \"testacc_subnet\" {\n  name            = \"${local.companysafe}-subnet\"\n  vpc             = ibm_is_vpc.testacc_vpc.id\n  resource_group  = ibm_resource_group.group.id\n  zone            = \"us-south-1\"\n  ipv4_cidr_block = \"10.240.0.0/24\"\n  public_gateway  = ibm_is_public_gateway.publicgateway1.id\n}\ndata \"logship\" \"subnetlog\" {\n  log = \"Created Subnet: ${ibm_is_subnet.testacc_subnet.name}\"\n  instance = \"{{instance}}\"\n}\n  \nresource \"ibm_is_public_gateway\" \"publicgateway1\" {\n  name = \"${local.companysafe}-gateway\"\n  vpc  = ibm_is_vpc.testacc_vpc.id\n  zone = \"us-south-1\"\n  resource_group = ibm_resource_group.group.id\n}\ndata \"logship\" \"gatewaylog\" {\n  log = \"Created Gateway: ${ibm_is_public_gateway.publicgateway1.name}\"\n  instance = \"{{instance}}\"\n}\n\nresource \"sshkey\" \"testacc_sshkey\" {\n  name       = \"automationmanager\"\n  resource_group = ibm_resource_group.group.id\n  public_key = \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDBtG5XWo4SkYH6AxNI536z2O3IPznhURL1EYiYwKLbJhjJdEYme7TWucgStHrCcNriiT021Rjq85iL/Imqu9/knNSWMBwZtPLEi5PmnOFHeNlYcVEGhhiuAHN47LPn9+ycQhIc6ECJEGvmbQZeDxLkYu/Ky2xsIFH+71iuanonmlEWDyesEv3b5ev8ELu/pp3z997eqtiD5TqIxA5SxLinZ8dA71UAjE8uemPunqPDhY2K9tHzRawkswckPywNs/ARUmdoAko+DKrJ9VooYPz/NY0Tguy7u3Lend+d8/Mt3snyLc4b5VEPe3O0G2/CVIzNfXAbhrhlTgr8UfoxrDpYtCfn/Hf2GQPpORgqj99SHKXU+1lb4D5vyc7TTMAhksToDpcw4w22jJGLrYZ8yvrKGvCWlgZASyvMrpwInwMN9Lt+rJkzyX2jyc9ATQuGDJpshObEDBRkknpaCMdw0iwcmZYAlcHxV1j9doiBKugMjN6q1Xv5cWEi5h8gOGOzVKO+flltjkcKEceMFJhpD3E8LWm8f0d3khSbpyjjfhiCj7S7iyWBcSmzVbPOC7ObcHZq4RcpwdP3mfzjh1RGl0sGUhcvZL2uMmIutNZkPGcWLpDSY67M6reE7Wst6AMeOPERay2FXeHc+kPoMcNLiiizwwNdxL9q54B8sItYCxvv9Q== automationmanager\"\n}\n\n\nresource \"ibm_is_instance\" \"testacc_instance\" {\n  name    = \"${local.companysafe}-vsi\"\n  image   = \"r006-ed3f775f-ad7e-4e37-ae62-7199b4988b00\"\n  profile = \"bx2-2x8\"\n  resource_group = ibm_resource_group.group.id\n\n  primary_network_interface {\n    subnet = ibm_is_subnet.testacc_subnet.id\n  }\n\n  vpc       = ibm_is_vpc.testacc_vpc.id\n  zone      = \"us-south-1\"\n  keys      = [sshkey.testacc_sshkey.id]\n  user_data = <<EOT\n#cloud-config\nwrite_files:\n - content: |\n    ${jsonencode(ibm_resource_key.wa_key.credentials)}\n   path: /root/watsonassistant.txt\n - content: |\n    ${jsonencode(ibm_resource_key.discovery_key.credentials)}\n   path: /root/watsondiscovery.txt\n - content: |\n    ${jsonencode(ibm_resource_instance.wa_instance)}\n   path: /root/watsonassistantInst.txt\n - content: |\n    ${jsonencode(ibm_resource_instance.discovery_instance)}\n   path: /root/watsondiscoveryInst.txt\n - content: |\n    ${jsonencode(ibm_resource_key.lt_key.credentials)}\n   path: /root/wlt.txt\n - content: |\n    ${jsonencode(ibm_resource_key.stt_key.credentials)}\n   path: /root/wstt.txt\n - content: |\n    ${jsonencode(ibm_resource_key.tts_key.credentials)}\n   path: /root/wtts.txt\n - content: |\n    ${jsonencode(ibm_resource_key.cognos_key.credentials)}\n   path: /root/cognos.txt\n - content: |\n    ${jsonencode(ibm_iam_service_api_key.automationkey)}\n   path: /root/automationkey.txt\n - content: |\n    ${jsonencode(ibm_resource_key.nlu_key.credentials)}\n   path: /root/nlu.txt\n - content: |\n    ${jsonencode(ibm_resource_instance.cos_instance)}\n   path: /root/icos.txt\n - content: |\n    ${jsonencode(ibm_resource_instance.wml_instance)}\n   path: /root/wml.txt\n - content: |\n    {{{companyEscape}}}\n   path: /root/company.txt\n - content: |\n    {{{company}}}\n   path: /root/companytitle.txt\n - content: |\n    {{{companySafe}}}\n   path: /root/companysafe.txt\n - content: |\n    {{{url}}}\n   path: /root/companyurl.txt\n - content: |\n    null\n   path: /root/companyurloverride.txt\n - content: |\n    {{{instance}}}\n   path: /root/instnum.txt\n - content: |\n    {{{json}}}\n   path: /root/provisionjson.txt\n - content: |\n    {{demo}}\n   path: /root/demo.txt\n - content: |\n    {{{industry}}}\n   path: /root/industry.txt\n - content: |\n    process.env.NODE_TLS_REJECT_UNAUTHORIZED = \"0\";module.exports = {uiPort: process.env.PORT || 443, requireHttps: true, https: {key: require(\"fs\").readFileSync('/root/.node-red/node-key.pem'),cert: require(\"fs\").readFileSync('/root/.node-red/node-cert.pem')}, mqttReconnectTime: 15000, serialReconnectTime: 15000, debugMaxLength: 1000, httpAdminRoot: '/nadmin', adminAuth: {type: \"credentials\", users: [{username: \"{{companyEscape}}\", password: \"$2b$08$Rx8EGoP8uZmLFzA.9S1CMebrt159MLtxRcCwfi8r27N2BbBDOPb1K\", permissions: \"*\"}] }, logging: {console: {level: \"info\", } } }\n   path: /root/.node-red/settings.js\nruncmd:\n - wget https://raw.githubusercontent.com/garrettrowe/watsonAutomation/main/scripts/base.sh\n - bash base.sh\n - wget https://raw.githubusercontent.com/garrettrowe/watsonAutomation/main/scripts/{{demo}}.sh\n - bash {{demo}}.sh\nEOT\n}\ndata \"logship\" \"instancelog\" {\n  log = \"Created VSI: ${ibm_is_instance.testacc_instance.name}\"\n  instance = \"{{instance}}\"\n}\n\nresource \"ibm_is_floating_ip\" \"testacc_floatingip\" {\n  name   = \"${local.companysafe}-vsi-ip\"\n  resource_group = ibm_resource_group.group.id\n  target = ibm_is_instance.testacc_instance.primary_network_interface[0].id\n  \n  provisioner \"local-exec\" {\n    command    = \"curl -d 'i={{instance}}&p=${self.address}' -X POST https://daidemos.com/icreate\"\n  }\n  provisioner \"local-exec\" {\n    when = destroy\n    command    = \"curl -d 'i={{instance}}' -X POST https://daidemos.com/idestroy\"\n  }\n  \n}\n\nresource \"ibm_is_security_group\" \"testacc_security_group\" {\n    name = \"${local.companysafe}-securitygroup\"\n    resource_group = ibm_resource_group.group.id\n    vpc = ibm_is_vpc.testacc_vpc.id\n}\n\nresource \"ibm_is_security_group_network_interface_attachment\" \"sgnic\" {\n  security_group    = ibm_is_security_group.testacc_security_group.id\n  network_interface = ibm_is_instance.testacc_instance.primary_network_interface[0].id\n}\n\nresource \"ibm_is_security_group_rule\" \"testacc_security_group_rule_all_ib\" {\n    group = ibm_is_security_group.testacc_security_group.id\n    direction = \"inbound\"\n    remote = \"0.0.0.0/0\"\n }\n\nresource \"ibm_is_security_group_rule\" \"testacc_security_group_rule_all_ob\" {\n    group = ibm_is_security_group.testacc_security_group.id\n    direction = \"outbound\"\n    remote = \"0.0.0.0/0\"\n }\n","output":"str","x":320,"y":240,"wires":[["c7dc444.e6b52b8"]]},{"id":"c7dc444.e6b52b8","type":"file","z":"1c2d6e78.ff8e7a","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":450,"y":240,"wires":[["dd234653.73624"]]},{"id":"bba170cb.1f33b","type":"exec","z":"1c2d6e78.ff8e7a","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":710,"y":240,"wires":[[],[],[]]},{"id":"dd234653.73624","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.payload = \"cd /var/www/git/\" + msg.gitid + \" && git init && git add wa.tf && git commit -m 'c' && git update-server-info\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":240,"wires":[["bba170cb.1f33b"]]},{"id":"dc200314.87a008","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"/","method":"get","upload":false,"swaggerDoc":"","x":210,"y":40,"wires":[["c09e641d.9f134"]]},{"id":"f5d61f3b.dc24b","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"/startProvision","method":"post","upload":false,"swaggerDoc":"","x":110,"y":160,"wires":[["e5447e3b.241958"]]},{"id":"e5447e3b.241958","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.gitid = \"dai\" + Math.random() + \".git\";\nmsg.filename = \"/var/www/git/\" + msg.gitid + \"/wa.tf\";\nmsg.company = msg.payload.company;\nmsg.url = msg.payload.url;\nmsg.companyEscape = msg.company.trim().replace(/[ -]/g, \"_\").replace(/[\\\"\\' \\-\\=\\+\\<\\>\\?\\@\\#\\$\\%\\^\\&\\*\\(\\)\\~\\`\\,\\.\\/]/g, \"\")\nmsg.companySafe = msg.companyEscape.toLowerCase().replace(/_/g, \"-\");\nmsg.industry = msg.payload.industry;\nmsg.demo = msg.payload.demo;\nmsg.plan = msg.payload.plan;\nmsg.cid = \"DataAIDemoBuilder_\" + Math.round(Math.random()*1000000);\nmsg.instance = msg.companyEscape + \"-\" + msg.cid;\n\nmsg.payload.gitid = msg.gitid \nmsg.payload.companyEscape = msg.companyEscape;\nmsg.payload.companySafe = msg.companySafe;\nmsg.payload.cid = msg.cid;\nmsg.payload.instance = msg.instance\n\nmsg.json = JSON.stringify(msg.payload);\nmsg.binaryjson = Buffer.from(msg.json).toString('base64')\nmsg.topic = 'INSERT INTO \"tfscript\"(\"instance\",\"script\",\"json\") VALUES (\"'+ msg.instance + '\",\"'+ msg.gitid + '\",\"'+ msg.binaryjson + '\")';\nmsg.payload = msg.companyEscape;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":160,"wires":[["53793006.c32668","6600c913.83217","2649f8f8.3c374"]]},{"id":"2649f8f8.3c374","type":"sqlite","z":"1c2d6e78.ff8e7a","mydb":"bb2f6fb4.d4be2","sqlquery":"msg.topic","sql":"","name":"DB","x":490,"y":180,"wires":[[]]},{"id":"ab2806b0.a0c888","type":"debug","z":"1c2d6e78.ff8e7a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":360,"wires":[]},{"id":"be08f0bb.afd88","type":"template","z":"1c2d6e78.ff8e7a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<script>\nwindow.location.href = \"https://daidemos.com/m/{{companyEscape}}/{{cid}}\"\n</script>\n","output":"str","x":920,"y":160,"wires":[["5bfcecd3.14b81c"]]},{"id":"d09771ac.c888f8","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"try{\n    msg.script = msg.payload[0].script;\n    msg.instJSON = JSON.parse(Buffer.from(msg.payload[0].json, 'base64').toString('utf-8'));\n}catch(fail){}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":120,"wires":[["94b53b23.1d7c98"]]},{"id":"caa53678.6aaa08","type":"sqlite","z":"1c2d6e78.ff8e7a","mydb":"bb2f6fb4.d4be2","sqlquery":"msg.topic","sql":"","name":"p","x":310,"y":120,"wires":[["d09771ac.c888f8"]]},{"id":"a748cc37.754598","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.url = Buffer.from(\"aHR0cHM6Ly9tYXBzLmdvb2dsZWFwaXMuY29tL21hcHMvYXBpL3BsYWNlL2ZpbmRwbGFjZWZyb210ZXh0L2pzb24/a2V5PUFJemFTeUEzWm1FajlwNmJ2b2VPV1o3bUljQUJuaWVVdTlqbTNqUSZpbnB1dHR5cGU9dGV4dHF1ZXJ5JmZpZWxkcz1mb3JtYXR0ZWRfYWRkcmVzcyxuYW1lLHBsYWNlX2lkJmlucHV0PQ==\", 'base64').toString('utf-8') + encodeURIComponent(msg.payload.name) ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1920,"y":440,"wires":[["50509d2b.c10924"]]},{"id":"50509d2b.c10924","type":"http request","z":"1c2d6e78.ff8e7a","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"2b836cd.3aa9214","persist":true,"proxy":"","authType":"","x":2070,"y":440,"wires":[["55bb105f.54b9a"]]},{"id":"55bb105f.54b9a","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"try{\n    msg.address = msg.payload.candidates[0].formatted_address;\n    msg.url = Buffer.from(\"aHR0cHM6Ly9tYXBzLmdvb2dsZWFwaXMuY29tL21hcHMvYXBpL3BsYWNlL2RldGFpbHMvanNvbj9rZXk9QUl6YVN5QTNabUVqOXA2YnZvZU9XWjdtSWNBQm5pZVV1OWptM2pRJmZpZWxkcz13ZWJzaXRlJnBsYWNlX2lkPQ==\", 'base64').toString('utf-8') + msg.payload.candidates[0].place_id;\n}\ncatch(fail){\n    msg.payload = {};\n    msg.payload.website = null;\n    msg.payload.address = null;\n    \n    return [null,msg];\n}\nreturn [msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":2220,"y":440,"wires":[["a906fea9.a86b28"],["3f38aa0d.1c4236"]]},{"id":"a906fea9.a86b28","type":"http request","z":"1c2d6e78.ff8e7a","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"2b836cd.3aa9214","persist":true,"proxy":"","authType":"","x":2390,"y":440,"wires":[["74c773cd.38aeb4"]]},{"id":"74c773cd.38aeb4","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"try{\n    msg.website = msg.payload.result.website.replace(/\\?.*/,\"\");\n}catch(fail){\n    \n}\nmsg.payload = {};\nmsg.payload.website = msg.website;\nmsg.payload.address = msg.address;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2540,"y":440,"wires":[["3f38aa0d.1c4236"]]},{"id":"2b29370b.9186f","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"/getWeb","method":"post","upload":false,"swaggerDoc":"","x":1740,"y":440,"wires":[["a748cc37.754598"]]},{"id":"3f38aa0d.1c4236","type":"http response","z":"1c2d6e78.ff8e7a","name":"","statusCode":"","headers":{},"x":2690,"y":440,"wires":[]},{"id":"426dc737.f357f8","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"/configSearch","method":"post","upload":false,"swaggerDoc":"","x":170,"y":600,"wires":[["47465761.ebe338","9395de89.3382e8"]]},{"id":"47465761.ebe338","type":"http response","z":"1c2d6e78.ff8e7a","name":"","statusCode":"201","headers":{},"x":360,"y":640,"wires":[]},{"id":"69b5f63d.db978","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg2 = {};\nmsg2.inst = msg.payload.inst;\nmsg2.payload = \"(node /root/configSearch.js \\\"\" + msg.payload.inst + \"\\\" \\\"\" + msg.payload.wacrn.replace(\"/\",\"%2F\") + \"/home\\\" \\\"\" + msg.payload.dcrn + \"\\\" \\\"\" + msg.payload.durl + \"\\\" \\\"\" + msg.payload.env + \"\\\" \\\"\" + msg.payload.col + \"\\\" >> /root/scrape/\" + msg.payload.inst + \"-WAinst.log 2>&1 ) &\";\n\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":600,"wires":[["9a1bed4f.820a48"]]},{"id":"9a1bed4f.820a48","type":"exec","z":"1c2d6e78.ff8e7a","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"configSearch","x":750,"y":600,"wires":[["2613812.e4f4c7e"],[],[]]},{"id":"9395de89.3382e8","type":"delay","z":"1c2d6e78.ff8e7a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":600,"wires":[["69b5f63d.db978"]]},{"id":"7b11620e.db23a4","type":"exec","z":"1c2d6e78.ff8e7a","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"remove automation","x":1770,"y":640,"wires":[[],[],[]]},{"id":"9e919530.3f5f78","type":"sqlite","z":"1c2d6e78.ff8e7a","mydb":"bb2f6fb4.d4be2","sqlquery":"msg.topic","sql":"","name":"","x":1120,"y":640,"wires":[["60392b45.d8431c"]]},{"id":"2613812.e4f4c7e","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.topic = 'select distinct account_id from \"demobuilder\" where instance = ' + msg.inst;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":640,"wires":[["9e919530.3f5f78"]]},{"id":"3103a6f2.60c302","type":"inject","z":"1c2d6e78.ff8e7a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":780,"y":660,"wires":[["2613812.e4f4c7e"]]},{"id":"60392b45.d8431c","type":"split","z":"1c2d6e78.ff8e7a","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1290,"y":640,"wires":[["14eadccb.1f6913"]]},{"id":"14eadccb.1f6913","type":"delay","z":"1c2d6e78.ff8e7a","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1440,"y":640,"wires":[["10df706.0eb739"]]},{"id":"3c632499.f0f89c","type":"inject","z":"1c2d6e78.ff8e7a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1360,"y":40,"wires":[["f628a536.151bf"]]},{"id":"f628a536.151bf","type":"file in","z":"1c2d6e78.ff8e7a","name":"","filename":"/root/.env","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1520,"y":40,"wires":[["47af19bf.eec86"]]},{"id":"47af19bf.eec86","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"flow.set(\"Auser\", msg.payload.match(/U=.*/)[0].replace(\"U=\",\"\"));\nflow.set(\"Apass\", msg.payload.match(/P=.*/)[0].replace(\"P=\",\"\"));\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1660,"y":40,"wires":[[]]},{"id":"10df706.0eb739","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.payload = \"ibmcloud login  -u '\" + flow.get(\"Auser\") + \"' -p '\" + flow.get(\"Apass\") + \"' --no-region --no-account --quiet && ibmcloud account user-remove automation@daidemos.com -f -c \" + msg.payload.account_id;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1600,"y":640,"wires":[["7b11620e.db23a4"]]}]
