automationServer/nautomation
[{"id":"1c2d6e78.ff8e7a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3ccc980d.314d4","type":"socketio-config","port":"80","sendClient":"true","path":"/socket.io","bindToNode":true},{"id":"2b836cd.3aa9214","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"ea78eae2.f9578","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"3bc84f4e.84ed1","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"/m/:company/:cid","method":"get","upload":false,"swaggerDoc":"","x":100,"y":180,"wires":[["552c2e95.869f2"]]},{"id":"5bfcecd3.14b81c","type":"http response","z":"1c2d6e78.ff8e7a","name":"","statusCode":"","headers":{},"x":1070,"y":180,"wires":[]},{"id":"a0849a.76e05368","type":"template","z":"1c2d6e78.ff8e7a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<link rel=\"stylesheet\" type=\"text/css\" href=\"/static/css/bundle.s41.css\">\n\n<link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1\" crossorigin=\"anonymous\">\n<link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css\">\n  \n<div class=\"container\" style=\"width: 50rem\">\n  <div class=\"row\">\n    <div class=\"col-9\">\n        <div class=\"jumbotron jumbotron-fluid\">\n            <h1 class=\"display-6\">Welcome to the IBM POC!</h1>\n            <p class=\"lead\">We'll be building an environment in your account, and pre-loading it with data from the website: <a href=\"{{url}}\" target=\"_blank\">{{url}}</a>\n            <br><br>\n            You can override the url in the workspace before you apply the plan.\n            </p>\n        </div>\n        Click the link below, then click \"Create Workspace\", and then click \"Apply Plan\"\n        <br><center>\n        <p><small>(The workspace id that is pre-populated is a key - don't change it!)</small></p>\n        <br>\n        <a id=\"startTerraform\" data-toggle=\"modal\" data-target=\"#loginm\" href=\"https://cloud.ibm.com/schematics/workspaces/create?workspace_name={{company}}-{{cid}}&repository=https://github.com/garrettrowe/watsonAutomation&terraform_version=terraform_v0.13\" target=\"_blank\">Deploy to IBM Cloud<img src=\"/static/img/terraform-2d14a7d6b7.svg\" style=\"padding-left:10px\"></a>\n        </center>\n        <br>\n        Once your plan begins deploying, return here and follow along.  <br>\n    </div>\n    <div class=\"col-sm\">\n      <img src=\"../../{{company}}.png\" style=\"padding-top: 50px; width:150px\">\n    </div>\n  </div>\n\n    <div class=\"card\" style=\"width: 40rem;\">\n        <div class=\"card-header\">\n            <div class=\"row\">\n                <div class=\"col-3\">Deployment</div>\n                <div class=\"col-8 progress\">\n                    <div class=\"progress-bar progress-bar-striped progress-bar-animated\" role=\"progressbar\"  style=\"width: 0%\"></div>\n                </div>\n            </div>\n        </div>\n        <div class=\"card-body\">\n            <p class=\"card-text\" id=\"log\"></p>\n        </div>\n    </div>\n    <div class=\"card\" style=\"width: 40rem;\">\n        <div class=\"card-header\">Demo Links</div>\n        <div class=\"card-body\">\n            <p class=\"card-text\" id=\"completel\"></p>\n        </div>\n    </div>\n</div>\n\n<script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js\" integrity=\"sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW\" crossorigin=\"anonymous\"></script>\n<script src=\"https://code.jquery.com/jquery-3.5.1.min.js\" integrity=\"sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=\" crossorigin=\"anonymous\"></script>\n<script src=\"../../socket.io/socket.io.js\"></script>\n<script src=\"https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js\"></script>\n<script>\nvar socket = io();\nvar progress = 0;\n$(function(){\n    var comp = Cookies.get('{{company}}-{{cid}}');\n    if (typeof(comp) != \"undefined\"){\n        $(\"#completel\").html(comp);\n        $('.progress-bar').css('width', '100%');\n        $('.progress-bar').removeClass('progress-bar-striped').removeClass('progress-bar-animated').addClass('bg-success');\n    }\n});\n    \nsocket.on('connect', function() {\n    console.log(\"socket connected\");\n});\nsocket.on('disconnect', function() {\n\tconsole.log(\"socket disconnected\");\n});\n\nsocket.on('log', function(data) {\n    if(data.Instance == \"{{company}}-{{cid}}\"){\n\t    $(\"#log\").append(\"<i class='bi-gear' style='padding-right:10px'></i>\" + data.Log + \"<br>\");\n\t    prog();\n    }\n});\nsocket.on('complete', function(data) {\n    if(data.Instance == \"{{company}}-{{cid}}\"){\n        var comp = \"<a style='padding-right:20px' href='https://{{company}}-{{cid}}.daidemos.com/test' target='_blank'><img width='40px' height='40px' src='/static/img/conversation.svg'>Main Demo</a><a style='padding-right:20px' href='https://{{company}}-{{cid}}.daidemos.com/a/d/z/v/r?zz={{company}}' target='_blank'><img width='40px' height='40px' src='/static/img/nodered.png'>Flow</a><a style='padding-right:20px' href='https://cloud.ibm.com/iam/users/invite_users' target='_blank'><svg focusable='false' preserveAspectRatio='xMidYMid meet' description='IAM UI Left nav' xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 32 32' aria-hidden='true' class='left-nav-header__icon'><path d='M24,14H22V8A6,6,0,0,0,10,8v6H8a2,2,0,0,0-2,2V28a2,2,0,0,0,2,2H24a2,2,0,0,0,2-2V16A2,2,0,0,0,24,14ZM12,8a4,4,0,0,1,8,0v6H12ZM24,28H8V16H24Z'></path></svg>Access Group</a>\";\n        Cookies.set('{{company}}-{{cid}}', comp, { expires: 999 });\n        $(\"#log\").append(\"<br><br><center>Invite IBM and customer POC members by granting access to the <a href='https://cloud.ibm.com/iam/users/invite_users' target='_blank'>{{company}} Access Group</a>.  They'll only be able to see this POC's resources.</center><br>\");\n\t    $(\"#completel\").html(comp);\n        $('.progress-bar').css('width', '100%');\n        $('.progress-bar').removeClass('progress-bar-striped').removeClass('progress-bar-animated').addClass('bg-success');\n    }\n});\n    \nfunction prog(){\n    progress +=1;\n    $('.progress-bar').css('width', ((progress/20)*100)+'%');\n}\n\n$(\"#startTerraform\").click(function(e) {\n    $(\"#log\").append(\"<center>Creating Workspace.  If progress stalls, check to see if the plan failed.  If it did, just click the 'Apply Plan' button again.</center><br>\");\n    prog();\n});\n    \n</script>","output":"str","x":920,"y":180,"wires":[["5bfcecd3.14b81c"]]},{"id":"8697e700.887bf8","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"if (typeof msg.payload.Log != \"undefined\") {\n    if (msg.payload.Log.length > 0){\n        msg.socketIOEvent = \"log\";\n        node.send([msg, null, null]);\n    }\n}\nif (typeof msg.payload.Ip != \"undefined\") {\n    if (msg.payload.Ip.search(\"crn:\") > -1){\n        msg.payload.waid = msg.payload.Ip.replace(/:res.*/, \"\").replace(\"/\", \"~2F\") + \"/home\";\n        node.send([null,msg, null]);\n    }\n    else if(msg.payload.Ip.search(/^(?:[0-9]{1,3}\\.){3}[0-9]{1,3}$/)>-1){\n        flow.set(msg.payload.Instance, msg.payload.Ip);\n        node.send([null, null, msg]);\n    }\n}\nif (typeof msg.payload.complete != \"undefined\") {\n    msg.socketIOEvent = \"complete\";\n    msg.payload.data = flow.get(msg.payload.Instance);\n    node.send([msg, null, null]);\n}\n","outputs":3,"noerr":0,"initialize":"","finalize":"","x":300,"y":320,"wires":[["9c8ff97c.1818"],[],[]]},{"id":"552c2e95.869f2","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.cid = msg.req.params.cid;\nmsg.company = msg.req.params.company;\nmsg.filename = \"/root/scrape/\" + msg.company + \".txt\";\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":180,"wires":[["563b1f86.47f34"]]},{"id":"9c8ff97c.1818","type":"socketio-out","z":"1c2d6e78.ff8e7a","name":"","server":"3ccc980d.314d4","x":500,"y":300,"wires":[]},{"id":"4d5f901.54df87","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"/log","method":"post","upload":false,"swaggerDoc":"","x":140,"y":320,"wires":[["c301b9fa.2ee74","8697e700.887bf8"]]},{"id":"c301b9fa.2ee74","type":"http response","z":"1c2d6e78.ff8e7a","name":"","statusCode":"","headers":{},"x":330,"y":380,"wires":[]},{"id":"f6f1feaa.5a054","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"log","method":"get","upload":false,"swaggerDoc":"","x":140,"y":360,"wires":[["c301b9fa.2ee74","8697e700.887bf8"]]},{"id":"2cb06f84.e9f66","type":"template","z":"1c2d6e78.ff8e7a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<script>\nwindow.location.href = \"https://daidemos.com/m/{{company}}/{{cid}}\";\n</script>","output":"str","x":920,"y":220,"wires":[["5bfcecd3.14b81c"]]},{"id":"390d0722.6415d8","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"deploy","method":"get","upload":false,"swaggerDoc":"","x":110,"y":140,"wires":[["9dbeeeb2.133a2"]]},{"id":"9dbeeeb2.133a2","type":"template","z":"1c2d6e78.ff8e7a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<script>\nwindow.location.href = \"https://daidemos.com\";\n</script>","output":"str","x":920,"y":140,"wires":[["5bfcecd3.14b81c"]]},{"id":"4c9edc2a.ad1054","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"/d/:demo/:industry/:company","method":"get","upload":false,"swaggerDoc":"","x":140,"y":220,"wires":[["e4bf07b.4057778"]]},{"id":"e4bf07b.4057778","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.company = msg.req.params.company;\nindustry = msg.req.params.industry;\ndemo = msg.req.params.demo;\nmsg.cid = \"SchematicBP_\" + demo + \"_\" + industry + \"_\" + Math.round(Math.random()*1000);\nmsg.payload = msg.company;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":220,"wires":[["53793006.c32668"]]},{"id":"53793006.c32668","type":"exec","z":"1c2d6e78.ff8e7a","command":"node scrape.js","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":600,"y":240,"wires":[["2cb06f84.e9f66"],[],[]]},{"id":"563b1f86.47f34","type":"file in","z":"1c2d6e78.ff8e7a","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":610,"y":180,"wires":[["94b53b23.1d7c98"]]},{"id":"94b53b23.1d7c98","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.url = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":180,"wires":[["a0849a.76e05368"]]},{"id":"300c158e.d1d6d2","type":"socketio-in","z":"1c2d6e78.ff8e7a","name":"","server":"3ccc980d.314d4","rules":[{"v":"embed"}],"x":530,"y":600,"wires":[["e0bd0d00.0d357"]]},{"id":"e0bd0d00.0d357","type":"switch","z":"1c2d6e78.ff8e7a","name":"","property":"socketIOEvent","propertyType":"msg","rules":[{"t":"eq","v":"embed","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":600,"wires":[["3aaef159.e33ae6"]]},{"id":"8f3a2105.e728a8","type":"exec","z":"1c2d6e78.ff8e7a","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"configAssistant","x":1000,"y":540,"wires":[[],[],[]]},{"id":"2463f156.6c41ae","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg2 = {};\nvar waid = msg.payload.p.replace(/:res.*/, \"\").replace(\"/\", \"~2F\") + \"/home\";\nmsg2.payload = \"(node /root/configAssistant.js \\\"\" + msg.payload.i + \"\\\" \\\"\" + waid + \"\\\" > /root/scrape/\" + msg.payload.i + \"-WAinst.log 2>&1 ) &\";\n\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":540,"wires":[["8f3a2105.e728a8"]]},{"id":"3aaef159.e33ae6","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"var c = msg.payload.code.match(/\"[a-zA-Z0-9-]*\"/g);\nvar r = msg.payload.r;\nmsg.payload = {};\nmsg.payload.integrationID = c[0].replace(/\"/g,\"\");\nmsg.payload.serviceInstanceID = c[2].replace(/\"/g,\"\");\nmsg.filename = \"/root/scrape/\" + r + \"-wa.txt\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":600,"wires":[["e3a4cfb6.177428"]]},{"id":"e3a4cfb6.177428","type":"file","z":"1c2d6e78.ff8e7a","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":990,"y":600,"wires":[[]]},{"id":"43ff87a9.2c3a7","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"/","method":"get","upload":false,"swaggerDoc":"","x":110,"y":100,"wires":[["5fb63300.ba699c"]]},{"id":"5fb63300.ba699c","type":"template","z":"1c2d6e78.ff8e7a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<link rel=\"stylesheet\" type=\"text/css\" href=\"/static/css/bundle.s41.css\">\n\n<link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1\" crossorigin=\"anonymous\">\n<link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css\">\n<head><title>Poc</title></head>  \n<div class=\"container\" style=\"width: 50rem\">\n  <div class=\"row\">\n    <div class=\"col-9\">\n        <div class=\"jumbotron jumbotron-fluid\">\n            <h1 class=\"display-6\">Welcome to the IBM POC!</h1>\n            <p class=\"lead\">Please enter a company name and select a demo & industry.</a>\n            <br>\n            <br>\n            <br>\n            <form id=\"choosec\" action=\"/\">\n                <div class=\"form-group\">\n                    <label for=\"fc1\">Company</label>\n                    <input type=\"text\" class=\"form-control\" id=\"fc1\" placeholder=\"Enter a company name\">\n                </div>\n                <div class=\"form-group\">\n                    <label for=\"fc2\">Demo</label>\n                    <select class=\"form-control\" id=\"fc2\" readonly>\n                      <option value=\"watson\">Watson Stack</option>\n                    </select>\n                </div>\n                <div class=\"form-group\">\n                    <label for=\"fc2\">Industry</label>\n                    <select class=\"form-control\" id=\"fc3\" readonly>\n                      <option value=\"fss\">Banking</option>\n                      <option value=\"telco\">Telco</option>\n                      <option value=\"retail\">Retail</option>\n                      <option value=\"manu\">Manufacturing</option>\n                      <option value=\"eu\">Energy & Utilities</option>\n                    </select>\n                </div>\n                <br>\n                <button id=\"smb1\" type=\"submit\" class=\"btn btn-primary\" >Continue</button>\n            </form>\n            \n    </div>\n  </div>\n</div>\n\n\n<script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js\" integrity=\"sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW\" crossorigin=\"anonymous\"></script>\n<script src=\"https://code.jquery.com/jquery-3.5.1.min.js\" integrity=\"sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=\" crossorigin=\"anonymous\"></script>\n<script src=\"../../socket.io/socket.io.js\"></script>\n<script>\n$('#choosec').submit(function(e){\n    e.preventDefault();\n    $('#smb1').text(\"Loading...\");\n    $('#smb1').addClass(\"disabled\");\n    window.location.href = \"https://daidemos.com/d/\" + $('#fc3').val() + \"/\" + $('#fc2').val() + \"/\" + $('#fc1').val().replace(/ /g, \"_\").replace(/[\\\"\\' \\-\\=\\+\\<\\>\\?\\@\\#\\$\\%\\^\\&\\*\\(\\)\\~\\`\\,\\.\\/]/g, \"\");\n});\n\n    \n</script>","output":"str","x":920,"y":100,"wires":[["5bfcecd3.14b81c"]]},{"id":"d40a489.6a67638","type":"delay","z":"1c2d6e78.ff8e7a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":540,"wires":[["2463f156.6c41ae"]]},{"id":"4b2356dc.f7dfc","type":"template","z":"1c2d6e78.ff8e7a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"server {\n  listen 443 ssl;\n  server_name {{payload.i}}.daidemos.com;\n\n  location / {\n    proxy_pass https://{{payload.p}};\n    proxy_set_header Host $host;\n    proxy_set_header X-Real-IP $remote_addr;\n    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;\n    proxy_set_header X-Forwarded-Proto $scheme;\n    proxy_read_timeout  36000s;\n    proxy_http_version 1.1;\n    proxy_set_header Upgrade $http_upgrade;\n    proxy_set_header Connection \"upgrade\";\n  }\n}","output":"str","x":660,"y":380,"wires":[["dc9f3443.61d3e"]]},{"id":"f74b2f9b.854bd8","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.filename = \"/etc/nginx/sites-enabled/\" + msg.payload.i;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":380,"wires":[["4b2356dc.f7dfc"]]},{"id":"dc9f3443.61d3e","type":"file","z":"1c2d6e78.ff8e7a","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":810,"y":380,"wires":[["e4114bfb.d78f1"]]},{"id":"e4114bfb.d78f1","type":"exec","z":"1c2d6e78.ff8e7a","command":"service nginx reload","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"nginx","x":950,"y":380,"wires":[[],[],[]]},{"id":"fe991da3.ea5178","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"/idestroy","method":"post","upload":false,"swaggerDoc":"","x":160,"y":440,"wires":[["c301b9fa.2ee74","2fe87e38.841772"]]},{"id":"21341df0.c8c992","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"/icreate","method":"post","upload":false,"swaggerDoc":"","x":150,"y":400,"wires":[["c301b9fa.2ee74","f74b2f9b.854bd8"]]},{"id":"296fd1ba.2607ce","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"/iassistant","method":"post","upload":false,"swaggerDoc":"","x":160,"y":480,"wires":[["c301b9fa.2ee74","d40a489.6a67638"]]},{"id":"2fe87e38.841772","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.payload = \"find /etc/nginx/sites-enabled/ -type f -iname '\" + msg.payload.i.match(/([^\\.][a-zA-Z0-9_]*-schematicbp\\w+)/)[0] + \"' -delete\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":420,"wires":[["3de079ee.154aae"]]},{"id":"3de079ee.154aae","type":"exec","z":"1c2d6e78.ff8e7a","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":810,"y":420,"wires":[["e4114bfb.d78f1"],[],[]]}]
