automationServer/nautomation
[{"id":"1c2d6e78.ff8e7a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3ccc980d.314d4","type":"socketio-config","port":"80","sendClient":"true","path":"/socket.io","bindToNode":true},{"id":"2b836cd.3aa9214","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"ea78eae2.f9578","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"bb2f6fb4.d4be2","type":"sqlitedb","db":"/root/demobuilder.db","mode":"RW"},{"id":"18c5ccd5.ef404b","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3bc84f4e.84ed1","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"/m/:company/:cid","method":"get","upload":false,"swaggerDoc":"","x":100,"y":180,"wires":[["552c2e95.869f2"]]},{"id":"5bfcecd3.14b81c","type":"http response","z":"1c2d6e78.ff8e7a","name":"","statusCode":"","headers":{},"x":1070,"y":180,"wires":[]},{"id":"a0849a.76e05368","type":"template","z":"1c2d6e78.ff8e7a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<link rel=\"stylesheet\" type=\"text/css\" href=\"/static/css/bundle.s41.css\">\n\n<link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1\" crossorigin=\"anonymous\">\n<link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css\">\n  \n<div class=\"container\" style=\"width: 60rem\">\n  <div class=\"row\">\n    <div class=\"col-9\">\n        <div class=\"jumbotron jumbotron-fluid\">\n            <h1 class=\"display-6\">Welcome to the IBM POC!</h1>\n            {{{prov}}}\n    </div>\n    <div class=\"col-sm\" style=\"padding-bottom:20px;\">\n      <img src=\"../../{{company}}.png\" style=\"padding-top: 50px; width:150px\">\n    </div>\n  </div>\n\n    <div class=\"card\" style=\"width: 50rem;\">\n        <div class=\"card-header\">\n            <div class=\"row\">\n                <div class=\"col-3\">Deployment</div>\n                <div class=\"col-8 progress\">\n                    <div class=\"progress-bar progress-bar-striped progress-bar-animated\" role=\"progressbar\"  style=\"width: 0%\"></div>\n                </div>\n            </div>\n        </div>\n        <div class=\"card-body\">\n            <p class=\"card-text\" id=\"log\"></p>\n        </div>\n    </div>\n    <div class=\"card\" style=\"width: 50rem;\">\n        <div class=\"card-header\">Demo Links</div>\n        <div class=\"card-body\">\n            <p class=\"card-text\" id=\"completel\"></p>\n        </div>\n    </div>\n</div>\n\n<script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js\" integrity=\"sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW\" crossorigin=\"anonymous\"></script>\n<script src=\"https://code.jquery.com/jquery-3.5.1.min.js\" integrity=\"sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=\" crossorigin=\"anonymous\"></script>\n<script src=\"../../socket.io/socket.io.js\"></script>\n<script src=\"https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js\"></script>\n<script>\nvar socket = io();\nvar progress = 0;\n$(function(){\n    var comp = \"{{{comp}}}\";\n    if (comp != \"\"){\n        $(\"#completel\").html(comp);\n        $('.progress-bar').css('width', '100%');\n        $('.progress-bar').removeClass('progress-bar-striped').removeClass('progress-bar-animated').addClass('bg-success');\n    }\n});\n    \nsocket.on('connect', function() {\n    console.log(\"socket connected\");\n});\nsocket.on('disconnect', function() {\n\tconsole.log(\"socket disconnected\");\n});\n\nsocket.on('log', function(data) {\n    if(data.Instance == \"{{company}}-{{cid}}\"){\n\t    $(\"#log\").append(\"<i class='bi-gear' style='padding-right:10px'></i>\" + data.Log + \"<br>\");\n\t    prog();\n    }\n});\nsocket.on('complete', function(data) {\n    if(data.Instance == \"{{company}}-{{cid}}\"){\n        var comp = \"<a style='padding-right:20px' href='https://{{company}}-{{cid}}.daidemos.com/test' target='_blank'><img width='40px' height='40px' src='/static/img/conversation.svg'>Customer Page</a> <a style='padding-right:20px' href='https://{{company}}-{{cid}}.daidemos.com/agent' target='_blank'><img width='40px' height='40px' src='/static/img/agent.svg'>Agent Page</a> <a style='padding-right:20px' href='https://ibm.box.com/s/h8njgz2ksgmm6ev2giuzlx9ptee5egsm' target='_blank'><img width='40px' height='40px' src='/static/img/video.svg'>Quick Overview</a> <br><br><a style='padding-right:20px' href='https://{{company}}-{{cid}}.daidemos.com/a/d/z/v/r?zz={{company}}' target='_blank'><img width='40px' height='40px' src='/static/img/nodered.png'>Node-Red (modify the UI's and webhooks)</a><a style='padding-right:20px' href='https://cloud.ibm.com/iam/users/invite_users' target='_blank'><svg focusable='false' preserveAspectRatio='xMidYMid meet' description='IAM UI Left nav' xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 32 32' aria-hidden='true' class='left-nav-header__icon'><path d='M24,14H22V8A6,6,0,0,0,10,8v6H8a2,2,0,0,0-2,2V28a2,2,0,0,0,2,2H24a2,2,0,0,0,2-2V16A2,2,0,0,0,24,14ZM12,8a4,4,0,0,1,8,0v6H12ZM24,28H8V16H24Z'></path></svg>Access Group</a>\";\n        $(\"#log\").append(\"<br><br><center>Invite IBM and customer POC members by granting access to the <a href='https://cloud.ibm.com/iam/users/invite_users' target='_blank'>{{company}} Access Group</a>.  They'll only be able to see this POC's resources.</center><br>\");\n\t    $(\"#completel\").html(comp);\n        $('.progress-bar').css('width', '100%');\n        $('.progress-bar').removeClass('progress-bar-striped').removeClass('progress-bar-animated').addClass('bg-success');\n    }\n});\n    \nfunction prog(){\n    progress +=1;\n    $('.progress-bar').css('width', ((progress/27)*100)+'%');\n}\n\n$(\"#startTerraform\").click(function(e) {\n    $(\"#log\").append(\"<center>Creating Workspace.  If progress stalls, check to see if the plan failed.  If it did, just click the 'Apply Plan' button again.<br><br>If you run into problems reach out to Garrett - @garrett on slack or email garrett.rowe@us.ibm.com</center><br>\");\n    prog();\n});\n    \n</script>","output":"str","x":920,"y":180,"wires":[["5bfcecd3.14b81c"]]},{"id":"8697e700.887bf8","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"if (typeof msg.payload.Log != \"undefined\") {\n    if (msg.payload.Log.length > 0){\n        msg.socketIOEvent = \"log\";\n        node.send([msg, null, null]);\n    }\n}\nif (typeof msg.payload.Ip != \"undefined\") {\n    node.send([null,msg, null]);\n}\nif (typeof msg.payload.complete != \"undefined\") {\n    msg.socketIOEvent = \"complete\";\n    msg.payload.data = flow.get(msg.payload.Instance);\n    node.send([msg, null, null]);\n}\n","outputs":3,"noerr":0,"initialize":"","finalize":"","x":300,"y":320,"wires":[["9c8ff97c.1818"],[],[]]},{"id":"552c2e95.869f2","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.cid = msg.req.params.cid;\nvar d = msg.cid.split(\"_\")[2];\nmsg.company = msg.req.params.company;\nif (d == \"watson\")\n    msg.repo = \"watsonAutomation\";\nelse if (d == \"cp4d\")\n    msg.repo = \"cloudpakAutomation\";\nmsg.filename = \"/root/scrape/\" + msg.company + \".txt\";\n\nmsg.topic = \"select provisioned from provisioned where instance = '\" + msg.company + \"-\" + msg.cid + \"'\";\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":180,"wires":[["7e7e834b.898e24"]]},{"id":"9c8ff97c.1818","type":"socketio-out","z":"1c2d6e78.ff8e7a","name":"","server":"3ccc980d.314d4","x":500,"y":300,"wires":[]},{"id":"4d5f901.54df87","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"/log","method":"post","upload":false,"swaggerDoc":"","x":140,"y":320,"wires":[["c301b9fa.2ee74","8697e700.887bf8"]]},{"id":"c301b9fa.2ee74","type":"http response","z":"1c2d6e78.ff8e7a","name":"","statusCode":"","headers":{},"x":330,"y":380,"wires":[]},{"id":"f6f1feaa.5a054","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"log","method":"get","upload":false,"swaggerDoc":"","x":140,"y":360,"wires":[["c301b9fa.2ee74","8697e700.887bf8"]]},{"id":"2cb06f84.e9f66","type":"template","z":"1c2d6e78.ff8e7a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<script>\nwindow.location.href = \"https://daidemos.com/m/{{company}}/{{cid}}\";\n</script>","output":"str","x":920,"y":220,"wires":[["5bfcecd3.14b81c"]]},{"id":"390d0722.6415d8","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"deploy","method":"get","upload":false,"swaggerDoc":"","x":110,"y":140,"wires":[["9dbeeeb2.133a2"]]},{"id":"9dbeeeb2.133a2","type":"template","z":"1c2d6e78.ff8e7a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<script>\nwindow.location.href = \"https://daidemos.com\";\n</script>","output":"str","x":920,"y":140,"wires":[["5bfcecd3.14b81c"]]},{"id":"4c9edc2a.ad1054","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"/d/:demo/:industry/:company","method":"get","upload":false,"swaggerDoc":"","x":140,"y":220,"wires":[["e4bf07b.4057778"]]},{"id":"e4bf07b.4057778","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.company = msg.req.params.company;\nindustry = msg.req.params.industry;\ndemo = msg.req.params.demo;\nplan = msg.payload.plan;\nmsg.cid = \"SchematicBP_\" + industry + \"_\" + demo + \"_\" + plan + \"_\" + Math.round(Math.random()*1000);\nmsg.payload = msg.company;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":220,"wires":[["53793006.c32668"]]},{"id":"53793006.c32668","type":"exec","z":"1c2d6e78.ff8e7a","command":"node scrape.js","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":600,"y":240,"wires":[["2cb06f84.e9f66"],[],[]]},{"id":"563b1f86.47f34","type":"file in","z":"1c2d6e78.ff8e7a","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":650,"y":180,"wires":[["94b53b23.1d7c98"]]},{"id":"94b53b23.1d7c98","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.url = msg.payload;\n\nmsg.prov = \"<p class='lead'>We'll be building an environment in your account, and pre-loading it with data from the website: <a href='\" + msg.url + \"' target='_blank'>\" + msg.url + \"</a> <br><br> You can override the url in the workspace before you apply the plan. </p> </div> Click the link below, then click 'Create Workspace', and then click 'Apply Plan'<br><center> <p><small>(The workspace id that is pre-populated is a key - don't change it!)</small></p> <br> <a id='startTerraform' data-toggle='modal' data-target='#loginm' href='https://cloud.ibm.com/schematics/workspaces/create?workspace_name=\" + msg.company + \"-\" + msg.cid + \"&repository=https://github.com/garrettrowe/\" + msg.repo + \"&terraform_version=terraform_v0.13' target='_blank'>Deploy to IBM Cloud<img src='/static/img/terraform-2d14a7d6b7.svg' style='padding-left:10px'></a> </center> <br> Once your plan begins deploying, return here and follow along.  <br>\"\nif (msg.provisioned)\n    msg.prov = \"</div><p class='lead'>This instance is already deployed. To create another return to <a href='https://daidemos.com'>daidemos.com</a></p>\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":180,"wires":[["a0849a.76e05368"]]},{"id":"300c158e.d1d6d2","type":"socketio-in","z":"1c2d6e78.ff8e7a","name":"","server":"3ccc980d.314d4","rules":[{"v":"embed"}],"x":670,"y":300,"wires":[["e0bd0d00.0d357"]]},{"id":"e0bd0d00.0d357","type":"switch","z":"1c2d6e78.ff8e7a","name":"","property":"socketIOEvent","propertyType":"msg","rules":[{"t":"eq","v":"embed","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":300,"wires":[["3aaef159.e33ae6"]]},{"id":"8f3a2105.e728a8","type":"exec","z":"1c2d6e78.ff8e7a","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"configAssistant","x":1000,"y":480,"wires":[[],[],[]]},{"id":"2463f156.6c41ae","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg2 = {};\nvar waid = msg.payload.p.replace(/:res.*/, \"\").replace(\"/\", \"~2F\") + \"/home\";\nmsg2.payload = \"(node /root/configAssistant.js \\\"\" + msg.payload.i + \"\\\" \\\"\" + waid + \"\\\" > /root/scrape/\" + msg.payload.i + \"-WAinst.log 2>&1 ) &\";\n\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":480,"wires":[["8f3a2105.e728a8","e63a985b.b46798"]]},{"id":"3aaef159.e33ae6","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"\nmsg.filename = \"/root/scrape/\" + msg.payload.r + \"-wa.txt\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":300,"wires":[["e3a4cfb6.177428"]]},{"id":"e3a4cfb6.177428","type":"file","z":"1c2d6e78.ff8e7a","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1130,"y":300,"wires":[[]]},{"id":"43ff87a9.2c3a7","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"/","method":"get","upload":false,"swaggerDoc":"","x":110,"y":100,"wires":[["5fb63300.ba699c"]]},{"id":"5fb63300.ba699c","type":"template","z":"1c2d6e78.ff8e7a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<link rel=\"stylesheet\" type=\"text/css\" href=\"/static/css/bundle.s41.css\">\n\n<link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1\" crossorigin=\"anonymous\">\n<link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css\">\n<head><title>Poc</title></head>  \n<div class=\"container\" style=\"width: 50rem\">\n  <div class=\"row\">\n    <div class=\"col-9\">\n        <div class=\"jumbotron jumbotron-fluid\">\n            <h1 class=\"display-6\">Welcome to the IBM POC!</h1>\n            <p class=\"lead\">Please enter a real company name and select a product stack to provision into an IBM Cloud account.</a>\n            <br><br>\n            Before starting ensure you have a \"pay as you go\" or \"subscription\" type IBM Cloud account selected. <a href=\"https://cloud.ibm.com/account/settings\" target=\"_blank\"><svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"30pt\" height=\"30pt\" viewBox=\"0 0 30 30\" version=\"1.1\"> <defs> <filter id=\"alpha\" filterUnits=\"objectBoundingBox\" x=\"0%\" y=\"0%\" width=\"100%\" height=\"100%\"> <feColorMatrix type=\"matrix\" in=\"SourceGraphic\" values=\"0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0\"/> </filter> <image id=\"image9\" width=\"30\" height=\"30\" xlink:href=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAAEVElEQVRIie2VbVBUZRTHz92HRd5kgQXdBTbjTUEYQJdBSIGQKcCYyjYRJsMBUqNAAhZGpSwldUYDc5DBkMGSLEVzyoFxnIANmCHeQqEsNkAGF1leCmVhYV8ue/pg0FK7diHpk/9Pd+7/Oed3z3me51yAJ2Iom546U8vxc+z/HdxTzPexUlm6LzaeZcz40KzWOipu/wpj/gE3V0reOUkZ83XvZ9vq5D1mCwZvPsu2GF9fH7Y3pslgcK/oVVaqNM9gvHWSnZmZs4NPVHvI4raid4c0zH5l1kZDnuWXV7i2KTkcQ55Phsbf/7sIr0VBAQAE57gW8qJn4j/2qzRnGrNuR4vV1i28zSv2Lf9vB4/36y4y+4yT5TxU18ajlnMQtR1HUeuZi5rEnagZCcDBPIu5oFX5xGAyPRk9HPpCdYEvkIMHABKDAFoloJM0AWurHDBtGkBKQPcKB6CdALh0wt3z3ZTHSfW/Ji0UWdkGu29Iv+R0LZg+FT6vPQiEQu27mUgnyVCbIsb7EzZGP+52nikqA/k4XeMyr/o/daKqgD3AcVhz7HBTeMO04mFHhu8189jl/tvDdwalXMn88am5ZNqq46j9uQnVyZ5MOgMAgG2EjYN5FlhB5tpdVeHjGCsfjdybzReWhjxr+Y+gw7cKnm70dloJAICatcmo7WhGZSCfKRQAACUNJqhI5+JUu2C28rHvK7jOvR52+usM7jEqGuzBnH0dcNseylTWzgioDOTDsokgwMZ1AGc4QDVaANa7AviqAHh1MOp7mnJ8b+rRSTTfpKFWeoQR8IM8FqqTPZE+FI3qmz44EmE157URNmq+2IC04wWkk2SoqQ40nKSCEARCIS0qQQ0RMgIr0rk4XeOCbeSR9xbVZa/ZB9ZezLla89cBRSAUqjd6oUrugYp0LtK5hdgnMzpn51U0+tlyBMLoWgZ99aKX967mmLOwh/Vw1tL+LwHp8IbRjAFgVZiALlxKuQhUTJJB0V0lBTPIZGl56FhXvnkXXnqQ7QqoIUKkE87gGOEAAOAY4SCdEMMIughJs6rXuOvEESxgJb4BOmkLZTczDgAA1TAJOuUAShpMlgIcXpP4+ypxmQMgnX0HNSMB+iYqOx1RFsf4x7AQiW8r7KL9HiSYOLNV12a2fP7bPHfEdgxoPqN9W6iKj5XYDD/vrWSdSsoe9y4Q2OublItABRfstEsBvuV03UN1InIQXt6/XXT5vDBjKSB/153QXF5NROtb+W451sATl1t6pnWfNpWlhiwltFBkZZtkA2+ubtcbTIl1oauHAoI+OXKvShR3OXLZ4wR2F20isaVsYUjX2xmlJqWbZt/PTZybJSP86L6fXl/bcsMtU8L7xWEwZ/jG/XpNa/FJCC5bj1nxoThUUolCv2Zd/ztXIeyjF3Dq4j48tNsfo3K34XMTfVj/w3GMSt2NnKpYLOF9a3o0gcWxriSCzLraoc5PxZKQ/q/7H2dRT8RIfwAiQ8lOFpuhoQAAAABJRU5ErkJggg==\"/> <mask id=\"mask0\"> <g filter=\"url(#alpha)\"> <use xlink:href=\"#image9\"/> </g> </mask> <linearGradient id=\"linear0\" gradientUnits=\"userSpaceOnUse\" x1=\"234.367\" y1=\"65.613\" x2=\"120.164\" y2=\"259.491\" gradientTransform=\"matrix(0.15949,0,0,0.150322,-12.647528,-10.449408)\"> <stop offset=\"0\" style=\"stop-color:rgb(31.372549%,100%,82.352941%);stop-opacity:1;\"/> <stop offset=\"1\" style=\"stop-color:rgb(0%,39.215686%,100%);stop-opacity:1;\"/> </linearGradient> <clipPath id=\"clip1\"> <rect x=\"0\" y=\"0\" width=\"30\" height=\"30\"/> </clipPath> <g id=\"surface8\" clip-path=\"url(#clip1)\"> <path style=\" stroke:none;fill-rule:nonzero;fill:url(#linear0);\" d=\"M 0 2.507812 L 30 2.507812 L 30 27.492188 L 0 27.492188 Z M 0 2.507812 \"/> </g> </defs> <g id=\"surface1\"> <use xlink:href=\"#surface8\" mask=\"url(#mask0)\"/> </g> </svg></a>\n            <br>\n            <br>\n            <form id=\"choosec\" action=\"/\">\n                <div class=\"form-group\">\n                    <label for=\"fc1\">Company (Enter a real company name only, E.G. \"TD Bank\" or \"Walmart\")</label>\n                    <input type=\"text\" class=\"form-control\" id=\"fc1\" placeholder=\"Enter a company name\">\n                </div>\n                <div class=\"form-group\">\n                    <label for=\"fc2\">Demo</label>\n                    <select class=\"form-control\" id=\"fc2\" readonly>\n                      <option value=\"watson\">Watson Stack</option>\n                      <option value=\"cp4d\"></option>\n                    </select>\n                </div>\n                <br>\n                <div class=\"accordion accordion-flush\" id=\"ac1\">\n                  <div class=\"accordion-item\">\n                    <h2 class=\"accordion-header\" id=\"headingOne\">\n                      <button class=\"accordion-button collapsed\" type=\"button\" data-bs-toggle=\"collapse\" data-bs-target=\"#collapseOne\" aria-expanded=\"true\" aria-controls=\"collapseOne\">\n                        Advanced Options\n                      </button>\n                    </h2>\n                    <div id=\"collapseOne\" class=\"accordion-collapse collapse\" aria-labelledby=\"headingOne\" data-bs-parent=\"#accordionExample\">\n                      <div class=\"accordion-body\">\n                        <div class=\"form-group\">\n                            <label for=\"fc3\">Industry</label>\n                            <select class=\"form-control\" id=\"fc3\" readonly>\n                              <option value=\"fss\">General Business</option>\n                              <option value=\"covid\">Covid-19</option>\n                            </select>\n                        </div>\n                        <div class=\"form-group\">\n                            <label for=\"fc4\">Plan</label>\n                            <select class=\"form-control\" id=\"fc4\" readonly>\n                              <option value=\"plus\">Plus/Premium/Advanced</option>\n                              <option value=\"lite\">Lite (BP's/customers only.  Will not work unless the account has no existing services-period.)</option>\n                            </select>\n                        </div>\n                      </div>\n                    </div>\n                  </div>\n                </div>\n                \n                \n                <br>\n                <button id=\"smb1\" type=\"submit\" class=\"btn btn-primary\" >Continue</button>\n            </form>\n            \n    </div>\n  </div>\n</div>\n\n\n<script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js\" integrity=\"sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW\" crossorigin=\"anonymous\"></script>\n<script src=\"https://code.jquery.com/jquery-3.5.1.min.js\" integrity=\"sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=\" crossorigin=\"anonymous\"></script>\n<script src=\"../../socket.io/socket.io.js\"></script>\n<script>\n$('#choosec').submit(function(e){\n    e.preventDefault();\n    $('#smb1').text(\"Searching for \" + $('#fc1').val().trim() + \"...\");\n    $('#smb1').addClass(\"disabled\");\n    window.location.href = \"https://daidemos.com/d/\" + $('#fc2').val() + \"/\" + $('#fc3').val() + \"/\" + $('#fc1').val().trim().replace(/ /g, \"_\").replace(/[\\\"\\' \\-\\=\\+\\<\\>\\?\\@\\#\\$\\%\\^\\&\\*\\(\\)\\~\\`\\,\\.\\/]/g, \"\") + \"?plan=\" + $('#fc4').val();\n});\n\n    \n</script>","output":"str","x":920,"y":100,"wires":[["5bfcecd3.14b81c"]]},{"id":"d40a489.6a67638","type":"delay","z":"1c2d6e78.ff8e7a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":480,"wires":[["2463f156.6c41ae"]]},{"id":"4b2356dc.f7dfc","type":"template","z":"1c2d6e78.ff8e7a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"server {\n  listen 443 ssl;\n  server_name {{payload.i}}.daidemos.com;\n  large_client_header_buffers 4 32k;\n\n  location / {\n    proxy_pass https://{{payload.p}};\n    proxy_set_header Host $host;\n    proxy_set_header X-Real-IP $remote_addr;\n    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;\n    proxy_set_header X-Forwarded-Proto $scheme;\n    proxy_read_timeout  36000s;\n    proxy_http_version 1.1;\n    proxy_set_header Upgrade $http_upgrade;\n    proxy_set_header Connection \"upgrade\";\n  }\n}\nserver {\n  listen 3000 ssl;\n  server_name {{payload.i}}.daidemos.com;\n  large_client_header_buffers 4 32k;\n\n  location / {\n    proxy_pass http://{{payload.p}}:3000;\n    proxy_set_header Host $host;\n    proxy_set_header X-Real-IP $remote_addr;\n    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;\n    proxy_set_header X-Forwarded-Proto $scheme;\n    proxy_read_timeout  36000s;\n    proxy_http_version 1.1;\n    proxy_set_header Upgrade $http_upgrade;\n    proxy_set_header Connection \"upgrade\";\n  }\n}","output":"str","x":660,"y":380,"wires":[["dc9f3443.61d3e"]]},{"id":"f74b2f9b.854bd8","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.filename = \"/etc/nginx/sites-enabled/\" + msg.payload.i;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":380,"wires":[["4b2356dc.f7dfc","16e8995b.d23d2f"]]},{"id":"dc9f3443.61d3e","type":"file","z":"1c2d6e78.ff8e7a","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":810,"y":380,"wires":[["e4114bfb.d78f1"]]},{"id":"e4114bfb.d78f1","type":"exec","z":"1c2d6e78.ff8e7a","command":"service nginx reload","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"nginx","x":950,"y":380,"wires":[[],[],[]]},{"id":"fe991da3.ea5178","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"/idestroy","method":"post","upload":false,"swaggerDoc":"","x":160,"y":440,"wires":[["c301b9fa.2ee74","2fe87e38.841772","117fdd94.3a24a2"]]},{"id":"21341df0.c8c992","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"/icreate","method":"post","upload":false,"swaggerDoc":"","x":150,"y":400,"wires":[["c301b9fa.2ee74","f74b2f9b.854bd8"]]},{"id":"296fd1ba.2607ce","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"/iassistant","method":"post","upload":false,"swaggerDoc":"","x":160,"y":480,"wires":[["c301b9fa.2ee74","d40a489.6a67638"]]},{"id":"2fe87e38.841772","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.payload = \"find /etc/nginx/sites-enabled/ -type f -iname '\" + msg.payload.i.match(/([^\\.][a-zA-Z0-9_]*-schematicbp\\w+)/)[0] + \"' -delete\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":420,"wires":[["3de079ee.154aae"]]},{"id":"3de079ee.154aae","type":"exec","z":"1c2d6e78.ff8e7a","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":810,"y":420,"wires":[["e4114bfb.d78f1"],[],[]]},{"id":"1ef0e6bb.de2759","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"/ic/:instnum","method":"post","upload":true,"swaggerDoc":"","x":130,"y":520,"wires":[["c301b9fa.2ee74","4a3e0743.74ff2"]]},{"id":"4a3e0743.74ff2","type":"json","z":"1c2d6e78.ff8e7a","name":"","property":"payload","action":"obj","pretty":true,"x":290,"y":520,"wires":[["6884243f.319be4"]]},{"id":"b8e791e.0091a7","type":"sqlite","z":"1c2d6e78.ff8e7a","mydb":"bb2f6fb4.d4be2","sqlquery":"msg.topic","sql":"","name":"","x":920,"y":520,"wires":[[]]},{"id":"6884243f.319be4","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.payload = Object.keys(msg.payload)[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":520,"wires":[["736915dc.8724b4"]]},{"id":"736915dc.8724b4","type":"json","z":"1c2d6e78.ff8e7a","name":"","property":"payload","action":"obj","pretty":true,"x":580,"y":520,"wires":[["4f6c6497.d15fa4"]]},{"id":"4f6c6497.d15fa4","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.topic = 'INSERT INTO \"main\".\"demobuilder\"(\"account\",\"owner\",\"account_id\",\"instance\") VALUES (\"'+ msg.payload.name + '\",\"'+ msg.payload.onwer+'\",\"'+ msg.payload.account_id+'\",\"'+ msg.req.params.instnum +'\")';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":520,"wires":[["b8e791e.0091a7"]]},{"id":"c74571ec.13af08","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"stats","method":"get","upload":false,"swaggerDoc":"","x":160,"y":780,"wires":[["aec00c69.ed7f38"]]},{"id":"62716d8a.28c23c","type":"http response","z":"1c2d6e78.ff8e7a","name":"","statusCode":"","headers":{},"x":850,"y":780,"wires":[]},{"id":"76ce03cb.c6af74","type":"sqlite","z":"1c2d6e78.ff8e7a","mydb":"bb2f6fb4.d4be2","sqlquery":"msg.topic","sql":"select d.account, d.owner, d.instance, d.Timestamp, p.provisioned from demobuilder d left join provisioned p on d.instance = p.instance;","name":"","x":520,"y":740,"wires":[["62716d8a.28c23c"]]},{"id":"1e7ee0cd.6fb99f","type":"template","z":"1c2d6e78.ff8e7a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n<link rel=\"stylesheet\" type=\"text/css\" href=\"/static/css/bundle.s41.css\">\n<link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1\" crossorigin=\"anonymous\">\n<link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css\">\n<link rel=\"stylesheet\" href=\"https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css\">\n<title>DemoBuilder Stats</title></head>  \n<body>\n<div class=\"container\" style=\"padding:10px\">\n  <div class=\"row\">\n    <div class=\"col-sm\">\n        <div class=\"card\">\n          <div class=\"card-body\">\n            <h5 class=\"card-title\">Users</h5>\n            <p id=\"usercount\" class=\"card-text\"></p>\n          </div>\n        </div>\n    </div>\n    <div class=\"col-sm\">\n        <div class=\"card\">\n          <div class=\"card-body\">\n            <h5 class=\"card-title\">Total Instances</h5>\n            <p id=\"instancecount\" class=\"card-text\"></p>\n          </div>\n        </div>\n    </div>\n    <div class=\"col-sm\">\n        <div class=\"card\">\n          <div class=\"card-body\">\n            <h5 class=\"card-title\">Active Instances</h5>\n            <p id=\"activecount\" class=\"card-text\"></p>\n          </div>\n        </div>\n    </div>\n    </div><div class=\"row\">\n    </div>\n</div>\n    <table id=\"table\"><thead>\n            <tr>\n                <th>Account</th>\n                <th>Owner</th>\n                <th>Company</th>\n                <th>Timestamp</th>\n                <th>Provisioned</th>\n            </tr>\n        </thead></table>\n\n</body>\n\n\n<script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js\" integrity=\"sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW\" crossorigin=\"anonymous\"></script>\n<script src=\"https://code.jquery.com/jquery-3.5.1.min.js\" integrity=\"sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=\" crossorigin=\"anonymous\"></script>\n<script src=\"../../socket.io/socket.io.js\"></script>\n<script src=\"https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js\"></script>\n<script>\n$('#table').DataTable( {\n    ajax: {\n        url: '/statsdata{{{super}}}',\n        dataSrc: ''\n    },\n    columns: [\n        { data: 'account' },\n        { data: 'owner' },\n        { data: 'instance' },\n        { data: 'Timestamp' },\n        { data: 'provisioned' }\n    ],\n    order: [[ 3, \"desc\" ]]\n} );\n$.get( \"/usercount\", function( data ) {\n  $( \"#usercount\" ).html( data[0].USERS );\n});\n$.get( \"/instancecount\", function( data ) {\n  $( \"#instancecount\" ).html( data[0].INSTANCES );\n});\n$.get( \"/activecount\", function( data ) {\n  $( \"#activecount\" ).html( data[0].INSTANCES );\n});\n\n    \n</script>","output":"str","x":560,"y":780,"wires":[["62716d8a.28c23c"]]},{"id":"6854f16b.75ddd8","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"statsdata","method":"get","upload":false,"swaggerDoc":"","x":180,"y":740,"wires":[["28a7b141.a2d8c6"]]},{"id":"c33a3905.ead248","type":"sqlite","z":"1c2d6e78.ff8e7a","mydb":"bb2f6fb4.d4be2","sqlquery":"msg.topic","sql":"","name":"","x":1340,"y":360,"wires":[[]]},{"id":"16e8995b.d23d2f","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.topic = 'INSERT INTO \"main\".\"provisioned\"(\"instance\",\"provisioned\") VALUES (\"'+ msg.payload.i + '\",\"true\")';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":360,"wires":[["c33a3905.ead248"]]},{"id":"e63a985b.b46798","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.topic = 'INSERT INTO \"main\".\"walogs\"(\"instance\",\"url\") VALUES (\"'+ msg.payload.i + '\",\"https://daidemos.com/' + msg.payload.i + '-WAinst.log\")';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":440,"wires":[["c33a3905.ead248"]]},{"id":"b9686877.14b838","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"smsHook","method":"post","upload":false,"swaggerDoc":"","x":180,"y":840,"wires":[["62716d8a.28c23c","60d7899.6278578"]]},{"id":"60d7899.6278578","type":"mqtt out","z":"1c2d6e78.ff8e7a","name":"","topic":"texts","qos":"2","retain":"","broker":"18c5ccd5.ef404b","x":370,"y":840,"wires":[]},{"id":"7e7e834b.898e24","type":"sqlite","z":"1c2d6e78.ff8e7a","mydb":"bb2f6fb4.d4be2","sqlquery":"msg.topic","sql":"","name":"p","x":410,"y":180,"wires":[["581e7492.704834"]]},{"id":"581e7492.704834","type":"function","z":"1c2d6e78.ff8e7a","name":"r","func":"msg.comp = \"\";\nmsg.provisioned = false;\ntry{\n    if (msg.payload[0].provisioned === \"true\"){\n        msg.provisioned = true;\n        msg.comp = \"<a style='padding-right:20px' href='https://\"+ msg.company + \"-\"+ msg.cid + \".daidemos.com/test' target='_blank'><img width='40px' height='40px' src='/static/img/conversation.svg'>Customer Page</a> <a style='padding-right:20px' href='https://\"+ msg.company + \"-\"+ msg.cid + \".daidemos.com/agent' target='_blank'><img width='40px' height='40px' src='/static/img/agent.svg'>Agent Page</a> <a style='padding-right:20px' href='https://ibm.box.com/s/h8njgz2ksgmm6ev2giuzlx9ptee5egsm' target='_blank'><img width='40px' height='40px' src='/static/img/video.svg'>Quick Overview</a> <br><br><a style='padding-right:20px' href='https://\"+ msg.company + \"-\"+ msg.cid + \".daidemos.com/a/d/z/v/r?zz=\"+ msg.company + \"' target='_blank'><img width='40px' height='40px' src='/static/img/nodered.png'>Node-Red (modify the UI's and webhooks)</a><a style='padding-right:20px' href='https://cloud.ibm.com/iam/users/invite_users' target='_blank'><svg focusable='false' preserveAspectRatio='xMidYMid meet' description='IAM UI Left nav' xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 32 32' aria-hidden='true' class='left-nav-header__icon'><path d='M24,14H22V8A6,6,0,0,0,10,8v6H8a2,2,0,0,0-2,2V28a2,2,0,0,0,2,2H24a2,2,0,0,0,2-2V16A2,2,0,0,0,24,14ZM12,8a4,4,0,0,1,8,0v6H12ZM24,28H8V16H24Z'></path></svg>Access Group</a>\";\n        \n    }\n}\ncatch(fail){}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":180,"wires":[["563b1f86.47f34"]]},{"id":"fc3d98ad.e4c0a8","type":"sqlite","z":"1c2d6e78.ff8e7a","mydb":"bb2f6fb4.d4be2","sqlquery":"fixed","sql":"select COUNT(DISTINCT d.owner) as \"USERS\"  from demobuilder d left join provisioned p on d.instance = p.instance;","name":"","x":400,"y":660,"wires":[["62716d8a.28c23c"]]},{"id":"87bd455e.78d9e","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"usercount","method":"get","upload":false,"swaggerDoc":"","x":180,"y":660,"wires":[["fc3d98ad.e4c0a8"]]},{"id":"880b4f4d.7a5038","type":"sqlite","z":"1c2d6e78.ff8e7a","mydb":"bb2f6fb4.d4be2","sqlquery":"fixed","sql":"select COUNT(DISTINCT d.instance) as \"INSTANCES\"  from demobuilder d left join provisioned p on d.instance = p.instance;","name":"","x":400,"y":620,"wires":[["62716d8a.28c23c"]]},{"id":"3292fc4.4589a84","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"instancecount","method":"get","upload":false,"swaggerDoc":"","x":190,"y":620,"wires":[["880b4f4d.7a5038"]]},{"id":"aec00c69.ed7f38","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.super = \"\";\ntry{\n    if (msg.payload.u == \"garrett\"){\n        msg.super = \"?u=garrett\";\n    }\n}catch(fail){}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":780,"wires":[["1e7ee0cd.6fb99f"]]},{"id":"28a7b141.a2d8c6","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.topic = \"select SUBSTR(d.account, 1, 3) || '*********' as account, SUBSTR(d.owner, 1, 4) || '********' as owner, REPLACE(SUBSTR(d.instance, 1, INSTR( d.instance, '-') - 1),'_',' ') as instance, d.Timestamp, p.provisioned from demobuilder d left join provisioned p on d.instance = p.instance;\";\ntry{\n    if (msg.payload.u == \"garrett\"){\n        msg.topic = \"select d.account, d.owner, '<a href=\\\"\\\\m\\\\' || REPLACE(d.instance,\\\"-\\\",\\\"/\\\") || '\\\" target=\\\"_blank\\\">' || d.instance || '</a>' as instance, d.Timestamp, '<a href=\\\"\\' || d.instance || '-WAinst.log\\\" target=\\\"_blank\\\">' || p.provisioned || '</a>' as provisioned from demobuilder d left join provisioned p on d.instance = p.instance;\";\n    }\n}catch(fail){}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":740,"wires":[["76ce03cb.c6af74"]]},{"id":"117fdd94.3a24a2","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.topic = 'UPDATE \"main\".\"provisioned\" SET \"provisioned\" = \"decom\" where \"instance\" = \"'+ msg.payload.i + '\";';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":400,"wires":[["c33a3905.ead248"]]},{"id":"9d78640f.59d8d8","type":"inject","z":"1c2d6e78.ff8e7a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":860,"y":660,"wires":[["8f7ca9cf.60e5b"]]},{"id":"8f7ca9cf.60e5b","type":"exec","z":"1c2d6e78.ff8e7a","command":"ls /etc/nginx/sites-enabled/","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1080,"y":660,"wires":[["f155898c.3bee8"],[],[]]},{"id":"f155898c.3bee8","type":"split","z":"1c2d6e78.ff8e7a","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1290,"y":660,"wires":[["9176e563.6b362"]]},{"id":"9176e563.6b362","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.topic = 'UPDATE \"main\".\"provisioned\" SET \"provisioned\" = \"true\" where \"instance\" = \"'+ msg.payload + '\";';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1440,"y":660,"wires":[["c33a3905.ead248"]]},{"id":"ab48c1cd.6ca08","type":"function","z":"1c2d6e78.ff8e7a","name":"","func":"msg.topic = 'UPDATE \"main\".\"provisioned\" SET \"provisioned\" = \"decom\" where \"provisioned\" = \"true\";';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1440,"y":620,"wires":[["c33a3905.ead248"]]},{"id":"f249b367.afd5b8","type":"http in","z":"1c2d6e78.ff8e7a","name":"","url":"activecount","method":"get","upload":false,"swaggerDoc":"","x":180,"y":580,"wires":[["a0a0eaae.9b3b38"]]},{"id":"a0a0eaae.9b3b38","type":"sqlite","z":"1c2d6e78.ff8e7a","mydb":"bb2f6fb4.d4be2","sqlquery":"fixed","sql":"select COUNT(DISTINCT d.instance) as \"INSTANCES\"  from demobuilder d left join provisioned p on d.instance = p.instance where p.provisioned = \"true\";","name":"","x":400,"y":580,"wires":[["62716d8a.28c23c"]]},{"id":"704e9d12.2ef6a4","type":"inject","z":"1c2d6e78.ff8e7a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1280,"y":620,"wires":[["ab48c1cd.6ca08"]]}]
